<div class="md:flex flex-col md:flex-row md:min-h-screen w-full bg-white">
  <app-side-bar></app-side-bar>
  <div class="my-10 px-4 md:px-10 text-gray-600 w-full">
    <h1 class="text-xl font-bold text-gray-600">Utilisateurs</h1>
    <div class="flex flex-row gap-5 mt-8 ml-5 md:gap-20 mb-20">
      <div class="py-2">Conseillères</div>
      <div class="py-2">Hôtesses</div>
      <div class="py-2">Clientes</div>
      <div class="py-2 border-b-2 border-primary text-gray-400">
        En cours de validation
      </div>
    </div>
    <div class="pl-5 text-lg mb-10 font-bold">Rechercher</div>
    <div class="w-full overflow-x-scroll">
      <table class="min-w-full table-auto">
        <thead class="justify-between">
          <tr class="bg-white text-primary text-center border border-primary">
            <th class="px16 py-2">
              <span class="text-primary text-center">Nom et prenom</span>
            </th>
            <th class="px16 py-2">
              <span class="text-primary">Mail</span>
            </th>

            <th class="px16 py-2">
              <span class="text-primary">Ville</span>
            </th>

            <th class="px16 py-2">
              <span class="text-primary">Utilisateur</span>
            </th>
            <th class="px16 py-2">
              <span class="text-primary">&nbsp;</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200 text-center">
          <tr *ngFor="let item of items" class="bg-white border border-primary">
            <td class="">
              <span class="text-center ml-2 font-semibold"
                >{{ item.prenom }} {{ item.nom }}</span
              >
            </td>
            <td>
              <span class="text-center ml-2 font-semibold">{{
                item.email
              }}</span>
            </td>
            <td class="px16 py-2">{{ item.ville }}</td>

            <td class="px16 py-2">
              <span>{{ item.role.nom }}</span>
            </td>

            <td class="px16 py-2">
              <button
                class="text-white px-2 py-2 border rounded-md btn"
                (click)="validate(item._id)"
              >
                Valider
              </button>
            </td>
          </tr>
          <!-- <tr class="bg-white border-4 border-gray-200">
            <td class="px-16 py-2 flex flex-row items-center">
              <img
                class="h-8 w-8 rounded-full object-cover"
                src="https://randomuser.me/api/portraits/men/76.jpg"
                alt=""
              />
            </td>
            <td>
              <span class="text-center ml-2 font-semibold">Ralph Barnes</span>
            </td>
            <td class="px-16 py-2">
              <button
                class="
                  bg-indigo-500
                  text-white
                  px-4
                  py-2
                  border
                  rounded-md
                  hover:bg-white hover:border-indigo-500 hover:text-black
                "
              >
                Open Link
              </button>
            </td>
            <td class="px-16 py-2">
              <span>05/06/2020</span>
            </td>
            <td class="px-16 py-2">
              <span>12:15</span>
            </td>

            <td class="px-16 py-2">
              <span class="text-yellow-500">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#2c3e50"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" />
                  <circle cx="12" cy="12" r="9" />
                  <polyline points="12 7 12 12 15 15" />
                </svg>
              </span>
            </td>
          </tr>
          <tr class="bg-white border-4 border-gray-200">
            <td class="px-16 py-2 flex flex-row items-center">
              <img
                class="h-8 w-8 rounded-full object-cover"
                src="https://randomuser.me/api/portraits/men/38.jpg"
                alt=""
              />
            </td>
            <td>
              <span class="text-center ml-2 font-semibold">Brett Castillo</span>
            </td>
            <td class="px-16 py-2">
              <button
                class="
                  bg-indigo-500
                  text-white
                  px-4
                  py-2
                  border
                  rounded-md
                  hover:bg-white hover:border-indigo-500 hover:text-black
                "
              >
                Open Link
              </button>
            </td>
            <td class="px-16 py-2">
              <span>05/06/2020</span>
            </td>
            <td class="px-16 py-2">
              <span>08:35</span>
            </td>

            <td class="px-16 py-2">
              <span class="text-yellow-500">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#2c3e50"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" />
                  <line x1="18" y1="6" x2="6" y2="18" />
                  <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
              </span>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
