<app-header></app-header>
<div class="md:flex flex-col md:flex-row md:min-h-screen w-full bg-white">
  <app-side-conseillere></app-side-conseillere>
  <div class="my-10 px-4 md:px-10 text-gray-600 w-full space-y-20">
    <div class="font-semibold text-2xl">Ajout d’un atelier</div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <form action="" [formGroup]="atelierForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col gap-8">
          <div>
            <select
              class="rounded h-10 px-2 w-full"
              name=""
              id=""
              formControlName="place"
              style="background-color: transparent"
            >
              <option
                class="bg-white border-none"
                value="domicile"
                selected="selected"
              >
                Atelier à domicile
              </option>
              <option value="ligne">Atelier en ligne</option>
            </select>
          </div>
          <div>
            <input
              placeholder="Nombre de participants"
              type="number"
              name=""
              formControlName="participants"
              class="rounded h-10 px-2 w-full"
              id=""
            />
          </div>
          <!-- <div>
            <input
              placeholder="Places disponibles online"
              type="number"
              name=""
              class="rounded h-10 px-2 w-full"
              id=""
            />
          </div> -->
          <div>
            <input
              placeholder="Thèmes événements"
              type="text"
              name=""
              class="rounded h-10 px-2 w-full"
              id=""
              formControlName="theme"
            />
          </div>
          <div>
            <input
              placeholder=""
              type="text"
              name=""
              class="rounded h-10 px-2 w-full"
              id=""
              formControlName="date"
            />
          </div>
          <div>
            <input
              placeholder="Nom de l’hôtesse"
              type="text"
              name=""
              class="rounded h-10 px-2 w-full"
              id=""
              formControlName="nomHotesse"
            />
          </div>
          <div>
            <input
              placeholder="Prénom de l’hôtesse"
              type="text"
              name=""
              class="rounded h-10 px-2 w-full"
              id=""
              formControlName="prenomHotesse"
            />
          </div>
          <div>
            <input
              placeholder="Adresse de l’hôtesse"
              type="text"
              name=""
              class="rounded h-10 px-2 w-full"
              id=""
              formControlName="adresse"
            />
          </div>
          <div class="w-full grid grid-cols-3 gap-3">
            <div>
              <input
                placeholder="Code postal"
                type="number"
                name=""
                class="rounded h-10 px-2 w-full"
                id=""
                formControlName="postal"
              />
            </div>
            <div class="">
              <input
                placeholder="Ville"
                type="text"
                name=""
                class="rounded h-10 px-2 w-full"
                id=""
                formControlName="ville"
              />
            </div>
            <div>
              <input
                placeholder="Heure"
                type="number"
                name=""
                class="rounded h-10 px-2 w-full"
                id=""
                formControlName="heure"
              />
            </div>
          </div>
        </div>
        <button
          class="bg-primary rounded-md px-3 py-2 text-white font-semibold mt-5"
          type="submit"
        >
          Valider l’événement
        </button>
      </form>
      <div class="col-span-1">
        <full-calendar [options]="calendarOptions"></full-calendar>
        <!-- <button (click)="toggleWeekends()">toggle weekends</button> -->
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
