<app-header></app-header> 
<div class="px-10 md:px-32 space-y-5 mb-10">
    <div class="">
        <div class="text-center text-2xl my-5" style="color: #FF3E79;">Les diverses influences sur les cheveux</div>
        <div class="">
            Nos cheveux réagissent différemment, d’une saison à une autre. Notre suivant des cycles 
            biologique semblable à ceux de la nature, notre métabolisme varie à chaque variation 
            climatique de l’environnement (ensoleillement, température… )
        </div>
        <div class="">
            L’horloge biologique de chaque être humain permet à l’organisme d’adapter son fonctionnement 
            aux changements périodiques de l’environnement. Il est donc normal que vous constatiez une 
            chute de vos cheveux en automne et au printemps par exemple. À ces périodes vous pourrez 
            constater des pertes de cheveux comprises entre 50 et 100 cheveux pa jour.
        </div>
    </div>
    <div class="">
        <span style="color: #FF3E79;">L’automne</span>, avec des températures douces, agrémenter des journées de pluies et d’une 
        atmosphère le plus souvent humide constitue l’une des saisons où l’on constate le plus de chutes 
        capillaires. Les cheveux perdent en vitalité, sont faible en ternes.<span style="color: green;"> Il est conseillé alors dans 
        ce cas, d’assainir le cuir chevelu, de réaliser des soins hydratants, de nourrir racines pour vos 
        constituer des cheveux sains et forts, de stimuler vos follicules et enfin de revitaliser vos 
        longueurs.</span>
    </div>
    <div class="">
        <div class="">
            <span style="color: #FF3E79;">L’hiver</span>, avec l’arrivée des températures basses, de 
            journées enneigées et  de périodes pluvieuses, vos cheveux s’achètent, s’abiment et se cassent 
            assez facilement, ceci dû au fond de l’air plus froid et sec.
        </div>
        <div class="" style="color: green;">
            Il est donc conseillé de protéger ses cheveux, d’hydrater et d’assurer votre cuir chevelu, 
            de réaliser des soins profonds, de nourrir les racines en prenant notamment des compléments 
            alimentaire ou sérum capillaire.
        </div>
    </div>
    <div class="">
        <span style="color: #FF3E79;">Le printemps</span>, coïncide avec l’arrivée des températures douces 
        et des journées ensoleillées, les cheveux ont besoins de plus de force et de vitamines. Les cheveux 
        sont en pleine repousse.<span style="color: green;"> Il est donc conseillé d’adopter une alimentation saine et pratiquer le sport, 
        détoxifier le cuir chevelu, prendre des compléments alimentaires.</span>
    </div>
    <div class="">
        <span style="color: #FF3E79;">L’été</span>, avec l’arrivée des températures élevées et des journées 
        ensoleillées, les cheveux sont plus secs et ont tendances à se déshydrater plus facilement. Ils ont 
        tendance à être plus ternes et dévitalisés.<span style="color: green;"> Il est donc conseillé de limiter l’exposition des cheveux 
        au soleil, boire beaucoup d’eau, réaliser des soins hydratant et fortifiants, garder ses cheveux à 
        l’état naturel le plus possible.</span>
    </div>
    <div class="relative">
        <img src="assets/main.svg" alt="" class="absolute" />
        <div class="pl-16">
            Les cheveux secs quand il fait très chaud ou très froid :
        </div>
        <div class="">
            En cas de forte chaleur ou de grand froid, le fond d’air est plus sec, ce qui a pour conséquence à 
            favoriser l’évaporation d’eau contenue dans les cheveux, les cheveux deviennent secs. Il est donc 
            conseillé de vaporiser de sur vos cheveux.
        </div>
      </div>
      <div class="relative">
        <img src="assets/main.svg" alt="" class="absolute" />
        <div class="pl-16">
            L’humidité et les cheveux :
        </div>
        <div class="">
            Par temps humide, il énormément de molécules d’eau dans l’air. Le cheveux est très sensible au 
            taux d’hydrogène dans l’air. La kératine cheveu est constituée de liaisons d’hydrogène. La 
            molécule d’eau attire la liaison d’hydrogène de la kératine et elles ont tendance à se 
            rapprocher. On le constate à travers les frisottis, l’augmentation du volume des boucles, 
            le gonflement des cheveux, les cheveux qui deviennent poreux.
        </div>
      </div>
</div>
<app-footer></app-footer>
