<app-header></app-header>
<div
  class="
    flex flex-col
    items-center
    px-5
    space-y-10
    my-10
    md:space-y-0
    md:px-32
    md:flex-row
    md:justify-between
    md:gap-10
    md:items-start
    md:space-x-20
  "
  *ngIf="page2"
>
  <div class="space-y-5 w-36 md:w-48">
    <div class="flex flex-col items-center justify-center">
      <!-- <img  src="assets/profil.svg" alt="" /> -->
      <img
        class="w-40 rounded-full"
        [src]="
          userData.imageURL
            ? 'http://93.90.207.75:3000/' + userData.imageURL
            : 'assets/profil.svg'
        "
        alt=""
        srcset=""
      />
      <div class="flex flex-col items-center">
        <div class="flex flex-row gap-2">
          Modifier mon profil
          <div class="cursor-pointer hover">
            <img src="assets/edit.svg" alt="" srcset="" />
          </div>
        </div>
        <input
          type="file"
          name=""
          (change)="profileImage($event)"
          id=""
          style="border: none !important"
        />
      </div>
    </div>
    <div
      class="cursor-pointer text-center w-full rounded-md h-10 pt-2"
      style="background-color: #ff3e79; color: #fff"
      [ngClass]="page1 ? 'opacity-60' : 'opacity-100'"
      routerLink="/dash/cliente"
    >
      Mon compte
    </div>
    <div
      class="cursor-pointer text-center w-full rounded-md h-10 pt-2"
      style="background-color: #ff3e79; color: #fff"
      routerLink="/profil-beaute"
      [ngClass]="page2 ? 'opacity-60' : 'opacity-100'"
    >
      Mon profil beauté
    </div>
    <div
      class="cursor-pointer text-center w-full rounded-md h-10 pt-2"
      style="background-color: #ff3e79; color: #fff"
      routerLink="/mes-produits"
      [ngClass]="page3 ? 'opacity-60' : 'opacity-100'"
    >
      <button>Mes produits</button>
    </div>
  </div>
  <div
    class="
      flex flex-col
      items-center
      rounded-lg
      md:w-9/12
      border-2
      py-5
      px-2
      space-y-10
    "
    
    style="border-color: #ff3e79"
    *ngIf="profil"
  >
    <div class="text-center">
      <p>Pour recevoir des recommandations de produits adaptés,</p>
      <p>pour vous aider à réaliser vos programmes capillaires,</p>
      <p>nous avons besoin des informations suivantes :</p>
    </div>
    <form class="grid grid-cols-2 gap-4 items-center place-items-center" [formGroup]="algo" (ngSubmit)="register()">
      <div class="w-full flex flex-col pt-6 md:pt-0">
        <label for="" class="w-full">Nature des cheveux</label>
        <select name="" id="1" class="rounded-md text-primary" formControlName="title1">
          <option value="cheveux normaux">cheveux normaux</option>
          <option value="cheveux secs">cheveux secs</option>
          <option value="cheveux gras">cheveux gras</option>
        </select>
      </div>
      <div class="w-full flex flex-col">
        <label for="" class="w-full whitespace-pre-line">Problématique de cheveux</label>
        <select name="" id="" class="rounded-md text-primary" formControlName="title2">
          <option value="cheveux peu poreux">cheveux peu poreux</option>
          <option value="cheveux très poreux">cheveux très poreux</option>
          <option value="cheveux gras">cheveux gras</option>
          <option value="cheveux abimés ou cassants">cheveux abimés ou cassants</option>
          <option value="5">cheveux en transition</option>
          <option value="cheveux en transition">cheveux défrises ou lissés</option>
          <option value="pellicules">pellicules</option>
        </select>
      </div>
      <div class="w-full flex flex-col">
        <label for="" class="w-full">Texture de cheveux</label>
        <select name="" id="" class="rounded-md text-primary" formControlName="title3">
          <option value="cheveux épais">cheveux épais</option>
          <option value="cheveux fins">cheveux fins</option>
          <option value="cheveux soyeux">cheveux soyeux</option>
        </select>
      </div>
      <div class="w-full flex flex-col">
        <label for="" class="w-full">Type de cheveux</label>
        <select name="" id="" class="rounded-md text-primary" formControlName="title4">
          <option value="cheveux bouclés">cheveux bouclés</option>
          <option value="cheveux crépus">cheveux crépus</option>
          <option value="cheveux frisés">cheveux frisés</option>
          <option value="cheveux lisse">cheveux lisse</option>
        </select>
      </div>
      <div class="w-full flex flex-col">
        <label for="" class="w-full">Longueur des cheveux</label>
        <select name="" id="" class="rounded-md text-primary" formControlName="title5">
          <option value="cheveux court">cheveux court</option>
          <option value="cheveux mi-long">cheveux mi-long</option>
          <option value="cheveux long">cheveux long</option>
        </select>
      </div>
      <div class="col-span-2 w-40 h-10 cursor-pointer">
        <button
          type="submit"
          class="btn rounded-md w-full h-full"
          style="background-color: #ff3e79; color: #fff"
        >
          Enregistrer
        </button>
      </div>
    </form>
  </div>
  <div class=" border-2 rounded-md border-primary space-y-5 px-5 md:w-9/12 py-3" *ngIf="objectif">
    <div class="text-2xl text-center">
      Quels sont les objectifs capillaires que cous souhaiteriez atteindre ?
    </div>
    <form class="space-y-5 md:pl-10">
      <div class="flex flex-row items-center space-x-3">
        <input type="checkbox" name="" id="1">
        <label for="" class="">Réparer vos cheveux très secs et abîmés</label>
      </div>
      <div class="flex flex-row items-center space-x-3">
        <input type="checkbox" name="" id="2">
        <label for="">Eliminer vos pellicules durablement</label>
      </div>
      <div class="flex flex-row items-center space-x-3">
        <input type="checkbox" name="" id="3">
        <label for="">Lutter contre la chute des cheveux</label>
      </div>
      <div class="flex flex-row items-center space-x-3">
        <input type="checkbox" name="" id="4">
        <label for="">Définir vos boucles, les renforcer, les ressérer</label>
      </div>
      <div class="flex flex-row items-center space-x-3">
        <input type="checkbox" name="" id="5">
        <label for="">Cheveux plus long et sains, stimuler la pousse</label>
      </div>
      <div class="flex flex-row items-center space-x-3">
        <input type="checkbox" name="" id="6">
        <label for="">Densifier votre chevelure</label>
      </div>
      <div class="flex flex-row items-center space-x-3">
        <input type="checkbox" name="" id="7">
        <label for="">Apaiser votre cuir chevelu sensible</label>
      </div>
      <div class="flex flex-row items-center space-x-3">
        <input type="checkbox" name="" id="8">
        <label for="">Apporter du volume à vos cheveux</label>
      </div>
      <div class="flex flex-row items-center space-x-3">
        <input type="checkbox" name="" id="9">
        <label for="">Revenir au naturel</label>
      </div>
      <div class="flex flex-col items-center">
        <button class="text-center btn rounded-md w-32 h-10 mb-5 uppercase">decouvrir</button>
      </div>
    </form>
  </div>
  <div class="space-y-5 border-2 border-primary rounded-md px-3 py-2 md:w-9/12" *ngIf="answer">
    <div class="text-center">
      Félicitation ! Nous avons enregistré vos 
      informations capillaire, d’après ce que 
      vous nous avez indiqué. 
      votre profil beauté est disponible. 
      Celui-ci vous permettra d’obtenir  des 
      recommandations de produits adaptés 
      à vos cheveux, de réaliser vos programmes 
      capillaires…
    </div>
    <div class="flex flex-col items-center">
      <div class="cursor-pointer">
        <button class="btn rounded-md h-10 w-56 mb-5" (click)="final=true; answer=false; profil=false; objectif=false">Découvrir votre profil beauté</button>
      </div>
    </div>
  </div>
  <div class="md:w-9/12" *ngIf="final">
    <fieldset class="border-2 border-primary rounded-md px-3 py-2 space-y-5 md:w-full">
      <legend class="text-center px-5 font-bold">Votre profil beauté</legend>
      <div class="text-center">
        {{userData.prenom}} d’après ce que nous vous avons indiqué,
        les besoins de vos cheveux correspondent à
        ce type de cheveux : cheveux fins en manque
        de densité et de volume peut laisser le cuir
        chevelu visible par endroit. Le problème peut 
        apparaitre progressivement ou être plus 
        permanent. 
        Les besoins de votre cuir chevelu correspondent
        à cette situation : <span class="text-primary cursor-pointer">régénération</span>
      </div>
      <div class="flex flex-col items-center space-y-3">
        <div class="cursor-pointer" routerLink="/mes-produits">
          <button class="w-72 h-10 btn rounded-md text-center">
            Découvrir votre routine sur mesure
          </button>
        </div>
        <fieldset class="w-56" style="border-top-width: 1px; border-color: #A3A19F;">
          <legend class="px-3 text-center text-sm" style="text-decoration-color: #A3A19F;">Ou</legend>
        </fieldset>
        <div class="cursor-pointer" (click)="profil=false; answer=false; final=false; objectif=true" routerLink="/mes-produits">
          <button class="w-72 h-10 btn rounded-md text-center">
            Atteindre un objectif capillaire
          </button>
        </div>
        <div class="cursor-pointer underline text-primary text-center text-sm mb-5" (click)="profil=true; answer=false; final=false; objectif=false">Modifier son profil beauté</div>
      </div>
    </fieldset>
  </div>
</div>
<app-footer></app-footer>