<app-header></app-header>
<div class="flex flex-col items-center px-10 my-10 space-y-5 md:space-y-0 md:px-32 md:space-x-10 md:flex-row md:justify-between">
    <div class="flex flex-col items-center space-y-5 md:space-y-0 md:flex-row md:space-x-24 md:justify-between">
        <div class="space-y-5">
            <div>
                <img src="assets/profil.svg" alt="">
            </div>
            <div class="cursor-pointer text-center w-full rounded-md h-10 pt-2" style="background-color: #FF3E79; color: #fff;">Mon compte</div>
            <div class="cursor-pointer text-center w-full rounded-md h-10 pt-2" style="background-color: #FF3E79; color: #fff;">Mon profil beauté</div>
            <div class="cursor-pointer  text-center w-full rounded-md h-10 pt-2" style="background-color: #FF3E79; color: #fff;">Mes produits</div>
        </div>
        <div class="flex flex-col items-center border-2 md:w-11" style="border-color: #FF3E79;">
            <div class="px-10 space-y-5 my-5">
                <div>
                    <label for="">Nom</label>
                    <input type="text" name="" id="" class="border-2 w-full opacity-70" style="border-color: #FF3E79;">
                </div>
                <div>
                    <label for="">Prénom</label>
                    <input type="text" name="" id="" class="border-2 w-full" style="border-color: #FF3E79;">
                </div>
                <div class="md:col-span-2">
                    <label for="">Email</label>
                    <input type="text" name="" id="" class="border-2 w-full" style="border-color: #FF3E79;">
                </div>
                <div class="md:col-span-2">
                    <label for="">mot de passe</label>
                    <input type="text" name="" id="" class="border-2 w-full" style="border-color: #FF3E79;">
                </div>
            </div>
            <div class="cursor-pointer text-center rounded-md mb-5" style="background-color: #FF3E79; color: #fff;">Enregistrer</div>
        </div>
    </div>
    <div class="flex flex-row cursor-pointer rounded-md" style="background-color: #FF3E79; color: #fff;">
        <img src="assets/deconnect.svg" alt="" class="pl-2">
        <h1 class="pl-2">se déconnecter</h1>
    </div>
</div>
<app-footer></app-footer>


