<app-header></app-header>
<div
  class="hidden md:flex md:flex-row justify-between my-10 md:px-32"
  style="color: #ff3e79"
>
  <div class="cursor-pointer hover" routerLink="/hotesse">Accueil</div>
  <div class="cursor-pointer hover">Mes ateliers</div>
  <div class="cursor-pointer hover" routerLink="/hotesse-cadeau">
    Choisir mon cadeau
  </div>
  <div class="cursor-pointer hover" routerLink="/hotesse-releve-point">
    Mon relevé de points
  </div>
</div>
<div class="text-gray-600 px-10 flex flex-col items-center space-y-5 mb-10">
  <div class="absolute left-5 top-10 cursor-pointer md:hidden">
    <img src="assets/flechePink.svg" alt="" class="" />
  </div>
  <div class="font-bold text-2xl" style="color: #ff3e79">
    Choisir mon cadeau
  </div>
</div>
<hr class="" style="border-color: #ff3e79" />
<div class="px-10 flex flex-col items-center space-y-5">
  <div class="mt-5" style="color: #ff3e79">
    Tous les cadeaux que je peux recevoir
  </div>
  <div class="">Vos points expireront le 19/11/19</div>
  <div class="">
    <img src="assets/jaugePoint.svg" alt="" />
  </div>
</div>
<div
  class="border-2 w-full text-center my-5 px-12 text-2xl"
  style="background-color: #f2f2f2"
>
  Choisir mon cadeau
</div>
<div class="px-10 flex flex-col items-center mb-10">
  <div class="grid grid-cols-2 gap-10 md:grid-cols-3 md:gap-24 mt-10">
    <div class="flex flex-col items-center text-center shadow-lg md:w-80">
      <div
        class="w-full rounded-t-lg"
        style="background-color: #333e57e5; color: #fff"
      >
        Crème boucles
      </div>
      <img src="assets/creme.svg" alt="" class="h-32" />
      <div
        class="w-full cursor-pointer rounded-b-lg"
        style="background-color: #ff3e79; color: #fff"
      >
        Ajouter
      </div>
    </div>
    <div class="flex flex-col items-center text-center shadow-lg rounded-lg">
      <div
        class="w-full rounded-t-lg"
        style="background-color: #333e57e5; color: #fff"
      >
        Crème boucles
      </div>
      <img src="assets/lotion.svg" alt="" class="h-32" />
      <div
        class="w-full cursor-pointer rounded-b-lg"
        style="background-color: #ff3e79; color: #fff"
      >
        Ajouter
      </div>
    </div>
    <div class="flex flex-col items-center text-center shadow-lg">
      <div
        class="w-full rounded-t-lg"
        style="background-color: #333e57e5; color: #fff"
      >
        Crème boucles
      </div>
      <img src="assets/edge.svg" alt="" class="h-32" />
      <div
        class="w-full cursor-pointer rounded-b-lg"
        style="background-color: #ff3e79; color: #fff"
      >
        Ajouter
      </div>
    </div>
    <div class="flex flex-col items-center text-center shadow-lg">
      <div
        class="w-full rounded-t-lg"
        style="background-color: #333e57e5; color: #fff"
      >
        Crème boucles
      </div>
      <img src="assets/perruque.svg" alt="" class="h-32" />
      <div
        class="w-full cursor-pointer rounded-b-lg"
        style="background-color: #ff3e79; color: #fff"
      >
        Ajouter
      </div>
    </div>
    <div class="md:flex flex-col items-center hidden text-center shadow-lg">
      <div
        class="w-full rounded-t-lg"
        style="background-color: #333e57e5; color: #fff"
      >
        Crème boucles
      </div>
      <img src="assets/lotion.svg" alt="" class="h-32" />
      <div
        class="w-full cursor-pointer rounded-b-lg"
        style="background-color: #ff3e79; color: #fff"
      >
        Ajouter
      </div>
    </div>
    <div class="hidden md:flex flex-col items-center text-center shadow-lg">
      <div
        class="w-full rounded-t-lg"
        style="background-color: #333e57e5; color: #fff"
      >
        Crème boucles
      </div>
      <img src="assets/creme.svg" alt="" class="h-32" />
      <div
        class="w-full cursor-pointer rounded-b-lg"
        style="background-color: #ff3e79; color: #fff"
      >
        Ajouter
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
