<app-header></app-header>
<div
  class="hidden md:flex md:flex-row justify-between my-10 md:px-32"
  style="color: #ff3e79"
>
  <div class="cursor-pointer hover" routerLink="/hotesse">Accueil</div>
  <div class="cursor-pointer hover" routerLink="/hotesse-atelier">
    Mes ateliers
  </div>
  <div class="cursor-pointer hover" routerLink="/hotesse-cadeau">
    Choisir mon cadeau
  </div>
  <div class="cursor-pointer hover" routerLink="/hotesse-releve-point">
    Mon relevé de points
  </div>
</div>
<div class="text-gray-600 px-10 flex flex-col items-center space-y-5 mb-10">
  <div class="absolute left-5 top-10 cursor-pointer md:hidden">
    <img src="assets/flechePink.svg" alt="" class="" />
  </div>
  <div class="font-bold text-2xl" style="color: #ff3e79">
    Choisir mon cadeau
  </div>
</div>
<hr class="" style="border-color: #ff3e79" />
<div class="px-10 flex flex-col items-center space-y-5">
  <div class="mt-5" style="color: #ff3e79">
    Tous les cadeaux que je peux recevoir
  </div>
  <div class="">
    Il vous reste
    <span class="text-2xl font-semibold">{{ point.nombre }}</span> points
  </div>
  <div class="">
    <img src="assets/jaugePoint.svg" alt="" />
  </div>
</div>
<div
  class="border-2 w-full text-center my-5 px-12 text-2xl"
  style="background-color: #f2f2f2"
>
  Choisir mon cadeau
</div>
<div class="px-10 flex flex-col items-center mb-10">
  <div class="grid grid-cols-2 gap-10 md:grid-cols-3 md:gap-24 mt-10">
    <div
      class="flex flex-col items-center text-center shadow-lg md:w-80"
      *ngFor="let item of items"
    >
      <div
        class="w-full rounded-t-lg"
        style="background-color: #333e57e5; color: #fff"
      >
        {{ item.produit.nom }}
      </div>
      <img
        [src]="serverURL + '/' + item.produit.imageURL"
        alt=""
        class="h-32"
      />
      <div
        class="w-full cursor-pointer rounded-b-lg"
        style="background-color: #ff3e79; color: #fff"
        (click)="removePoint(item.produit.prix, item.produit._id)"
      >
        Ajouter -{{ item.produit.prix }} points
      </div>
    </div>
  </div>
</div>
<div
  class="border-2 w-full text-center my-5 px-12 text-2xl"
  style="background-color: #f2f2f2"
>
  Mes cadeaux commandés
</div>

<div class="px-10 flex flex-col items-cente mb-10">
  <div class="grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-5 mt-10">
    <div
      class="
        border border-gray-400
        rounded-xl
        py-2
        px-2
        border-l-8
        flex flex-row
        gap-4
        items-center
        justify-between
      "
      *ngFor="let item of cadeau"
    >
      <div class="flex flex-row gap-4 items-center">
        <div class="">
          <img
            class="h-24 w-auto"
            [src]="serverURL + '/' + item.produit.imageURL"
            alt=""
            srcset=""
          />
        </div>
        <div class="flex flex-col">
          <div class="text-gray-500">{{ item.produit.nom }}</div>
          <div class="text-gray-500">{{ item.produit.prix }}pts</div>
        </div>
        <div class="text-4xl text-gray-500 font-bold">X</div>
        <div class="text-4xl text-gray-500 font-bold">{{ item.qte }}</div>
      </div>
      <div
        class="cursor-pointer hover"
        (click)="removeCadeau(item._id, item.qte, item.produit.prix)"
      >
        <img src="assets/trash.svg" alt="" srcset="" />
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
