<app-header></app-header>
<!-- <app-hotesse-header></app-hotesse-header> -->
<div
  class="hidden md:flex md:flex-row justify-between my-10 md:px-32"
  style="color: #ff3e79"
>
  <div class="cursor-pointer hover" routerLink="/hotesse">Accueil</div>
  <div class="cursor-pointer hover">Mes ateliers</div>
  <div class="cursor-pointer hover" routerLink="/hotesse-cadeau">
    Choisir mon cadeau
  </div>
  <div class="cursor-pointer hover" routerLink="/hotesse-releve-point">
    Mon relevé de points
  </div>
</div>
<div
  class="
    text-gray-600
    flex flex-col
    items-center
    md:justify-between
    px-10
    md:px-32
    my-10
    md:mt-20
  "
>
  <div class="my-10 md:hidden font-bold text-2xl" style="color: #ff3e79">
    Accueil
  </div>
  <div
    class="
      flex flex-col
      items-center
      md:border-2 md:w-8/12 md:justify-center md:relative md:px-5 md:h-auto
    "
    style="border-color: #ff3e79"
  >
    <div
      class="
        rounded-full
        w-24
        h-24
        flex flex-col
        items-center
        pt-4
        md:absolute
        -top-10
      "
      style="background-color: #333e57; color: #fff"
    >
      <img src="assets/cadeau.svg" alt="" />
      <div class="">Hôtesse</div>
    </div>
    <div class="font-bold mt-5 md:mt-16 text-2xl">Bonjour Sophie</div>
    <div class="flex items-center my-20 space-x-2" style="color: #ff3e79">
      <div class="text-3xl">200 Points</div>
      <img src="assets/cadeauPink.svg" alt="" class="h-8" />
    </div>
    <div class="text-center font-semibold mb-10">
      Vous êtes hôtesse et membre Bigoodee
    </div>
    <div class="grid grid-cols-2 gap-4 md:grid-cols-4 md:gap-5 md:mb-10 px-5">
      <div
        class="
          border-2
          flex flex-col
          items-center
          py-5
          text-center
          cursor-pointer
          hover
        "
        style="border-color: #ff3e79"
      >
        <img src="assets/bus.svg" alt="" class="h-12" />
        <div>Mes commandes</div>
      </div>
      <div
        class="
          border-2
          flex flex-col
          items-center
          py-5
          text-center
          cursor-pointer
          hover
        "
        style="border-color: #ff3e79"
        routerLink="/hotesse-cadeau"
      >
        <img src="assets/noeud.svg" alt="" class="h-12" />
        <div>Choisir mon cadeau</div>
      </div>
      <div
        class="
          border-2
          flex flex-col
          items-center
          py-5
          text-center
          cursor-pointer
          hover
        "
        style="border-color: #ff3e79"
        routerLink="/hotesse-releve-point"
      >
        <img src="assets/etoile.svg" alt="" class="h-12" />
        <div>Mon relevé de points</div>
      </div>
      <div
        class="
          border-2
          flex flex-col
          items-center
          py-5
          text-center
          cursor-pointer
          hover
        "
        style="border-color: #ff3e79"
      >
        <img src="assets/calendar.svg" alt="" class="h-12" />
        <div>Mes ateliers</div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
