<app-header></app-header>
<div class="flex flex-col px-5 my-10 space-y-10 md:px-32">
  <div
    class="md:space-x-44 flex flex-row justify-center md:my-10"
    style="color: #ff3e79"
  >
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/connaitre-ses-cheveux"
    >
      Connaitre ses cheveux
    </div>
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/routine-capillaire"
    >
      Routines capillaires
    </div>
    <div
      class="
        hidden
        font-bold
        cursor-pointer
        border-b-2
        hove
        md:flex
        hoverlinkeffet
      "
      style="border-color: #ff3e79"
      routerLink="/programmes/recette"
    >
      Recettes
    </div>
  </div>
  <div class="relative flex flex-col items-center" style="color: #ff3e79">
    <div class="font-bold py-5 z-50 text-2xl">Les masques et soins</div>
    <img
      src="assets/shampoingTitle.svg"
      alt=""
      class="absolute w-72 justify-center top-0"
    />
  </div>
  <div
    class="
      flex flex-col
      items-center
      md:flex-row md:justify-around md:px-20 md:-space-x-32
    "
  >
    <div
      class="
        border-2
        px-2
        py-3
        flex flex-col
        items-center
        space-y-5
        mb-5
        md:w-96
      "
    >
      <div class="">
        <img src="assets/masques.svg" alt="" class="" />
      </div>
      <div class="">Les masques et soins</div>
    </div>
    <div class="space-y-5 text-2xl" style="color: #ff3e79">
      <div class="cursor-pointer" routerLink="/programmes/masque-cafe">
        Les masques
      </div>
      <div class="cursor-pointer" routerLink="/programmes/soins-capillaire">
        Les soins
      </div>
      <div class="cursor-pointer">Les colorations</div>
    </div>
  </div>
</div>
<app-footer></app-footer>
