<app-header></app-header>
<div class="flex flex-col items-center md:px-20 px-10 text-gray-600 relative">
    <div class="my-5 md:space-x-44 flex flex-row justify-center md:my-10" style="color: #ff3e79">
        <div
          class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
          routerLink="/programmes/connaitre-ses-cheveux"
        >
          Connaitre ses cheveux
        </div>
        <div
          class="font-bold cursor-pointer border-b-2 hove hoverlinkeffet"
          style="border-color: #ff3e79"
          routerLink="/programmes/routine-capillaire"
        >
          Routines capillaires
        </div>
        <div
          class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
          routerLink="/programmes/recette"
        >
          Recettes
        </div>
    </div>
    <div
        class="
        flex flex-col
        items-center
        space-y-3
        mb-10
        mt-5
        md:grid md:grid-cols-2 md:gap-60 md:px-0 md:space-y-0
        "
    >
        <button
        class="whitespace-nowrap"
        [ngClass]="
            page1
            ? 'border-2 w-full rounded-md p-3 text-white bg-primary'
            : 'border-2 w-full rounded-md p-3 border-primary text-primary bg-white'
        "
        (click)="page1 = true; page2 = false; page = false"
        routerLink="/programmes/routine-capillaire-avec-objectif-à-atteindre"
        >
        Routine avec objectif à atteindre
        </button>
        <button
        class="whitespace-nowrap"
        (click)="page2 = true; page1 = false; page = false"
        [ngClass]="
            page2
            ? 'border-2 w-full rounded-md p-3 text-white bg-primary'
            : 'border-2 w-full rounded-md p-3 border-primary text-primary bg-white'
        "
        routerLink="/programmes/quel-type-de-routine-choisir"
        >
        Quelle type de routine choisir ?
        </button>
    </div>
    <div
    class="hidden md:flex flex-col md:flex-row-reverse md:justify-around"
    *ngIf="page2"
  >
    <div class="flex flex-col items-center my-10">
      <img src="assets/routine-choisie.svg" alt="" class="h-10/12" />
    </div>
    <div
      class="flex flex-col space-y-12 md:w-1/2 md:justify-items-center md:pt-52"
    >
      <div class="">
        Il est primordial de de construire une routine capillaire de vous
        corresponde, car le mode vie, les besoins et les exigences chacun sont
        différents. Cette routine doit pouvoir terminer une période donnée, elle
        doit être complète et surtout être en phase avec vos besoins réels pour
        vous aider à déterminer la routine capillaire qu’il vous faut, nous
        avons besoin des informations suivantes :
      </div>
      <div class="cursor-pointer" (click)="getUser()">
        <button
          class="
            text-center
            py-2
            whitespace-nowrap
            px-2
            rounded-lg
            w-full
            mb-10
          "
          style="background-color: #ff3e79; color: #fff"
        >
          Je souhaite déterminer ma routine capillaire
        </button>
      </div>
    </div>
  </div>
  <div
    class="flex md:hidden flex-col md:flex-row-reverse md:justify-around"
    *ngIf="page2"
  >
    <div
      class="flex flex-col space-y-12 md:w-1/2 md:justify-items-center md:pt-52"
    >
      <div class="cursor-pointer" (click)="getUser()">
        <button
          class="
            text-center
            py-2
            whitespace-nowrap
            px-2
            rounded-lg
            w-full
            mb-10
          "
          style="background-color: #ff3e79; color: #fff"
        >
          Je souhaite déterminer ma routine capillaire
        </button>
      </div>
      <div class="">
        Il est primordial de de construire une routine capillaire de vous
        corresponde, car le mode vie, les besoins et les exigences chacun sont
        différents. Cette routine doit pouvoir terminer une période donnée, elle
        doit être complète et surtout être en phase avec vos besoins réels pour
        vous aider à déterminer la routine capillaire qu’il vous faut, nous
        avons besoin des informations suivantes :
      </div>
    </div>
    <div class="flex flex-col items-center my-10">
      <img src="assets/routine-choisie.svg" alt="" class="h-10/12" />
    </div>
  </div>
  <div
    class="h-full w-screen z-40 absolute flex justify-center items-center pb-5"
    style="background-color: rgba(0, 0, 0, 0.5)"
    id="modal1"
    *ngIf="connexion"
  >
    <div
      class="
        bg-white
        px-8
        h-2/5
        w-11/12
        absolute
        rounded-lg
        md:h-2/3 md:w-8/12 md:px-32
        space-y-5
        md:space-y-10
        overflow-hidden overflow-y-scroll
      "
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="connexion = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div class="text-center text-2xl mt-5" style="color: #ff3e79">
        Connexion
      </div>
      <form
        class="space-y-3 relative"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="">
          <ul
            class="
              bg-red-700
              opacity-70
              text-white
              px-2
              rounded-md
              text-xs
              mb-5
            "
          >
            <li>{{ message }}</li>
          </ul>
        </div>
        <div class="relative h-12 rounded-lg">
          <input
            required
            type="email"
            name=""
            id=""
            placeholder="email*"
            formControlName="email"
            autocomplete="on"
            class="w-full h-full pl-9 rounded-md"
          />
          <img src="assets/@.svg" alt="" class="absolute top-4 left-4" />
        </div>
        <div
          *ngIf="control('email')?.errors?.pattern"
          class="text-sm ml-2 text-red-700"
        >
          Format d'email invalide.
        </div>
        <div class="relative h-12 rounded-lg">
          <input
            name=""
            id=""
            placeholder="mot de passe*"
            formControlName="pwd"
            [type]="pass ? 'text' : 'password'"
            class="w-full h-full pl-9 rounded-md"
          />
          <img src="assets/keys.svg" alt="" class="absolute top-3 left-4" />
          <a
            class="cursor-pointer absolute right-4 top-4 rounded-full"
            (click)="showPass()"
          >
            <img
              [src]="pass ? 'assets/eye.svg' : 'assets/eye-off.svg'"
              alt=""
              class=""
            />
          </a>
        </div>
        <div
          *ngIf="control('pwd')?.errors?.minlength"
          class="text-xs ml-2 text-red-700"
        >
          Le mot de passe doit avoir au moins 6 caractères.
        </div>
        <div
          class="
            text-sm text-center
            flex
            justify-end
            cursor-pointer
            hover:underline
          "
          style="color: #ff3e79"
        >
          Mot de passe oublié
        </div>

        <button
          class="
            text-center text-lg
            rounded-lg
            py-2
            bg-primary
            px-5
            text-white
            w-full
          "
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Se Connecter
        </button>
      </form>
      <div class="">
        <fieldset class="border-t-2">
          <legend class="text-center px-3">Ou</legend>
        </fieldset>
      </div>
      <div class="flex flex-col space-y-3">
        <div class="text-sm text-center">se connecter avec</div>
        <div
          class="
            flex flex-row
            justify-center
            py-2
            rounded-lg
            space-x-3
            cursor-pointer
          "
          style="background-color: #214f8b"
        >
          <div class="mt-1">
            <img src="assets/fb.svg" alt="" class="" />
          </div>
          <div class="" style="color: #fff">Facebook</div>
        </div>
      </div>
      <div class="" align="center">
        <div class="cursor-pointer inline">
          Vous n’avez pas encore de compte ?
        </div>
        &nbsp;
        <div
          class="cursor-pointer hover:underline inline"
          style="color: #ff3e79"
          (click)="register = true; connexion = false; remoter()"
        >
          S’inscrire
        </div>
      </div>
    </div>
  </div>

  <div
    class="h-full w-screen z-40 absolute flex justify-center items-center pb-5"
    style="background-color: rgba(0, 0, 0, 0.5)"
    id="modal1"
    *ngIf="register"
  >
    <div
      class="
        bg-white
        px-8
        h-2/5
        w-11/12
        absolute
        rounded-lg
        md:h-2/3 md:w-8/12 md:px-32
        space-y-5
        md:space-y-10
        overflow-hidden overflow-y-scroll
      "
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="register = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div class="text-center text-2xl mt-5" style="color: #ff3e79">
        Inscription
      </div>
      <form
        class="grid grid-cols-1 md:grid-cols-2 gap-5 px-2"
        [formGroup]="registerForm"
        (ngSubmit)="onRegister()"
      >
        <div class="col-span-2">
          <ul
            class="
              bg-red-700
              opacity-70
              text-white
              px-2
              rounded-md
              text-xs
              mb-5
            "
          >
            <li>{{ message }}</li>
          </ul>
        </div>
        <div class="col-span-2 md:col-span-1 relative h-12 rounded-lg">
          <input
            name=""
            id=""
            placeholder="Nom *"
            formControlName="nom"
            type="text"
            class="w-full h-full pl-9 rounded-md"
          />
          <img
            src="assets/input-user.svg"
            alt=""
            class="absolute top-3 left-4"
          />
        </div>
        <div class="col-span-2 md:col-span-1 relative h-12 rounded-lg">
          <input
            name=""
            id=""
            placeholder="Prénom *"
            formControlName="prenom"
            type="text"
            class="w-full h-full pl-9 rounded-md"
          />
          <img
            src="assets/input-user.svg"
            alt=""
            class="absolute top-3 left-4"
          />
        </div>
        <div class="relative h-12 rounded-lg col-span-2">
          <input
            name=""
            id=""
            placeholder="Email *"
            formControlName="email"
            type="email"
            class="w-full h-full pl-9 rounded-md"
          />
          <img src="assets/@.svg" alt="" class="absolute top-4 left-4" />
        </div>
        <div class="relative h-12 rounded-lg col-span-2">
          <input
            name=""
            id=""
            placeholder="Adresse *"
            formControlName="adresse"
            type="text"
            class="w-full h-full pl-3 rounded-md"
          />
        </div>
        <div class="col-span-2 md:col-span-1 relative h-12 rounded-lg">
          <input
            name=""
            id=""
            placeholder="Code Postal *"
            formControlName="code"
            type="text"
            class="w-full h-full pl-3 rounded-md"
          />
        </div>
        <div class="col-span-2 md:col-span-1 relative h-12 rounded-lg">
          <input
            name=""
            id=""
            placeholder="Ville *"
            formControlName="ville"
            type="text"
            class="w-full h-full pl-9 rounded-md"
          />
          <img src="assets/XMLID.svg" alt="" class="absolute top-3 left-3" />
        </div>
        <div class="relative h-12 rounded-lg col-span-2">
          <input
            name=""
            id=""
            placeholder="Téléphone *"
            formControlName="tel"
            type="text"
            class="w-full h-full pl-9 rounded-md"
          />
          <img
            src="assets/mdi_phone.svg"
            alt=""
            class="absolute top-3 left-3"
          />
        </div>
        <div class="relative h-12 rounded-lg col-span-2">
          <input
            name=""
            id=""
            placeholder="Mot de passe*"
            formControlName="pwd"
            [type]="pass ? 'text' : 'password'"
            class="w-full h-full pl-9 rounded-md"
          />
          <img src="assets/keys.svg" alt="" class="absolute top-3 left-4" />
          <a
            class="cursor-pointer absolute right-4 top-4 rounded-full"
            (click)="showPass()"
          >
            <img
              [src]="pass ? 'assets/eye.svg' : 'assets/eye-off.svg'"
              alt=""
              class=""
            />
          </a>
        </div>

        <button class="btn col-span-2 py-2 px-4 rounded-md" type="submit">
          S’inscrire
        </button>
        <div class="col-span-2">
          <fieldset class="border-t-2">
            <legend class="text-center px-3">Ou</legend>
          </fieldset>
        </div>
        <div class="flex flex-col col-span-2 space-y-3">
          <div class="text-sm text-center">Créez votre compte un seul clic</div>
        </div>
        <div
          class="
            col-span-2
            flex flex-row
            justify-center
            h-12
            py-3
            rounded-lg
            space-x-3
            cursor-pointer
          "
          style="background-color: #214f8b"
        >
          <div class="">
            <img src="assets/fb.svg" alt="" class="" />
          </div>
          <div class="" style="color: #fff">Facebook</div>
        </div>
        <div class="flex flex-col col-span-2 space-y-3">
          <div class="text-sm text-center">
            Vous avez déjà un compte?
            <span
              class="text-primary hover:underline cursor-pointer"
              (click)="connexion = true; register = false"
              >Se Connecter</span
            >
          </div>
        </div>
      </form>
    </div>
  </div>

  <div
    class="h-full w-screen z-40 absolute flex justify-center items-center pb-5"
    style="background-color: rgba(0, 0, 0, 0.5)"
    id="modal1"
    *ngIf="show1"
  >
    <form
      class="
        bg-white
        h-2/5
        w-11/12
        absolute
        rounded-lg
        md:h-1/2 md:w-8/12 md:px-32
      "
      [formGroup]="question1"
      (ngSubmit)="next1()"
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="show1 = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div
        class="text-center pt-10 pb-5 md:pt-16 md:pb-1 text-2xl"
        style="color: #ff3e79"
      >
        Je détermine ma routine capillaire idéale
      </div>
      <div class="px-2">
        <img src="assets/1.svg" alt="" class="" />
      </div>
      <div class="px-10 md:px-16">
        <div class="font-bold py-5">
          à ce jour, combien de produits capillaires possedez-vous ?
        </div>
        <br />
        <div class="md:flex flex-col justify-center">
          <div class="space-x-3">
            <input
              type="radio"
              id="test"
              name="fav_language"
              value="1"
              formControlName="q1"
            />
            <label for="test">Moins de 3 produits </label><br />
          </div>
          <div class="space-x-3">
            <input
              type="radio"
              id="test1"
              name="fav_language"
              value="2"
              formControlName="q1"
            />
            <label for="test1">Entre 3 et 5 produits </label><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="radio"
              id="test2"
              name="fav_language"
              value="3"
              formControlName="q1"
            />
            <label for="test2">Plus de 5 produits</label>
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="hidden flex-row justify-end items-center gap-4 cursor-pointer"
        >
          <img src="assets/precedent.svg" class="h-3/6" alt="" srcset="" />
          <div class="text-primary font-bold">Précédent</div>
        </div>
        <div
          class="
            flex flex-row
            justify-end
            items-center
            pr-5
            pb-5
            gap-4
            cursor-pointer
            right-0
            bottom-0
            absolute
          "
          (click)="next1(); remoter()"
        >
          <div class="text-primary font-bold">Suivant</div>
          <img src="assets/arrow_sm.svg" class="h-10" alt="" srcset="" />
        </div>
      </div>
    </form>
  </div>
  <div
    class="h-full w-screen z-40 absolute flex justify-center items-center"
    style="background-color: rgba(0, 0, 0, 0.5)"
    *ngIf="show2"
  >
    <form
      class="
        bg-white
        h-1/2
        w-11/12
        absolute
        rounded-lg
        md:h-2/3 md:w-8/12 md:px-32
      "
      [formGroup]="question2"
      (ngSubmit)="next2()"
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="show2 = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div
        class="text-center pt-10 pb-5 md:pt-16 md:pb-1 text-2xl"
        style="color: #ff3e79"
      >
        Je détermine ma routine capillaire idéale
      </div>
      <div class="px-2">
        <img src="assets/2.svg" alt="" class="" />
      </div>
      <div class="px-10 md:px-20">
        <div class="font-bold py-5">Comment se répartisse vos produits ?</div>
        <br />
        <div class="md:flex flex-col justify-center">
          <div class="space-x-3">
            <input
              type="checkbox"
              id="1"
              name="fav_language"
              value="1"
              formControlName="q2_1"
            />
            <label for="1">Shampoing</label><br />
          </div>
          <div class="space-x-3">
            <input
              type="checkbox"
              id="2"
              name="fav_language"
              value="2"
              formControlName="q2_2"
            />
            <label for="2">Masque</label><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="checkbox"
              id="3"
              name="fav_language"
              value="3"
              formControlName="q2_3"
            />
            <label for="3">Après-shampoing</label>
          </div>
          <div class="space-x-3">
            <input
              type="checkbox"
              id="4"
              name="fav_language"
              value="4"
              formControlName="q2_4"
            />
            <label for="4">Huile</label><br />
          </div>
          <div class="space-x-3">
            <input
              type="checkbox"
              id="5"
              name="fav_language"
              value="5"
              formControlName="q2_5"
            />
            <label for="5">Créme capillaire</label><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="checkbox"
              id="6"
              name="fav_language"
              value="6"
              formControlName="q2_6"
            />
            <label for="6">Lait capillaire</label>
          </div>
          <div class="space-x-3">
            <input
              type="checkbox"
              id="7"
              name="fav_language"
              value="7"
              formControlName="q2_7"
            />
            <label for="7">Gel coiffant</label><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="checkbox"
              id="8"
              name="fav_language"
              value="8"
              formControlName="q2_8"
            />
            <label for="8">Sérum pousse cheveux</label>
          </div>
        </div>
      </div>
      <div class="flex justify-between">
        <div
          class="
            flex flex-row
            justify-end
            items-center
            pl-5
            pb-5
            gap-4
            cursor-pointer
            left-0
            bottom-0
            absolute
          "
          (click)="show1 = true; show2 = false; remoter()"
        >
          <img src="assets/precedent.svg" class="h-10" alt="" srcset="" />
          <div class="text-primary font-bold">Précédent</div>
        </div>
        <div
          class="
            flex flex-row
            justify-end
            items-center
            pr-5
            pb-5
            gap-4
            cursor-pointer
            right-0
            bottom-0
            absolute
          "
          (click)="next2(); remoter()"
        >
          <div class="text-primary font-bold">Suivant</div>
          <img src="assets/arrow_sm.svg" class="h-10" alt="" srcset="" />
        </div>
      </div>
    </form>
  </div>
  <div
    class="h-full w-screen z-40 absolute flex justify-center items-center"
    style="background-color: rgba(0, 0, 0, 0.5)"
    *ngIf="show3"
  >
    <form
      class="
        bg-white
        h-2/5
        w-11/12
        absolute
        rounded-lg
        md:h-1/2 md:w-8/12 md:px-32
      "
      [formGroup]="question3"
      (ngSubmit)="next3()"
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="show3 = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div
        class="text-center pt-10 pb-5 md:pt-16 md:pb-1 text-2xl"
        style="color: #ff3e79"
      >
        Je détermine ma routine capillaire idéale
      </div>
      <div class="px-2">
        <img src="assets/3.svg" alt="" class="" />
      </div>
      <div class="px-10 md:px-20 p-3">
        <div class="font-bold py-5">
          Combien de temps avez-vous à accorder à l’entretien de vos cheveux ?
        </div>
        <br />
        <div class="md:flex flex-col justify-center">
          <div class="space-x-3">
            <input
              type="radio"
              id="q3_1"
              name="fav_language"
              value="1"
              formControlName="q3"
            />
            <label for="q3_1">Moins d’1H par semaine</label><br />
          </div>
          <div class="space-x-3">
            <input
              type="radio"
              id="q3_2"
              name="fav_language"
              value="2"
              formControlName="q3"
            />
            <label for="q3_2">Entre 1H et 2H par semaine </label><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="radio"
              id="q3_3"
              name="fav_language"
              value="3"
              formControlName="q3"
            />
            <label for="q3_3">Plus de 2H par semaine </label>
          </div>
        </div>
      </div>
      <div class="flex justify-between">
        <div
          class="
            flex flex-row
            justify-end
            items-center
            pl-5
            pb-5
            gap-4
            cursor-pointer
            left-0
            bottom-0
            absolute
          "
          (click)="show2 = true; show3 = false; remoter()"
        >
          <img src="assets/precedent.svg" class="h-10" alt="" srcset="" />
          <div class="text-primary font-bold">Précédent</div>
        </div>
        <div
          class="
            flex flex-row
            justify-end
            items-center
            pr-5
            pb-5
            gap-4
            cursor-pointer
            right-0
            bottom-0
            absolute
          "
          (click)="next3(); remoter()"
        >
          <div class="text-primary font-bold">Suivant</div>
          <img src="assets/arrow_sm.svg" class="h-10" alt="" srcset="" />
        </div>
      </div>
    </form>
  </div>
  <div
    class="h-full w-screen z-40 absolute flex justify-center items-center"
    style="background-color: rgba(0, 0, 0, 0.5)"
    *ngIf="show4"
  >
    <form
      class="
        bg-white
        h-2/5
        w-11/12
        absolute
        rounded-lg
        md:h-1/2 md:w-8/12 md:px-32
      "
      [formGroup]="question4"
      (ngSubmit)="next4()"
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="show4 = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div
        class="text-center pt-10 pb-5 md:pt-16 md:pb-1 text-2xl"
        style="color: #ff3e79"
      >
        Je détermine ma routine capillaire idéale
      </div>
      <div class="px-2">
        <img src="assets/4.svg" alt="" class="" />
      </div>
      <div class="px-10 md:px-20 py-3">
        <div class="font-bold py-5">
          Quel est votre budget pour l’achat de vos produits capillaires ?
        </div>
        <br />
        <div class="md:flex flex-col justify-center">
          <div class="space-x-3">
            <input
              type="radio"
              id="q4_1"
              name="fav_language"
              value="1"
              formControlName="q4"
            />
            <label for="q4_1">Moins de 50€ par mois</label><br />
          </div>
          <div class="space-x-3">
            <input
              type="radio"
              id="q4_2"
              name="fav_language"
              value="2"
              formControlName="q4"
            />
            <label for="q4_2">Entre 50€ et 100€ par mois</label><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="radio"
              id="q4_3"
              name="fav_language"
              value="3"
              formControlName="q4"
            />
            <label for="q4_3">Plus de 100€ par mois</label>
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div
          class="
            flex flex-row
            justify-end
            items-center
            pl-5
            pb-5
            gap-4
            cursor-pointer
            left-0
            bottom-0
            absolute
          "
          (click)="show3 = true; show4 = false; remoter()"
        >
          <img src="assets/precedent.svg" class="h-10" alt="" srcset="" />
          <div class="text-primary font-bold">Précédent</div>
        </div>
        <div
          class="
            flex flex-row
            justify-end
            items-center
            pr-5
            pb-5
            gap-4
            cursor-pointer
            right-0
            bottom-0
            absolute
          "
          (click)="next4(); remoter()"
        >
          <div class="text-primary font-bold">Suivant</div>
          <img src="assets/arrow_sm.svg" class="h-10" alt="" srcset="" />
        </div>
      </div>
    </form>
  </div>

  <div
    class="h-full w-screen z-40 absolute flex justify-center items-center"
    style="background-color: rgba(0, 0, 0, 0.5)"
    *ngIf="show5"
  >
    <form
      class="
        bg-white
        h-auto
        absolute
        rounded-lg
        pb-24
        w-11/12
        md:w-8/12 md:px-32
      "
      [formGroup]="question5"
      (ngSubmit)="next5()"
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="show5 = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div
        class="text-center pt-10 pb-5 md:pt-16 md:pb-1 text-2xl"
        style="color: #ff3e79"
      >
        Je détermine ma routine capillaire idéale
      </div>
      <div class="px-2">
        <img src="assets/5.svg" alt="" class="" />
      </div>
      <div class="px-10 md:px-20 py-3">
        <div class="font-bold py-5">
          Qu’est ce qui caracterise une bonne routine capillaire selon vous ?
        </div>
        <br />

        <div class="md:flex flex-col justify-center">
          <div class="space-x-3">
            <input
              type="radio"
              id="q5_3"
              name="fav_language"
              value="1"
              formControlName="q5"
            />
            <label for="q5_3"
              >Une bonne routine uniquement à base de produits naturels ?</label
            ><br />
          </div>
          <div class="space-x-3">
            <input
              type="radio"
              id="q5_1"
              name="fav_language"
              value="2"
              formControlName="q5"
            />
            <label for="q5_1"
              >Une bonne routine simplifiée, qui va droit au but ?</label
            ><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="radio"
              id="q5_2"
              name="fav_language"
              value="3"
              formControlName="q5"
            />
            <label for="q5_2"
              >Une routine qui répond à l’ensemble des problématiques capillaire
              ?</label
            >
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div
          class="
            hidden
            md:flex
            flex-row
            justify-end
            items-center
            pl-5
            pb-5
            gap-4
            cursor-pointer
            left-0
            bottom-0
            absolute
          "
          (click)="show4 = true; show5 = false; remoter()"
        >
          <img src="assets/precedent.svg" class="h-10" alt="" srcset="" />
          <div class="text-primary font-bold">Précédent</div>
        </div>
        <div
          class="
            text-center
            py-2
            ml-16
            md:ml-0
            cursor-pointer
            rounded-lg
            content-center
            px-5
            bottom-6
            absolute
          "
          style="background-color: #ff3e79; color: #fff"
          (click)="next5()"
        >
          Valider
        </div>
        <div
          class="
            hidden
            flex-row
            justify-end
            items-center
            pr-5
            pb-5
            gap-4
            cursor-pointer
            right-0
            bottom-0
            absolute
          "
        >
          <div class="text-primary font-bold">Suivant</div>
          <img src="assets/arrow_sm.svg" class="h-10" alt="" srcset="" />
        </div>
      </div>
    </form>
  </div>

  <div
    class="
      min-h-full min-w-screen
      z-40
      absolute
      flex
      justify-center
      items-center
    "
    style="background-color: rgba(0, 0, 0, 0.5)"
    *ngIf="false"
  >
    <div
      class="
        bg-white
        h-2/5
        w-11/12
        absolute
        rounded-lg
        md:h-1/2 md:w-8/12 md:px-32
      "
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="show5 = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div
        class="text-center pt-10 pb-5 md:pt-16 md:pb-1 text-2xl"
        style="color: #ff3e79"
      >
        Je détermine ma routine capillaire idéale
      </div>
      <div class="px-2">
        <img src="assets/5.svg" alt="" class="" />
      </div>
      <div class="px-10 md:px-20 py-3">
        <div class="font-bold py-5">
          Qu’est ce qui caracterise une bonne routine capillaire selon vous ?
        </div>
        <br />
        <div class="md:flex flex-col justify-center">
          <div class="space-x-3">
            <input type="radio" id="html" name="fav_language" value="HTML" />
            <label for="html"
              >Une bonne routine uniquement à base de produits naturels ?</label
            ><br />
          </div>
          <div class="space-x-3">
            <input type="radio" id="css" name="fav_language" value="CSS" />
            <label for="css"
              >Une bonne routine simplifiée, qui va droit au but ?</label
            ><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="radio"
              id="javascript"
              name="fav_language"
              value="JavaScript"
            />
            <label for="javascript"
              >Une routine qui répond à l’ensemble des problématiques capillaire
              ?</label
            >
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div
          class="
            hidden
            md:flex
            flex-row
            justify-end
            items-center
            pl-5
            pb-5
            gap-4
            cursor-pointer
            left-0
            bottom-0
            absolute
          "
          (click)="show4 = true; show5 = false; remoter()"
        >
          <img src="assets/precedent.svg" class="h-10" alt="" srcset="" />
          <div class="text-primary font-bold">Précédent</div>
        </div>
        <div
          class="
            text-center
            md:py-3
            ml-16
            md:ml-0
            cursor-pointer
            rounded-lg
            content-center
            w-32
            md:w-40 md:h-12
            bottom-6
            absolute
          "
          style="background-color: #ff3e79; color: #fff"
          (click)="show5 = false"
        >
          Valider
        </div>
        <div
          class="
            hidden
            flex-row
            justify-end
            items-center
            pr-5
            pb-5
            gap-4
            cursor-pointer
            right-0
            bottom-0
            absolute
          "
        >
          <div class="text-primary font-bold">Suivant</div>
          <img src="assets/arrow_sm.svg" class="h-10" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>