<app-header></app-header>
<div class=" flex flex-col px-5 md:px-32 space-y-10 mb-5">
    <div class="my-5 md:space-x-44 flex flex-row justify-center md:my-10" style="color: #ff3e79">
        <div
          class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
          routerLink="/programmes/connaitre-ses-cheveux"
        >
          Connaitre ses cheveux
        </div>
        <div
          class="font-bold cursor-pointer border-b-2 hove hoverlinkeffet"
          style="border-color: #ff3e79"
          routerLink="/programmes/routine-capillaire"
        >
          Routines capillaires
        </div>
        <div
          class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
          routerLink="/programmes/recette"
        >
          Recettes
        </div>
      </div>
    <div class="flex flex-col items-center text-center mt-5" style="color: #FF3E79; background-color: #E4E4E4;">Cheveux peu poreux</div>
    <div class="flex flex-row justify-between items-center">
        <div class="">
            <p class="">Les produits à avoir</p>
            <p>- shampoing clarifiant </p>
            <p>- soin des detox purifiant</p>
            <p>- Masque hydratant</p>
            <p>- Soins sans rinçage</p>
            <p>- Huile ou gel coiffant</p>
            <p>- Soins au caramel</p>
            <p>- Shampoing au poudre</p>
            <p>- shampoing doux</p>
        </div>
        <div class="w-20 md:w-52">
            <img src="assets/produits.svg" alt="" class="w-full">
        </div>
    </div>
    <div class="space-y-5">
        <div class="">Programme semaine après semaine</div>
        <div class="grid grid-cols-4 text-sm">
            <div class="border-2">Semaine 1</div>
            <div class="border-2">Semaine 2</div>
            <div class="border-2">Semaine 3</div>
            <div class="border-2">Semaine 3</div>
            <div class="border-2 border-t-0">
                <p>- shampoing clarifiant</p>
                <p>- soin des detox purifiant</p>
                <p>- Masque hydratant (45mn)</p>
                <p>- Soins sans rinçage</p>
                <p>- Huile ou gel coiffant</p>
            </div>
            <div class="border-2 border-t-0">
                <p>- Masque hydratant</p>
                <p>- Soins sans rinçage</p>
                <p>- Huile ou gel coiffant</p>
                <p>- Soins au caramel</p>
                <p>- Shampoing au poudre</p>
            </div>
            <div class="border-2 border-t-0">
                <p>- Masque hydratant</p>
                <p>- Soins sans rinçage</p>
                <p>- Huile ou gel coiffant</p>
                <p>- Soins au caramel</p>
                <p>- Shampoing au poudre</p>
            </div>
            <div class="border-2 border-t-0">
                <p>- Masque hydratant</p>
                <p>- Soins sans rinçage</p>
                <p>- Huile ou gel coiffant</p>
                <p>- Soins au caramel</p>
                <p>- Shampoing au poudre</p>
            </div>
        </div>
    </div>
    <div class="">
        <p class="font-bold underline mb-5">Cheveux et porosité</p>
        <p>La porosité du cheveu ( faible, moyenne et forte ) Détermine la capacité qu’ont les cheveux à absorber,</p>
        <p>puis à retenir L’hydratation, à absorber les soins de capillaire. </p>
        <p>Mes cheveux ont une faible porosité si les écailles de la cuticules sont compactes et bien fermées,</p>
        <p>formant une sorte de curasses imperméable. L’eau pénètre difficilement dans la fibre capillaire, mais elles en sort difficilement aussi.</p>
    </div>
    <div class="">
        <span style="color: green;">À FAIRE</span> : Je detoxifies mes cheveux peu poreux régulièrement, environ 1 fois par mois pour éliminer en 
        douceur mais surtout en profondeur, tous les résidus de soins de coiffage et impuretées accumulées.
    </div>
    <div class="">
        <span style="color: red;">À ÉVITER</span> : Éviter les détergents trop agressif pour vos cheveux, Telles que les sulfates, les shampoings 
        contenant des silicones, car ceux-ci gainent vos cheveux et les rendent plus hermétiques à la pénétration 
        des actifs.
    </div>
</div>
<app-footer></app-footer>

