<app-header></app-header>
<div class="flex flex-col px-5 space-y-10 mb-10 md:px-32">
    <div class="my-5 md:space-x-44 flex flex-row justify-center md:my-10" style="color: #ff3e79">
        <div
          class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
          routerLink="/programmes/connaitre-ses-cheveux"
        >
          Connaitre ses cheveux
        </div>
        <div
          class="font-bold cursor-pointer border-b-2 hove hoverlinkeffet"
          style="border-color: #ff3e79"
          routerLink="/programmes/routine-capillaire"
        >
          Routines capillaires
        </div>
        <div
          class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
          routerLink="/programmes/recette"
        >
          Recettes
        </div>
      </div>
    <div class="relative flex flex-col items-center" style="color: #FF3E79;">
        <div class="font-bold py-5 z-50 text-2xl">Cheveux secs</div>
        <img src="assets/shampoingTitle.svg" alt="" class="absolute w-72 justify-center top-0">
      </div>
    <div class="grid grid-cols-2 gap-2 md:gap-20">
        <div class="">
            <p>Produit à avoir</p>
            <p>- Shampoing doux</p>
            <p>- Masque hydratant</p>
            <p>- Lait sans rinçage</p>
            <p>- Gel coiffant ou huile </p>
            <p>- Shampoing clarifiant</p>
            <p>- Bonnet</p>
        </div>
        <div class="">
            <img src="assets/produits.svg" alt="" class="w-8/12 float-right md:float-left content-center md:w-1/3">
        </div>
    </div>
    <div class="font-semibold">Programme semaine après semaine</div>
    <div class="grid grid-cols-4 border-2 text-xs md:text-base rounded-md">
        <div class="border-b-2 border-r-2 font-semibold">Semaine 1</div>
        <div class="border-b-2 border-r-2 font-semibold">Semaine 2</div>
        <div class="border-b-2 border-r-2 font-semibold">Semaine 3</div>
        <div class="border-b-2 font-semibold">Semaine 4</div>
        <div class="border-r-2">
            <p>- Shampoing clarifiant</p>
            <p>- Masque hydratant</p>
            <p>- Lait sans rinçage</p>
        </div>
        <div class="border-r-2">
            <p>- Shampoing doux</p>
            <p>- Masque hydratant</p>
            <p>- Lait sans rinçage</p>
            <p>- Huile ou gel coiffant</p>
        </div>
        <div class="border-r-2">
            <p>- Shampoing doux</p>
            <p>- Masque hydratant</p>
            <p>- Bains d’huiles</p>
            <p>- Lait sans rinçage</p>
            <p>- Bonnet</p>
        </div>
        <div>
            <p>- Shampoing doux</p>
            <p>- Masque hydratant</p>
            <p>- Bains d’huiles</p>
            <p>- Lait sans rinçage</p>
            <p>- Bains d’huiles</p>
        </div>
    </div>
    <div class="grid grid-cols-4 text-xs gap-4 md:text-base">
        <div>
            <p>* Faire votre shampoing</p>
            <p>* Appliquer le masque hydratant</p>
            <p>* Appliquer le lait sans rinçage</p>
        </div>
        <div>
            <p>* Réaliser votre shampoing</p>
            <p>* Appliquer le masque</p>
            <p>* Appliquer le lait sans rinçage</p>
            <p> * Appliquer le gel coiffant</p>
        </div>
        <div>
            <p>
                * Réaliser votre bain d’huiles après avoir démêlé et vos cheveux, appliquer l’huile sur 
                les longueurs puis remonter vers la racine et masser le cuir cheveux lus
            </p>
            <p>* Utiliser le bonnet, À fin de compléter et de renforcer l’action du bain d’huile</p>
            <p>* Réaliser votre shampoing</p>
            <p>* Appliquer le masque</p>
            <p>* Appliquer le lait sans rinçage</p>
            <p>* Réaliser votre shampoing</p>
            <p>* Appliquer le masque</p>
            <p>* Appliquer le lait sans rinçage</p>
        </div>
        <div>
            <p>* Réaliser votrebain d’huiles</p>
            <p>* Utiliser le bonnet</p>
            <p>* Réaliser votre shampoing</p>
            <p>* Appliquer le masque hydratant</p>
            <p>* Appliquer le lait sans rinçage</p>
        </div>
    </div>
</div>
<app-footer></app-footer>
