.bullet {
}

.bullet::after {
  content: "";
  position: absolute;
  top: -15px;
  right: 20px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 15px solid #ff3e79;
}
.testee {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  border: 1px solid #ff3e79;
  padding: 10px 10px 10px 10px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.svg:hover .testee {
  top: 140%;
  visibility: visible;
  opacity: 1;
}

.testee::before {
  content: "";
  position: absolute;
  left: 70%;
  bottom: 100%;
  border: 15px solid;
  border-color: #0000 #0000 #ff3e788c #0000;
}
