<header class="w-full md:hidden flex flex-cols shadow-lg pt-3 relative fixed">
  <div class="flex justify-center w-full py-4 cursor-pointer" routerLink="/">
    <img class="h-12" src="assets/logo.svg" alt="" srcset="" />
  </div>
  <div
    class="absolute bottom-0 right-0 h-20 flex items-center px-5"
    (click)="showDialog()"
  >
    <img src="assets/menu.svg" alt="" srcset="" />
  </div>
</header>

<header
  class="
    w-full
    hidden
    md:block
    bg-ping-400
    shadow-lg
    md:px-5
    lg:px-10
    relative
    fixe
  "
>
  <div class="flex flex-row relative">
    <div class="flex justify-start py-5 cursor-pointer" routerLink="/">
      <img class="h-12" src="assets/logo.svg" alt="" srcset="" />
    </div>
    <div class="absolute bottom-0 right-0 h-20 flex flex-row items-start">
      <img
        routerLink="/programmes/concept"
        class="p-1 rounded mr-5 cursor-pointer svgt"
        src="assets/faq.svg"
        alt=""
        srcset=""
      />
      <img
        class="p-1 rounded cursor-pointer svgt"
        src="assets/userHeader.svg"
        alt=""
        (click)="showUserDialog()"
        srcset=""
      />
    </div>
    <div
      class="
        border border-primary
        p-3
        absolute
        right-0
        bg-white
        top-14
        flex flex-col
        space-y-2
        z-50
      "
      *ngIf="user"
    >
      <div
        class="flex flex-row text-gray-600 space-x-3 cursor-pointer hover"
        (click)="goTo('/connexion')"
      >
        <div><img src="assets/logout.svg" alt="" srcset="" /></div>
        <div class="uppercase">Se connecter</div>
      </div>
      <div
        class="flex flex-row text-gray-600 space-x-3 ml-2 cursor-pointer hover"
        (click)="goTo('/acces-conseillere')"
      >
        <div><img src="assets/user.svg" alt="" srcset="" /></div>
        <div class="uppercase">Accès conseillère</div>
      </div>
      <div
        class="flex flex-row text-gray-600 space-x-3 ml-2 cursor-pointer hover"
        (click)="goTo('/acces-hotesse')"
      >
        <div><img src="assets/user.svg" alt="" srcset="" /></div>
        <div class="uppercase">Accès hôtesse</div>
      </div>
    </div>
    <div class="w-7/12 lg:w-9/12 flex items-end justify-between space-x-20">
      <div
        class="border-b- cursor-pointer hoverlink"
        style="color: #ff3e79; border-color: #ff3e79"
        routerLink="/"
        (click)="active()"
      >
        Accueil
      </div>
      <div
        class="cursor-pointer hoverlink"
        style="color: #ff3e79"
        routerLink="/programme"
      >
        Programmes
      </div>
      <div
        class="cursor-pointer hoverlink"
        style="color: #ff3e79"
        routerLink="/atelier/conseillere"
      >
        Ateliers
      </div>
      <div class="cursor-pointer hoverlink" style="color: #ff3e79">
        Boutique
      </div>
    </div>
  </div>
</header>

<div
  *ngIf="show"
  class="
    flex flex-col
    w-11/12
    bg-white
    shadow-lg
    rounded-lg
    absolute
    top-2
    ml-4
    md:hidden
    grid-cols-2
  "
  style="z-index: 10000"
>
  <div class="w-full relative">
    <div class="flex justify-center w-full py-4">
      <img class="h-12" src="assets/userHeader.svg" alt="" srcset="" />
    </div>
    <div
      class="absolute bottom-0 right-0 h-20 flex items-start px-3 py-3"
      (click)="showDialog()"
    >
      <img src="assets/close.svg" alt="" srcset="" />
    </div>
  </div>

  <div class="w-full">
    <img class="w-full" src="assets/line.svg" alt="" srcset="" />
  </div>
  <div class="flex flex-row items-center" (click)="showSubMenu1()">
    <div class="px-5 py-4">
      <img src="assets/programme.svg" alt="" srcset="" />
    </div>
    <div class="text-xl" style="color: #475168">
      {{ "programmes" | uppercase }}
    </div>
    <div class="px-5 py-4" *ngIf="subMenu1">
      <img src="assets/Polygon.svg" alt="" srcset="" />
    </div>
  </div>

  <div class="flex flex-col space-y-3 py-5 pl-20" *ngIf="subMenu1">
    <div
      class="text-primary uppercase"
      (click)="go('/programmes/connaitre-ses-cheveux')"
    >
      connaitre ses cheveux
    </div>
    <div
      class="text-primary uppercase"
      (click)="go('/programmes/routine-capillaire')"
    >
      routines capillaires
    </div>
    <div class="text-primary uppercase" (click)="go('/programmes/recette')">
      recettes
    </div>
  </div>

  <div class="flex flex-row items-center" (click)="showSubMenu()">
    <div class="px-5 py-4">
      <img src="assets/ateliers.svg" alt="" srcset="" />
    </div>
    <div
      class="text-xl cursor-pointer"
      style="color: #475168"
      routerLink="/atelier"
    >
      {{ "ateliers" | uppercase }}
    </div>
    <div class="px-5 py-4" *ngIf="subMenu">
      <img src="assets/Polygon.svg" alt="" srcset="" />
    </div>
  </div>

  <div class="flex flex-col space-y-3 py-5 pl-20" *ngIf="subMenu">
    <div class="text-primary uppercase" (click)="go('/atelier/conseillere')">
      Nos ateliers
    </div>
    <div class="text-primary uppercase" (click)="go('/atelier/hotesse')">
      Devenir hôtesse
    </div>
    <div class="text-primary uppercase" (click)="go('/atelier')">
      Devenir conseillère
    </div>
  </div>

  <div class="flex flex-row items-center">
    <div class="px-5 py-4">
      <img src="assets/boutique.svg" alt="" srcset="" />
    </div>
    <div class="text-xl" style="color: #475168">
      {{ "boutique" | uppercase }}
    </div>
  </div>

  <div class="w-full">
    <img class="w-full" src="assets/line.svg" alt="" srcset="" />
  </div>

  <div class="flex flex-row items-center" (click)="go('/acces-conseillere')">
    <div class="px-5 py-4">
      <img src="assets/user.svg" alt="" srcset="" />
    </div>
    <div class="text-xl" style="color: #475168">
      {{ "Accès conseillère" | uppercase }}
    </div>
  </div>

  <div class="flex flex-row items-center" (click)="go('/acces-hotesse')">
    <div class="px-5 py-4">
      <img src="assets/user.svg" alt="" srcset="" />
    </div>
    <div class="text-xl">
      {{ "Accès hôtesse" | uppercase }}
    </div>
  </div>
  <div class="w-full">
    <img class="w-full" src="assets/line.svg" alt="" srcset="" />
  </div>
  <div class="flex flex-row items-center" (click)="go('/connexion')">
    <div class="px-5 py-4">
      <img src="assets/logout.svg" alt="" srcset="" />
    </div>
    <div class="text-xl" style="color: #475168">
      {{ "se connecter" | uppercase }}
    </div>
  </div>
</div>
