<div class="flex flex-col px-10 space-y-10 md:items-center md:px-44 md:text-2xl">
    <div class="my-5 md:grid md:grid-cols-3 md:gap-4 md:my-10 md:px-40 md:w-full md:justify-items-center" style="color: #FF3E79;">
        <div class="hidden font-bold cursor-pointer md:block">Connaitre ses cheveux</div>
        <div class="hidden font-bold cursor-pointer md:block">Routines capillaires </div>
        <div class="hidden font-bold cursor-pointer md:block items-center">Recettes</div>
    </div>
    <div class="flex flex-col items-center md:text-2xl" style="background-color: #E4E4E4; color: #FF3E79;">Les traitements chimiques</div>
    <div>
        Vous avez eu recours a des traitements tels que le défrisages, colorations…nous vous mettons à 
        disposition, ces indications, afin de vous permettre de mettre en place une routine capillaire adaptée.
    </div>
    <div class="grid grid-cols-2 border-2">
        <div class="border-b-2 border-r-2 justify-items-center" style="color: #FF680C;">Quotidiennemt</div>
        <div class="border-b-2">
            <p>- hydrater vos cheveux</p>
            <p>- Sceller l’hydratation de vos cheveux avec une huile/ beurre</p>
            <p>- Dormir avec un bonnet ou foulard en  satin</p>
        </div>
        <div class="border-b-2 border-r-2" style="color: #FF680C;">Hebdomadaire</div>
        <div class="border-b-2">
            <p>- Faire un soin avant votre shampoing ( masque, bains d’huile )</p>
            <p>- Faire un shampoing doux</p>
            <p>- Peigner, démêler et réaliser un soin profond</p>
            <p>- Se coiffer</p>
        </div>
        <div class="border-b-2 border-r-2" style="color: #FF680C;">Mensuellement</div>
        <div class="border-b-2">
            <p>- Faire un shampoing clarifiant</p>
            <p>- Faire un soins fortifiant</p>
            <p>- réaliserune coiffure protectrice longue durée (tresse…)</p>
        </div>
        <div class="border-b-2 border-r-2" style="color: #FF680C;">Tous de 3 et 6 mois</div>
        <div class="border-b-2">
            <p>- Réaliser vos traitement chimiques ( lissage, défrisages…),penser à les espacer à chaque fois d’au moins 3 mois pour éviter la casse de vos cheveux et permettre la repousse capillaire </p>
            <p>- Eviter les traitements chimiques, si vois avez des cheveux secs, croissant ou endommagés.</p>
        </div>
        <div class="border-b-2 border-r-2" style="color: #FF680C;">Tous les ans</div>
        <div class="border-b-2">- Vérifier la porosité et l’état de vos cheveux </div>
    </div>
    <div class="flex flex-col items-center md:text-2xl" style="background-color: #E4E4E4; color: #FF3E79;">Alternatives aux traitements chimiques</div>
    <div class="w-full">
        <p class="font-semibold">- Coloration</p>
        <p>Colorations végétales (henné, indigo…), apporteurs de</p>
        <p>reflets (café, hibiscus, camomille…)</p>
    </div>
    <div class="w-full">
        <P class="font-semibold">- Défrisage et lisage</P>
        <P>en utilisant un appareil chauffant ( sèche cheveux, fer a</P>
        <P>lisser sans appareil chauffant : tresses au fil, Kardoune</P>
    </div>
    <div class="w-full">
        <P class="font-semibold">Permanent (boucles et ondulation</P>
        <P>Sans appareil chauffant  : bigoudis</P>
        <P>Avec appareil chauffant  : fer a friser, fer a lisser</P>
    </div>
</div>
