<div
  class="flex flex-col items-center px-10 space-y-5 text-sm md:text-lg md:px-44"
>
  <h1 class="my-5 text-base md:text-lg" style="color: #ff3e79">
    FAQ hôtesse Bigoodee
  </h1>
  <div class="">
    <h4 class="" style="color: #ff3e79">
      Qu’est-ce qu’une hôtesse chez BIgoodee ?
    </h4>
    <p class="">
      C’est très simple, en tant qu’hôtesse, vous invitez vos amies chez vous,
      pour partager un moment convivial autour d’un atelier capillaires.
      Quelques rafraîchissements, une bonne dose de bonne humeur, et c’est
      parti.
    </p>
  </div>
  <div class="">
    <h4 class="" style="color: #ff3e79">Qu’est-ce qu’un atelier Bigoodee ?</h4>
    <p class="">
      Bigoodee souhaite révolutionner le rapport à la beauté, des femmes aux
      cheveux bouclés, frisés, et crépus, grâce a des ateliers capillaires
      Réaliser à domicile, ou des conseillères Bigoodee vont pouvoir prodiguer
      des conseils personnalisés pour l’entretien des cheveux et proposer à la
      vente des soins capillaires et/ou coiffures (perruques, mèches à tresser…)
      qui adaptés à leurs type de cheveux.
    </p>
  </div>
  <div class="">
    <h4 class="" style="color: #ff3e79">Quelle date choisir ?</h4>
    <p class="">
      La date parfaite n’existe pas ! Choisissez tout d’abord une date qui vous
      convienne. Puis inviter vos amis et leurs connaissances, à participer à
      cette belle occasion de vous réunis ! Insistez sur le fait qu’elles
      recevront des conseils personnalisés, Dispensés pas une professionnelle,
      votre conseillère Bigoodee. Et rappelez-leur de bien vous prévenir si
      elles ont un imprévu !
    </p>
  </div>
  <div class="">
    <h4 class="" style="color: #ff3e79">Que vais-je gagner ?</h4>
    <p class="">
      En acceptant D’accueil cet atelier à votre domicile, vous gagnez des
      cadeaux, soit 10 % du montant de la vente de votre conseillère Bigoodee
      réaliser chez vous.
    </p>
    <p class="">
      Dans votre compte client hôtesse Bigoodee vous allez pouvoir choisir un
      ensemble de produits (soins capillaires, coiffure…) Relatif au montant
      gagné.
    </p>
  </div>
  <div class="">
    <h4 class="" style="color: #ff3e79">Comment devenu hôtesse Bigoodee ?</h4>
    <p class="">
      Contacter des aujourd’hui, une conseillère Bigoodee proche de votre
      domicile. Compléter le formulaire pour devenir hôtesse, une conseillère
      Bigoodee aura le plaisir de vous appeler pour organiser votre premier
      atelier.
    </p>
  </div>
</div>
