<div class="flex flex-col items-center md:px-10 space-y-10 md:grid md:grid-cols-6 md:space-x-0">
    <div class="flex flex-col items-center space-y-5 md:col-span-2">
        <div>
            <img src="assets/profil.svg" alt="">
        </div>
        <div class="cursor-pointer text-center w-full md:w-1/2 rounded-md" style="background-color: #FF3E79; color: #fff;">Mon compte</div>
        <div class="cursor-pointer text-center w-full md:w-1/2 rounded-md" style="background-color: #FF3E79; color: #fff;">Mon profil beauté</div>
        <div class="cursor-pointer  text-center w-full md:w-1/2 rounded-md" style="background-color: #FF3E79; color: #fff;">Mes produits</div>
    </div>
    <div class="flex flex-col md:grid md:grid-cols-2 border-2 px-5 gap-6 w-4/6 rounded-lg md:col-span-3 md:w-full md:px-20 items-center" style="border-color: #FF3E79;">
        <div>
            <label for="">Nom</label>
            <input type="text" name="" id="" class="border-2 w-full" style="border-color: #FF3E79;">
        </div>
        <div>
            <label for="">Prénom</label>
            <input type="text" name="" id="" class="border-2 w-full" style="border-color: #FF3E79;">
        </div>
        <div class="md:col-span-2">
            <label for="">Email</label>
            <input type="text" name="" id="" class="border-2 w-full" style="border-color: #FF3E79;">
        </div>
        <div class="md:col-span-2">
            <label for="">mot de passe</label>
            <input type="text" name="" id="" class="border-2 w-full" style="border-color: #FF3E79;">
        </div>
        <div class="md:col-span-2 cursor-pointer text-center mb-5 w-28 place-content-center rounded-md md:w-1/2 md:left-10" style="background-color: #FF3E79; color: #fff;">Enregistrer</div>
    </div>
    <div class="flex flex-row cursor-pointer rounded-md md:items-center space-x-2 top-0 md:absolute md:right-5" style="background-color: #FF3E79; color: #fff;">
        <img src="assets/deconnect.svg" alt="" class="pl-2">
        <h1 class="pl-2">se déconnecter</h1>
    </div>
</div>