<div class="w-screen overflow-hidden px-5 py-5 md:px-20">
  <div
    class="md:border- py-10 rounded-2xl space-y-10"
    style="border-color: #ff3e79"
  >
    <!-- section 1 -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="space-y-8 md:px-10">
        <div class="text-2xl md:text-4xl font-bold" style="color: #ff3e79">
          C’est quoi une hôtesse ?
        </div>
        <!-- <div class="text-sm font-semibold">Conseillère capillaire</div> -->
        <div class="space-y-5">
          <div class="">
            Être hôtesse pour les ateliers capillaires appelées
            <div class="inline font-bold" style="color: #ff3e79">
              Ateliers Bigoodee
            </div>
            , c’est simplement dire à ses amies :
          </div>

          <div>
            “ Je vous invite avec plaisir chez moi pour participer à un atelier
            capillaire où vous allez pouvoir
            <div class="inline font-bold" style="color: #ff3e79">
              profiter de conseils personnalisés
            </div>
            et
            <div class="inline font-bold" style="color: #ff3e79">
              acheter vos soins capillaires
            </div>
            adaptés à vos cheveux.”
          </div>
        </div>
      </div>
      <div class="md:px-10">
        <iframe
          [src]="safeURL"
          frameborder="0"
          allowfullscreen
          class="w-full h-full rounded-lg"
        ></iframe>
      </div>
    </div>
  </div>
</div>

<div class="py-7 w-full">
  <img class="w-full px-2" src="assets/Rectangle.svg" alt="" srcset="" />
</div>

<!-- section 2 -->

<div class="w-screen overflow-hidden px-5 py--5 md:px-20">
  <div
    class="md:border- py-10 rounded-2xl space-y-10"
    style="border-color: #ff3e79"
  >
    <div>
      <div class="text-center text-2xl font-bold" style="color: #ff3e79">
        Les atouts des ateliers capillaires
      </div>

      <div
        class="
          flex
          grid-cols-1
          space-y-10
          md:grid-cols-4
          my-10
          items-start
          justify-center
          gap-4
        "
      >
        <div
          class="
            flex flex-col
            justify-center
            items-center
            space-y-5
            px-20
            md:px-10
          "
        >
          <div><img src="assets/hands.svg" alt="" srcset="" /></div>
          <div class="text-lg text-center font-semibold" style="color: #ff3e79">
            Plaisir et Partage
          </div>
          <div class="text-center">
            Préparez quelques rafraîchissements et passez un bon moment entre
            amies
          </div>
        </div>

        <div class="flex flex-col justify-center items-center space-y-5 px-10">
          <div><img src="assets/heart.svg" alt="" srcset="" /></div>
          <div class="text-lg text-center font-semibold" style="color: #ff3e79">
            Conseils personnalisés
          </div>
          <div class="text-center">
            Profitez des conseils d’experts de votre conseillère capillaire
          </div>
        </div>

        <div class="flex flex-col justify-center items-center space-y-5 px-10">
          <div><img src="assets/lotus.svg" alt="" srcset="" /></div>
          <div class="text-lg text-center font-semibold" style="color: #ff3e79">
            Zéro stress
          </div>
          <div class="text-center">
            Prenez le temps de découvrir les produits proposés depuis chez vous.
          </div>
        </div>

        <div class="flex flex-col justify-center items-center space-y-5 px-10">
          <div><img src="assets/star.svg" alt="" srcset="" /></div>
          <div class="text-lg text-center font-semibold" style="color: #ff3e79">
            La qualité des produits proposés
          </div>
          <div class="text-center">
            Les meilleurs soins capillaires et coiffures sélectionnés pour vous.
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-20">
        <div class="md:px-10">
          <img src="assets/bigoodee1.svg" alt="" srcset="" />
        </div>
        <div class="space-y-8 px-10 flex flex-col">
          <div class="flex flex-row space-x-5">
            <img class="w-10" src="assets/check.svg" alt="" srcset="" />
            <div class="md:text-lg">
              Produits de démonstrations pour démarrer
            </div>
          </div>

          <div class="flex flex-row space-x-5">
            <img class="w-10" src="assets/check.svg" alt="" srcset="" />
            <div class="md:text-lg">
              Documentation, lookbook, outils de vente, guide de démarrage...
            </div>
          </div>

          <div class="flex flex-row space-x-5">
            <img class="w-10" src="assets/check.svg" alt="" srcset="" />
            <div class="md:text-lg">
              Votre application pro pour planifier vos ateliers capillaires,
              consulter vos résultats, recevoir les paiements par carte
              bancaire...
            </div>
          </div>

          <div class="flex flex-row space-x-5">
            <img class="w-10" src="assets/check.svg" alt="" srcset="" />
            <div class="md:text-lg">
              Vos outils en ligne : vidéos, tutoriels, fiches mémos, guide de
              pratique et support de communication
            </div>
          </div>
          <div class="flex items-center justify-center">
            <button
              class="rounded px-5 py-3 text-white"
              style="background-color: #907972"
            >
              Devenir conseillère
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
