<app-header></app-header>
<div class="px-10 flex flex-col space-y-10 mb-5 md:px-32">
  <div
    class="my-5 md:space-x-44 flex flex-row justify-center md:my-10"
    style="color: #ff3e79"
  >
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/connaitre-ses-cheveux"
    >
      Connaitre ses cheveux
    </div>
    <div
      class="font-bold cursor-pointer border-b-2 hove hoverlinkeffet"
      style="border-color: #ff3e79"
      routerLink="/programmes/routine-capillaire"
    >
      Routines capillaires
    </div>
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/recette"
    >
      Recettes
    </div>
  </div>
  <div class="relative flex flex-col items-center" style="color: #ff3e79">
    <div class="font-bold py-5 z-50 text-2xl">La chute, La casse</div>
    <img
      src="assets/shampoingTitle.svg"
      alt=""
      class="absolute w-72 justify-center top-0"
    />
  </div>

  <div class="">
    <p>
      De prime a bord, Il est important de distinguer la casse du cheveux de la
      chute du cheveux, ils sont souvent confondus mais ces deux phénomènes sont
      distingués
    </p>
    <p>La casse Correspond à la rupture d’un brin de cheveux pas contre.</p>
    <p>
      La chute des cheveux quant à elle, est un phénomène naturel qui se produit
      lorsque le cheveux se trouve en phase de repos. Il tomb pour laisser sa
      place à un nouveau cheveu qui lui rentre en phase de croissance.
    </p>
    <p>
      Il n’y a rien de plus normal que la perte de cheveux, notre tête porte
      entre 100 000 à 150 000 cheveux, qui naissent, se développent puis meurent
      selon un cycle bien défini : phase de pousse de quatre à sept ans, phase
      inactive de trois semaines, puis la chute ; et trois mois après le cycle
      reprend.
    </p>
    <p>
      Il faut savoir que nous perdons toutes et tous entre 50 et 100 cheveux par
      jour.
    </p>
    <p>
      Les cheveux bouclés, frisés et crépus sont par nature est fragile, ils
      cassent facilement. C’est le cas aussi des chevet traités chimiquement
      (défrisage, lissage, coloration) ou thermiquement ( séchoir, fer à
      lisser).
    </p>
    <p>
      Il faut distinguer deux sortes de chute de cheveux : la chute importante
      passagère, causée par un c’est un facteur ; ces facteurs peuvent entraîner
      une chute de passage plus importante, jusqu’à plus de 200 cheveux par
      jour. La chute s’accélère en automne. D’autres facteurs tels que
      l’accouchement, la modification de la balance hormonale, le stress, une
      fatigue plongée ou maladie provoquent aussi souvent une accentuation
      passagère de la chute des cheveux.
    </p>
  </div>
  <div class="">
    La chute importante prolongée, peut-elle avoir une cause physiologique,
    c’est le cas notamment de la calvitie ou à l’alopécie. Une chute anormale
    prolongée peut aussi résulter d’un traumatisme infligée à la chevelure pas
    des soins, de coiffure ou hygiène de vie inapproprié.
  </div>
  <div class="">
    <p style="color: #ff3e79">Les causes de la chute</p>
    <p>- le changement de saison ou de climat</p>
    <p>- Les variations hormonales (pilule, grossesse…)</p>
    <p>- Le stress ou un choc psychologique (divorce, décès, dépression…)</p>
    <p>- Le manque de sommeil</p>
    <p>- Les effets secondaires d’un médicament ou d’un traitement</p>
    <p>- Le caractère héréditaire (la calvitie)</p>
  </div>
  <div class="">
    <p style="color: #ff3e79">Les causes de la casse</p>
    <p>
      - L’excès d’hydratation rend le cheveu hyper élastique et affaiblit, il
      casse.
    </p>
    <p>- Manipuler les cheveux de façon brusque, notamment lors du démêlage</p>
    <p>- Les Fourches et pointes abîmés</p>
    <p>- Les traitements chimiques (défrisage, coloration…)</p>
    <p>- La carences nutritionnelles</p>
    <p>
      - Le manque d’hydratation (surtout pendant les coiffures protectrices
      longues durée)
    </p>
    <p>
      - L’utilisation des produits dans les composants abîment ou assèche les
      cheveux.
    </p>
  </div>
</div>
<app-footer></app-footer>
