<app-header></app-header>
<app-programme-header></app-programme-header>
<div class="flex flex-col items-center px-14 space-y-10 md:px-32">
    <div class="flex justify-center font-bold cursor-pointer mt-10" style="color: #FF3E79;">Routines capillaires </div>
    <div class="" style="font-family: CoalhandLukeTRIAL; background-color: #E4E4E4;">Lutter contre les pellicules</div>
    <div class="">
        <div class="">
            <img src="assets/shampooing.svg" alt="" class="h-12 w-12 left-5 absolute top-36 md:relative md:w-full md:h-40 items-start flex flex-col">
            <p class="font-bold">Les produits à avoir :</p>
            <p>- Shampoing aide pelliculaire doux</p>
            <p>- Shampoing clarifiant</p>
            <p>- Gommage du cuir chevelu</p>
            <p>- Masque hydratant</p>
        </div>
        <div class="">
            <img src="assets/idea.svg" alt="" class="h-12 w-8 left-5 top-80 absolute md:w-full md:h-32 md:relative">
            <p class="font-bold">Astuces et conseils :</p>
            <p>- Alterner entre shampoing doux et shampoing clarifiant</p>
            <p>- Se rincer les cheveux à l’eau tiède</p>
            <p>- Éviter les appareils chauffants, les traitements et produits chimiques, les colorations,
                les produits coiffants type gel, mousse, laque…
            </p>
            <p>- Faire les gommante du cuir chevelu</p>
            <p>- Consulter un médecin en cas de datte, d’eczéma, de dessuinte séborrhéique, de 
                psoriasis et suivre le traitement prescrit par celui-ci
            </p>
        </div>
        <div class="">
            <img src="assets/objectif.svg" alt="" class="h-12 w-8 left-5 -bottom-24 absolute md:w-full md:h-32 md:relative md:left-0">
            <p class="font-bold">Objectif de cette routine :</p>
            <p>- Purifier et assainir votre cuir chevelu dans l’objectif d’en éliminer les pellicules</p>
        </div>
    </div>
</div>
<app-footer></app-footer>
