<app-header></app-header>
<app-programme-header></app-programme-header>
<div class="flex flex-col px-10 space-y-10 md:items-center md:px-44">
    <div class="flex flex-col items-center mt-10 md:text-2xl" style="background-color: #E4E4E4; color: #FF3E79;">Masque au cafe</div>
    <div class="grid grid-cols-2 space-x-3 md:space-x-40">
        <div class="flex flex-col items-center">
            <img src="assets/horloge.svg" alt="" class="w-20 md:w-32">
            <p>10 min</p>
        </div>
        <div class="flex flex-col items-center">
            <img src="assets/objectif.svg" alt="" class="w-20 md:w-32">
            <p>Faire pour vos cheveux</p>
        </div>  
    </div>
    <div class="space-y-5 w-full md:text-2xl">
        <h1 class="" style="color: #FF680C;">Ingrédients :</h1>
        <div class="">
            <P>- 2 C.À.S de masque capillaire ou yaourt nature</P>
            <P>- 2 C.À.S de café en poudre diluée dans 2 C.À.S d’eau chaude</P>
            <P>- 2 C.À.S d’huile végétale ( olive, coco, ricin, avocat…)</P>
        </div>
    </div>
    <div class="space-y-5 w-full md:text-2xl">
        <h1 class="" style="color: #FF680C;">Recette :</h1>
        <p>
            - Mélanger l’ensemble des ingrédients, dans un bol.
        </p>
    </div>
    <div class="flex flex-col items-center md:text-2xl" style="background-color: #E4E4E4; color: #FF3E79;">Masque Mayonnaise</div>
    <div class="grid grid-cols-2 space-x-3 md:space-x-40">
        <div class="flex flex-col items-center">
            <img src="assets/horloge.svg" alt="" class="w-20 md:w-32">
            <p>10 min</p>
        </div>
        <div class="flex flex-col items-center">
            <img src="assets/objectif.svg" alt="" class="w-20 md:w-32">
            <p>cheveux secs</p>
        </div>  
    </div>
    <div class="space-y-5 w-full md:text-2xl">
        <h1 class="" style="color: #FF680C;">Ingrédients :</h1>
        <div class="">
            <P>- 1 C.À.S de moutarde</P>
            <P>- 3 C.À.S de spiruline</P>
            <P>- 2 C.À.S d’huile végétale ( olive, coco, ricin, avocat…)</P>
        </div>
    </div>
    <div class="space-y-5 w-full md:text-2xl">
        <h1 class="" style="color: #FF680C;">Recette :</h1>
        <div class="">
            <p>
                - Mélanger la moutarde et le jaune d’oeuf
            </p>
            <p>- Ajouter l’huile végétale, tout en continuant de mélanger le tout à l’aide d’un fouet.</p>
        </div>
    </div>
    <div class="flex flex-col items-center md:text-2xl" style="background-color: #E4E4E4; color: #FF3E79;">Masque nourrissant a l’avocat</div>
    <div class="grid grid-cols-2 space-x-3 md:space-x-40">
        <div class="flex flex-col items-center">
            <img src="assets/horloge.svg" alt="" class="w-20 md:w-32">
            <p>10 min</p>
        </div>
        <div class="flex flex-col items-center">
            <img src="assets/objectif.svg" alt="" class="w-20 md:w-32">
            <p>pour la pousse des cheveux</p>
        </div>  
    </div>
    <div class="space-y-5 w-full md:text-2xl">
        <h1 class="" style="color: #FF680C;">Ingrédients :</h1>
        <div class="">
            <P>- 1 avocat</P>
            <P>- 1 C.À.S de miel</P>
            <P>- 1 C.À.S d’huile végétale ( olive, coco, ricin, avocat…)</P>
            <p>- 1 C.À.S de masque capillaire, de gel d’ale vera ou de yaourt nature</p>
        </div>
    </div>
    <div class="space-y-5 w-full md:text-2xl pb-10">
        <h1 class="" style="color: #FF680C;">Recette :</h1>
        <p>
            - Mélanger tous les ingrédients ensemble, à l’aide d’un fouet.
        </p>
    </div>
</div>
<app-footer></app-footer>
