<app-header></app-header>
<div class="flex flex-col items-center px-10 mb-10">
    <div class="md:space-x-44 flex flex-row justify-center md:my-10" style="color: #ff3e79">
        <div
          class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
          routerLink="/programmes/connaitre-ses-cheveux"
        >
          Connaitre ses cheveux
        </div>
        <div
          class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
          routerLink="/programmes/routine-capillaire"
        >
          Routines capillaires
        </div>
        <div
          class="hidden font-bold cursor-pointer border-b-2 hove md:flex hoverlinkeffet"
          style="border-color: #ff3e79"
          routerLink="/programmes/recette"
        >
          Recettes
        </div>
    </div>
    <div
    class="
      flex flex-col
      px-10
      space-y-10
      md:items-center md:px-44
      text-gray-600
    "
  >
    <div
      class="flex flex-col items-center mt-10 md:text-2xl"
      style="background-color: #e4e4e4; color: #ff3e79"
    >
        Soin capillaire sans rincage
    </div>
    <div class="grid grid-cols-2 space-x-3 md:space-x-40">
      <div class="flex flex-col items-center">
        <img src="assets/horloge.svg" alt="" class="w-20 md:w-32" />
        <p>30 min</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="assets/objectif.svg" alt="" class="w-20 md:w-32" />
        <p>Lavage doux</p>
      </div>
    </div>
    <div class="space-y-5 w-full">
      <h1 class="" style="color: #ff680c">Crème Capillaire :</h1>
      <div class="">
        <P>- 7 GR ou 1,5 C.À.C d’émulsifiant </P>
        <P>- 20 GR ou 4 C.À.C d’huile/beurre végétal</P>
        <P>- 60 ML ou 4 C.À.C d’eau minérale hydratant</P>
        <p>- 20 gouttes de conservateur cosgard</p>
        <p>- 20 gouttes d’actifs ou choix (3maxi + optinnel)</p>
        <p>- 30 gouttes d’huiles essentielles ( optionnel)</p>
        <p>- 1 C.À.C d’émdient ( optionnel )</p>
        <p>- 10 gouttes de fragance ( optionnel )</p>
    </div>
    </div>
    <div class="space-y-5 w-full">
      <h1 class="" style="color: #ff680c">Lait capillaire :</h1>
      <div class="">
        <p>- 5 GR ou 1 C.À.C d’émulsifiant</p>
        <p>- 10 GR ou 2 C.À.C d’huile/beurre végétal</p>
        <p>- 75 ml ou 5 C.À.C d’eau minérale hydratant</p>
        <p>- 20 gouttes de conservateur cosgard</p>
        <p>- 20 gouttes d’actifs ou choix (3maxi + optinnel)</p>
        <p>- 30 gouttes d’huiles essentielles ( optionnel)</p>
        <p>- 1 C.À.C d’émdient ( optionnel )</p>
        <p>- 10 gouttes de fragance ( optionnel )</p>
      </div>
    </div>
    <div class="space-y-5 w-full">
        <h1 class="" style="color: #ff680c">Recette :</h1>
        <div class="">
          <p>- Ajouter un bol résistant a la chaleur, l’eau minérale, l’émulsifiant les huiles et/ou beurres végétaux </p>
          <p>- Faire chauffer le bol au bain-marie/p>
          <p>- Sortir le bol du bain-marie dès que l’émulsifiant a entierement fondu et commence a frémir</p>
          <p>- Fouetter aussi le mélange afin que l’eau et l’huile se mélangent</p>
          <p>- Mettre le bol dans de l’eau froide ( avec glaçon )</p>
          <p>- Mélange jusqu’À ce que le melange soit homogène et qu’il refroidisse</p>
          <p>- incorporer l’huile éssentilelles, les actifs, émolients et le conservateuren remuant entre chaque ajout.</p>
        </div>
      </div>
      </div>
</div>
<app-footer></app-footer>