<app-header></app-header>
<div class="flex flex-col items-center px-10 md:px-32 mb-10 space-y-7">
  <div class="my-5 md:space-x-44 flex flex-row md:my-10" style="color: #ff3e79">
    <div
      class="font-bold cursor-pointer border-b-2 hove hoverlinkeffet"
      style="border-color: #ff3e79"
      routerLink="/programmes/connaitre-ses-cheveux"
    >
      Connaitre ses cheveux
    </div>
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/routine-capillaire"
    >
      Routines capillaires
    </div>
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/recette"
    >
      Recettes
    </div>
  </div>
  <div class="text-gray-500">
    Avant toute chose, vous vous devez de connaitre votre type de cheveux, pour
    pouvoir ensuite en prendre soin. Connaitre vos cheveux va vous permettre
    d’apprendre à pratiquer les bons gestes, d’utiliser les bons produits
    adaptés à vos cheveux. Il s’agit là de la toute première étape pour créer
    une routine capillaire qui vous correspond.
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 justify-between"
  >
    <div
      *ngFor="let item of items"
      [routerLink]="item.to"
      class="
        flex flex-col
        items-center
        justify-center
        px-3
        py-5
        border border-gray-500
        space-y-5
        rounded-sm
        cursor-pointer
      "
    >
      <div><img [src]="item.img" alt="" srcset="" /></div>
      <div class="text-primary font-bold lg:text-md text-center">
        {{ item.title }}
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
