<app-header></app-header>
<div
  class="
    flex flex-col
    items-center
    px-5
    space-y-10
    my-10
    md:space-y-0
    md:px-32
    md:flex-row
    md:justify-between
    md:gap-10
    md:items-start
  "
>
  <div class="space-y-5 w-36 md:w-48">
    <div class="flex flex-col items-center justify-center">
      <!-- <img  src="assets/profil.svg" alt="" /> -->
      <img
        class="w-40 rounded-full"
        [src]="
          userData.imageURL
            ? 'http://93.90.207.75:3000/' + userData.imageURL
            : 'assets/profil.svg'
        "
        alt=""
        srcset=""
      />
      <div class="flex flex-col items-center">
        <div class="flex flex-row gap-2">
          Modifier mon profil
          <div class="cursor-pointer hover">
            <img src="assets/edit.svg" alt="" srcset="" />
          </div>
        </div>
        <input
              type="file"
              name=""
              (change)="profileImage($event)"
              id=""
              style="border: none !important"
            />
      </div>
    </div>
    <div
      class="cursor-pointer text-center w-full rounded-md h-10 pt-2"
      style="background-color: #ff3e79; color: #fff"
      (click)="page1 = true; page2 = false; page3 = false"
      [ngClass]="page1 ? 'opacity-60' : 'opacity-100'"
    >
      Mon compte
    </div>
    <div
      class="cursor-pointer text-center w-full rounded-md h-10 pt-2"
      style="background-color: #ff3e79; color: #fff"
      (click)="page2 = true; page1 = false; page3 = false"
      [ngClass]="page2 ? 'opacity-60' : 'opacity-100'"
    >
      Mon profil beauté
    </div>
    <div
      class="cursor-pointer text-center w-full rounded-md h-10 pt-2"
      style="background-color: #ff3e79; color: #fff"
      (click)="page3 = true; page1 = false; page2 = false"
      [ngClass]="page3 ? 'opacity-60' : 'opacity-100'"
    >
      <button>Mes produits</button>
    </div>
  </div>
  <form
    class="
      flex flex-col
      border-2
      rounded-lg
      px-10
      items-center
      md:w-7/12 md:h-full
    "
    [formGroup]="updateForm"
    (ngSubmit)="onUpdate()"
    style="border-color: #ff3e79"
    *ngIf="page1"
  >
    <div class="px-2 my-5 md:space-y-0 grid grid-cols-2 gap-4">
      <div class="w-full">
        <label for="">Nom</label>
        <input
          type="text"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.nom"
          formControlName="nom"
        />
      </div>
      <div>
        <label for="">Prénom</label>
        <input
          type="text"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.prenom"
          formControlName="prenom"
        />
      </div>
      <div class="col-span-2">
        <label for="">Email</label>
        <input
          type="text"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.email"
          formControlName="email"
        />
      </div>
      <div class="col-span-2">
        <label for="">Adresse</label>
        <input
          type="text"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.adresse"
          formControlName="adresse"
        />
      </div>
      <div>
        <label for="">Ville</label>
        <input
          type="text"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.ville"
          formControlName="ville"
        />
      </div>
      <div>
        <label for="">Code postal</label>
        <input
          type="text"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.postal"
          formControlName="code"
        />
      </div>
      <div class="col-span-2">
        <label for="">Téléphone</label>
        <input
          type="text"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.numero"
          formControlName="tel"
        />
      </div>
      <div class="col-span-2">
        <label for="">Mot de passe</label>
        <input
          type="password"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.pwd"
          formControlName="pwd"
        />
      </div>
    </div>
    <button
      class="cursor-pointer text-center rounded-md mb-5 w-56 h-10 py-2"
      style="background-color: #ff3e79; color: #fff"
      (click)="update()"
      [ngClass]="submit ? 'hidden' : 'block'"
    >
      Modifier les informations
    </button>
    <button
      type="submit"
      class="cursor-pointer text-center rounded-md mb-5 w-36 h-10 py-2"
      style="background-color: #ff3e79; color: #fff"
      *ngIf="submit"
    >
      Enregistrer
    </button>
  </form>
  <div
    class="
      flex flex-col
      items-center
      rounded-lg
      md:9/12
      border-2
      px-5
      py-5
      space-y-10
    "
    style="border-color: #ff3e79"
    *ngIf="page2"
  >
    <div class="text-center">
      <p>Pour recevoir des recommandations de produits adaptés,</p>
      <p>pour vous aider à réaliser vos programmes capillaires,</p>
      <p>nous avons besoin des informations suivantes :</p>
    </div>
    <div class="grid grid-cols-2 gap-4 items-center">
      <div class="w-full flex flex-col relative">
        <label for="" class="w-full">Nature des cheveux</label>
        <input type="text" name="" id="" class="rounded-md" [value]="choix" (click)="show1=true; show2=false; show3=false; show4=false; show5=false">
        <div class="bg-white text-primary absolute top-16 md:top-10 shadow-md z-50 w-full" *ngIf="show1">
          <div class="border-b-2 cursor-pointer" [ngModel]="choix" (ngModelChange)="choix = $event.inneHtml" (click)="show1=false">cheveux normaux</div>
          <div class="border-b-2 cursor-pointer" (click)="show1=false">cheveux secs</div>
          <div class="cursor-pointer" (click)="show1=false">cheveux gras</div>
        </div>
      </div>
      <div class="w-full flex flex-col relative">
        <label for="" class="w-full">Problématique de cheveux</label>
        <input type="text" name="" id="" class="rounded-md" [value]="choix" (click)="show1=false; show2=true; show3=false; show4=false; show5=false">
        <div class="bg-white text-primary absolute top-16 md:top-10 shadow-md z-50 w-full" *ngIf="show2">
          <div class="cursor-pointer border-b-2" (click)="show2=false">cheveux peu poreux</div>
          <div class="cursor-pointer border-b-2" (click)="show2=false">cheveux très poreux</div>
          <div class="cursor-pointer border-b-2" (click)="show2=false">cheveux gras</div>
          <div class="cursor-pointer border-b-2" (click)="show2=false">cheveux abimés ou cassants</div>
          <div class="cursor-pointer border-b-2" (click)="show2=false">cheveux en transition</div>
          <div class="cursor-pointer border-b-2" (click)="show2=false">cheveux défrises ou lissés</div>
          <div class="cursor-pointer" (click)="show2=false">pellicules</div>
        </div>
      </div>
      <div class="w-full flex flex-col relative">
        <label for="" class="w-full">Texture de cheveux</label>
        <input type="text" name="" id="" class="rounded-md" [value]="choix" (click)="show1=false; show2=false; show3=true; show4=false; show5=false">
        <div class="bg-white text-primary absolute top-16 md:top-10 shadow-md z-50 w-full" *ngIf="show3">
          <div class="cursor-pointer border-b-2" (click)="show3=false">cheveux épais</div>
          <div class="cursor-pointer border-b-2" (click)="show3=false">cheveux fins</div>
          <div class="cursor-pointer" (click)="show3=false">cheveux soyeux</div>
        </div>
      </div>
      <div class="w-full flex flex-col relative pt-5 md:pt-0">
        <label for="" class="w-full">Type de cheveux</label>
        <input type="text" name="" id="" class="rounded-md" [value]="choix" (click)="show1=false; show2=false; show3=false; show4=true; show5=false">
        <div class="bg-white text-primary absolute top-16 md:top-10 shadow-md z-50 w-full" *ngIf="show4">
          <div class="cursor-pointer border-b-2" (click)="show4=false">cheveux bouclés</div>
          <div class="cursor-pointer border-b-2" (click)="show4=false">cheveux crépus</div>
          <div class="cursor-pointer border-b-2" (click)="show4=false">cheveux frisés</div>
          <div class="cursor-pointer" (click)="show4=false">cheveux lisses</div>
        </div>
      </div>
      <div class="w-full flex flex-col relative">
        <label for="" class="w-full">Longueur des cheveux</label>
        <input type="text" name="" id="" class="rounded-md" [value]="choix" (click)="show1=false; show2=false; show3=false; show4=false; show5=true">
        <div class="bg-white text-primary absolute top-16 md:top-10 shadow-md z-50 w-full" *ngIf="show5">
          <div class="cursor-pointer border-b-2" (click)="show5=false">cheveux court</div>
          <div class="cursor-pointer border-b-2" (click)="show5=false">cheveux mi-long</div>
          <div class="cursor-pointer" (click)="show5=false">cheveux long</div>
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="rounded-md w-40 h-10"
      style="background-color: #ff3e79; color: #fff"
    >
      Enregistrer
    </button>
  </div>
  <div class="hidden border-2 rounded-md border-primary space-y-5 px-5">
    <div class="text-2xl">Quels sont les objectifs capillaires que cous souhaiteriez atteindre ?</div>
    <div class="">*choisissez-en autant que vous voulez</div>
    <div class="">
      <div class="cursor-pointer">Réparer vos cheveux très secs et abîmés</div>
      <div class="cursor-pointer">Eliminer vos pellicules durablement</div>
      <div class="cursor-pointer">Lutter contre la chute des cheveux</div>
      <div class="cursor-pointer">Définir vos boucles, les renforcer, les ressérer</div>
      <div class="cursor-pointer">Cheveux plus long et sains, stimuler la pousse</div>
      <div class="cursor-pointer">Densifier votre chevelure</div>
      <div class="cursor-pointer">Apaiser votre cuir chevelu sensible </div>
      <div class="cursor-pointer">Apporter du volume à vos cheveux</div>
      <div class="cursor-pointer">Revenir au naturel</div>
    </div>
  </div>
  <div class="flex flex-col md:w-9/12" *ngIf="page3">
    <div class="grid grid-cols-2" style="color: #ff3e79">
      <div
        class="cursor-pointer flex flex-row space-x-2 justify-center py-3"
        style="border-color: #ff3e79"
        [ngClass]="
          Mawishlist
            ? 'border-2 border-b-0 rounded-t-md'
            : 'border-0 border-b-2'
        "
        (click)="showMawishlist()"
      >
        <img src="assets/coeur.svg" alt="" class="h-5" />
        <div class="">Ma wishlist</div>
      </div>
      <div
        class="cursor-pointer flex justify-center py-3"
        (click)="showRecommendation()"
        id="recommandations"
        style="border-color: #ff3e79"
        [ngClass]="
          recommendation
            ? 'border-2 border-b-0 rounded-t-md'
            : 'border-0 border-b-2'
        "
      >
        Mes recommandations
      </div>
    </div>
    <div
      class="
        flex flex-col
        gap-6
        justify-around
        py-5
        border-2 border-t-0
        rounded-b-md
      "
      style="border-color: #ff3e79"
      *ngIf="Mawishlist"
    >
      <div class="grid grid-cols-6 w-full">
        <div class="col-span-2 text-primary text-center">Produit</div>
        <div class="col-span-1 text-primary text-center">Prix</div>
        <div class="col-span-1 text-primary text-center">Quantité</div>
        <div class="col-span-2 text-primary text-center">&nbsp;</div>
      </div>
      <div
        class="grid grid-cols-6 w-full items-center justify-center"
        *ngFor="let item of items"
      >
        <div class="col-span-2 text-primary flex justify-center items-center">
          <img [src]="item.img" alt="" class="w-12 h-12" />
        </div>
        <div class="col-span-1 text-primary text-center">{{ item.prix }}</div>
        <div class="col-span-1 text-primary text-center">
          <input
            list="number"
            id="ice-cream-choice"
            name="ice-cream-choice"
            class="w-12 rounded-md pl-2 pb-1 pr-1"
            style="color: #ff3e79"
          />
          <datalist id="number">
          </datalist>
        </div>
        <div class="col-span-2 text-primary text-center pr-2">
          <button
            type="submit"
            class="text-xs rounded-md py-1 px-2"
            style="background-color: #ff3e79; color: #fff"
          >
            AJOUTER AU PANIER
          </button>
        </div>
      </div>
      <!-- <div class="space-y-3">
        <div class="hidden md:block" style="color: #ff3e79">Produit</div>
        <div class="w-12 h-12" *ngFor="let item of items">
          <img [src]="item.img" alt="" class="" />
        </div>
      </div>
      <div class="space-y-5">
        <div class="hidden md:block" style="color: #ff3e79">Prix</div>
        <div class="space-y-10">
          <p class="text-center" *ngFor="let item of items">{{ item.prix }}</p>
        </div>
      </div>
      <div class="space-y-7">
        <div class="hidden md:block" style="color: #ff3e79">Quantité</div>
        <div class="flex flex-row space-x-1" *ngFor="let item of items">
          <input
            list="number"
            id="ice-cream-choice"
            name="ice-cream-choice"
            class="w-12 rounded-md pl-2 pb-1 pr-1"
            style="color: #ff3e79"
          />
          <datalist id="number">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
          </datalist>

          <button
            type="submit"
            class="text-xs rounded-md py-1 px-2"
            style="background-color: #ff3e79; color: #fff"
          >
            AJOUTER AU PANIER
          </button>
        </div>
      </div> -->
    </div>
    <div
      class="
        flex flex-col
        gap-6
        py-3
        justify-between
        items-center
        px-2
        border-2 border-t-0
        rounded-b-md
      "
      style="border-color: #ff3e79"
      *ngIf="recommendation"
    >
      <div class="grid grid-cols-6 w-full">
        <div class="col-span-2 text-primary text-center">Produit</div>
        <div class="col-span-1 text-primary text-center">Prix</div>
        <div class="col-span-1 text-primary text-center">Quantité</div>
        <div class="col-span-2 text-primary text-center">&nbsp;</div>
      </div>
      <div
        class="grid grid-cols-6 w-full items-center justify-center"
        *ngFor="let item of items"
      >
        <div class="col-span-2 text-primary flex justify-center items-center">
          <img [src]="item.img" alt="" class="w-12 h-12" />
        </div>
        <div class="col-span-1 text-primary text-center ">{{ item.prix }}</div>
        <div class="col-span-1 text-primary text-center px-3">
          <input
            list="number"
            id="ice-cream-choice"
            name="ice-cream-choice"
            class="w-12 rounded-md pl-2 pb-1 pr-1"
            style="color: #ff3e79"
          />
          <datalist id="number">
          </datalist>
        </div>
        <div class="col-span-2 text-primary text-center pr-2">
          <button
            type="submit"
            class="text-xs rounded-md py-1 px-2"
            style="background-color: #ff3e79; color: #fff"
          >
            AJOUTER AU PANIER
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
