<app-header></app-header>
<div
  class="
    flex flex-col
    items-center
    px-5
    space-y-10
    my-10
    md:space-y-0
    md:px-32
    md:flex-row
    md:justify-between
    md:gap-10
    md:items-start
  "
>
  <div class="space-y-5 w-36 md:w-48">
    <div class="flex flex-col items-center justify-center">
      <!-- <img  src="assets/profil.svg" alt="" /> -->
      <img
        class="w-40 rounded-full"
        [src]="
          userData.imageURL
            ? 'http://93.90.207.75:3000/' + userData.imageURL
            : 'assets/profil.svg'
        "
        alt=""
        srcset=""
      />
      <div class="flex flex-col items-center">
        <div class="flex flex-row gap-2">
          Modifier mon profil
          <div class="cursor-pointer hover">
            <img src="assets/edit.svg" alt="" srcset="" />
          </div>
        </div>
        <input
          type="file"
          name=""
          (change)="profileImage($event)"
          id=""
          style="border: none !important"
        />
      </div>
    </div>
    <div
      class="cursor-pointer text-center w-full rounded-md h-10 pt-2"
      style="background-color: #ff3e79; color: #fff"
      (click)="page1 = true; page2 = false; page3 = false"
      [ngClass]="page1 ? 'opacity-60' : 'opacity-100'"
    >
      Mon compte
    </div>
    <div
      class="cursor-pointer text-center w-full rounded-md h-10 pt-2"
      style="background-color: #ff3e79; color: #fff"
      (click)="page2 = true; page1 = false; page3 = false"
      [ngClass]="page2 ? 'opacity-60' : 'opacity-100'"
    >
      Mon profil beauté
    </div>
    <div
      class="cursor-pointer text-center w-full rounded-md h-10 pt-2"
      style="background-color: #ff3e79; color: #fff"
      (click)="page3 = true; page1 = false; page2 = false"
      [ngClass]="page3 ? 'opacity-60' : 'opacity-100'"
    >
      <button>Mes produits</button>
    </div>
  </div>
  <form
    class="
      flex flex-col
      border-2
      rounded-lg
      px-10
      items-center
      md:w-7/12 md:h-full
    "
    [formGroup]="updateForm"
    (ngSubmit)="onUpdate()"
    style="border-color: #ff3e79"
    *ngIf="page1"
  >
    <div class="px-2 my-5 md:space-y-0 grid grid-cols-2 gap-4">
      <div class="w-full">
        <label for="">Nom</label>
        <input
          type="text"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.nom"
          formControlName="nom"
        />
      </div>
      <div>
        <label for="">Prénom</label>
        <input
          type="text"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.prenom"
          formControlName="prenom"
        />
      </div>
      <div class="col-span-2">
        <label for="">Email</label>
        <input
          type="text"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.email"
          formControlName="email"
        />
      </div>
      <div class="col-span-2">
        <label for="">Adresse</label>
        <input
          type="text"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.adresse"
          formControlName="adresse"
        />
      </div>
      <div>
        <label for="">Ville</label>
        <input
          type="text"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.ville"
          formControlName="ville"
        />
      </div>
      <div>
        <label for="">Code postal</label>
        <input
          type="text"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.postal"
          formControlName="code"
        />
      </div>
      <div class="col-span-2">
        <label for="">Téléphone</label>
        <input
          type="text"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.numero"
          formControlName="tel"
        />
      </div>
      <div class="col-span-2">
        <label for="">Mot de passe</label>
        <input
          type="password"
          name=""
          id=""
          class="border-2 w-full opacity-70 rounded-md pl-2"
          style="border-color: #ff3e79"
          [placeholder]="userData.pwd"
          formControlName="pwd"
        />
      </div>
    </div>
    <button
      class="cursor-pointer text-center rounded-md mb-5 w-56 h-10 py-2"
      style="background-color: #ff3e79; color: #fff"
      (click)="update()"
      [ngClass]="submit ? 'hidden' : 'block'"
    >
      Modifier les informations
    </button>
    <button
      type="submit"
      class="cursor-pointer text-center rounded-md mb-5 w-36 h-10 py-2"
      style="background-color: #ff3e79; color: #fff"
      *ngIf="submit"
    >
      Enregistrer
    </button>
  </form>
  <div
    class="
      flex flex-col
      items-center
      rounded-lg
      md:9/12
      border-2
      px-5
      py-5
      space-y-10
    "
    style="border-color: #ff3e79"
    *ngIf="page2"
  >
    <div class="text-center">
      <p>Pour recevoir des recommandations de produits adaptés,</p>
      <p>pour vous aider à réaliser vos programmes capillaires,</p>
      <p>nous avons besoin des informations suivantes :</p>
    </div>
    <div class="grid grid-cols-2 gap-4 items-center">
      <div class="w-full flex flex-col">
        <label for="" class="w-full">Nature des cheveux</label>
        <select name="" id="" class="rounded-md text-primary">
          <option value="">cheveux normaux</option>
          <option value="">cheveux secs</option>
          <option value="">cheveux gras</option>
        </select>
      </div>
      <div class="w-full flex flex-col">
        <label for="" class="w-full">Problématique de cheveux</label>
        <select name="" id="" class="rounded-md text-primary">
          <option value="">cheveux peu poreux</option>
          <option value="">cheveux très poreux</option>
          <option value="">cheveux gras</option>
          <option value="">cheveux abimés ou cassants</option>
          <option value="">cheveux en transition</option>
          <option value="">cheveux défrises ou lissés</option>
          <option value="">pellicules</option>
        </select>
      </div>
      <div class="w-full flex flex-col">
        <label for="" class="w-full">Texture de cheveux</label>
        <select name="" id="" class="rounded-md text-primary">
          <option value="">cheveux épais</option>
          <option value="">cheveux fins</option>
          <option value="">cheveux soyeux</option>
        </select>
      </div>
      <div class="w-full flex flex-col pt-5 md:pt-0">
        <label for="" class="w-full">Type de cheveux</label>
        <select name="" id="" class="rounded-md text-primary">
          <option value="">cheveux bouclés</option>
          <option value="">cheveux crépus</option>
          <option value="">cheveux frisés</option>
          <option value="">cheveux lisse</option>
        </select>
      </div>
      <div class="w-full flex flex-col">
        <label for="" class="w-full">Longueur des cheveux</label>
        <select name="" id="" class="rounded-md text-primary">
          <option value="">cheveux court</option>
          <option value="">cheveux mi-long</option>
          <option value="">cheveux long</option>
        </select>
      </div>
    </div>
    <button
      type="submit"
      class="rounded-md w-40 h-10"
      style="background-color: #ff3e79; color: #fff"
    >
      Enregistrer
    </button>
  </div>
  <div class="hidden border-2 rounded-md border-primary space-y-5 px-5">
    <div class="text-2xl">
      Quels sont les objectifs capillaires que cous souhaiteriez atteindre ?
    </div>
    <div class="">*choisissez-en autant que vous voulez</div>
    <div class="">
      <div class="cursor-pointer">Réparer vos cheveux très secs et abîmés</div>
      <div class="cursor-pointer">Eliminer vos pellicules durablement</div>
      <div class="cursor-pointer">Lutter contre la chute des cheveux</div>
      <div class="cursor-pointer">
        Définir vos boucles, les renforcer, les ressérer
      </div>
      <div class="cursor-pointer">
        Cheveux plus long et sains, stimuler la pousse
      </div>
      <div class="cursor-pointer">Densifier votre chevelure</div>
      <div class="cursor-pointer">Apaiser votre cuir chevelu sensible</div>
      <div class="cursor-pointer">Apporter du volume à vos cheveux</div>
      <div class="cursor-pointer">Revenir au naturel</div>
    </div>
  </div>
  <div class="flex flex-col md:w-9/12" *ngIf="page3">
    <div class="grid grid-cols-2" style="color: #ff3e79">
      <div
        class="cursor-pointer flex flex-row space-x-2 justify-center py-3"
        style="border-color: #ff3e79"
        [ngClass]="
          monPanier ? 'border-2 border-b-0 rounded-t-md' : 'border-0 border-b-2'
        "
        (click)="showMawishlist()"
      >
        <img src="assets/panier.svg" alt="" class="h-5" />
        <div class="">Mon panier</div>
      </div>
      <div
        class="cursor-pointer flex justify-center py-3 text-center"
        (click)="showRecommendation()"
        id="recommandations"
        style="border-color: #ff3e79"
        [ngClass]="
          recommendation
            ? 'border-2 border-b-0 rounded-t-md'
            : 'border-0 border-b-2'
        "
      >
        Mes recommandations
      </div>
    </div>
    <div
      class="
        flex flex-col
        gap-6
        justify-around
        py-5
        border-2 border-t-0
        rounded-b-md
      "
      style="border-color: #ff3e79"
      *ngIf="part1"
    >
      <div class="space-y-5" *ngIf="monPanier">
        <div class="grid grid-cols-6 w-full">
          <div class="col-span-2 text-primary text-center">Produit</div>
          <div class="col-span-2 text-primary text-center">Quantité</div>
          <div class="col-span-2 text-primary text-center">Prix</div>
        </div>
        <div
          class="grid grid-cols-6 w-full items-center justify-center"
          *ngFor="let item of resultats"
        >
          <div class="col-span-2 text-primary flex justify-center items-center">
            <label for="">
              <img
                [src]="server + item.produit.imageURL"
                alt=""
                class="w-12 h-12"
              />
            </label>
          </div>
          <div class="col-span-2 text-primary text-center">
            <input
              type="text"
              name=""
              id=""
              [placeholder]="item.qte"
              class="w-12"
            />
          </div>
          <div class="col-span-2 text-primary text-center">
            {{ item.produit.prix }}
          </div>
        </div>
        <div class="grid grid-cols-6 w-full">
          <div class="col-span-4 pl-5">
            <select name="" id="" class="w-full">
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </div>
          <div class="col-span-2 text-primary text-center">66</div>
        </div>
        <div class="grid grid-cols-3 w-full">
          <div class="col-span-2 pl-5">Total commande</div>
          <div class="col-span-1 text-primary text-center">55</div>
        </div>
        <div class="flex flex-col items-center">
          <button
            type="submit"
            class="btn rounded-md h-12 w-36"
            (click)="panier = true; monPanier = false"
          >
            Passer la comande
          </button>
        </div>
      </div>
      <div class="space-y-5 px-5" *ngIf="panier">
        <div class="grid grid-cols-6 w-full">
          <div class="col-span-2 text-primary text-center">Panier</div>
          <div class="col-span-2 text-primary text-center">Livraison</div>
          <div class="col-span-2 text-primary text-center">Paiement</div>
        </div>
        <div class="flex flex-col items-center">
          <img src="assets/progress1.svg" alt="" class="" />
        </div>
        <div
          class="grid grid-cols-6 w-full items-center justify-center"
          *ngFor="let item of resultats"
        >
          <div class="col-span-2 text-primary flex justify-center items-center">
            <label for="">
              <img
                [src]="server + item.produit.imageURL"
                alt=""
                class="w-12 h-12"
              />
            </label>
          </div>
          <div class="col-span-2 text-primary text-center">
            <input
              type="text"
              name=""
              id=""
              [placeholder]="item.qte"
              class="w-12 rounded-md"
            />
          </div>
          <div class="col-span-2 text-primary text-center">
            {{ item.produit.prix }}
          </div>
        </div>
        <div
          class="
            border-2 border-primary
            rounded-md
            flex flex-row
            justify-center
            space-x-5
          "
        >
          <div class="text-primary text-lg font-bold">37,90 €</div>
          <div
            class="cursor-pointer justify-center py-2"
            (click)="
              livraison = true;
              livraison1 = true;
              livraison2 = false;
              panier = false
            "
          >
            <button type="submit" class="btn rounded-md h-6 w-24">
              Suivant
            </button>
          </div>
        </div>
      </div>
      <div class="" *ngIf="livraison">
        <div class="" *ngIf="livraison1">
          <div class="grid grid-cols-6 w-full">
            <div class="col-span-2 text-primary text-center">Panier</div>
            <div class="col-span-2 text-primary text-center">Livraison</div>
            <div class="col-span-2 text-primary text-center">Paiement</div>
          </div>
          <div class="flex flex-col items-center">
            <img src="assets/progress2.svg" alt="" class="" />
          </div>
          <form action="" class="px-5">
            <div class="text-primary text-center">
              Votre adresse de livraison
            </div>
            <div class="space-y-5">
              <div class="flex flex-col w-full">
                <label for="">Prenom</label>
                <input type="text" name="" id="" class="w-full" />
              </div>
              <div class="flex flex-col">
                <label for="">Nom</label>
                <input type="text" name="" id="" />
              </div>
              <div class="flex flex-col">
                <label for="">Adresse</label>
                <input type="text" name="" id="" />
              </div>
              <div class="flex flex-col">
                <label for="">Code postal</label>
                <input type="text" name="" id="" />
              </div>
              <div class="flex flex-col">
                <label for="">Ville</label>
                <input type="text" name="" id="" />
              </div>
              <div class="flex flex-col items-center">
                <button
                  type="submit"
                  class="btn rounded-md w-36 h-10"
                  (click)="livraison2 = true; livraison1 = false"
                >
                  enregistrer
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="" *ngIf="livraison2">
          <div class="">
            <div class="grid grid-cols-6 w-full">
              <div class="col-span-2 text-primary text-center">Panier</div>
              <div class="col-span-2 text-primary text-center">Livraison</div>
              <div class="col-span-2 text-primary text-center">Paiement</div>
            </div>
            <div class="">
              <img src="assets/progress2.svg" alt="" class="" />
            </div>
            <div class="text-primary">Choix de la methode de livraison</div>
            <div class="">
              <div class="flex flex-row">
                <input type="checkbox" name="" id="" />
                <div>Livraison domicile France</div>
                <div class="text-primary">4,95 €</div>
              </div>
              <div class="flex flex-row content-center space-x-2">
                <input type="checkbox" name="" id="" />
                <div>Livraison chronopost</div>
                <div class="text-primary">9,90 €</div>
              </div>
              <div class="flex flex-row">
                <input type="checkbox" name="" id="" />
                <div class="flex flex-col items-center">
                  <div>Livraison Point Relais</div>
                  <div class="border-2 border-primary"></div>
                </div>
                <div class="text-primary">4,95 €</div>
              </div>
            </div>
            <div class="flex flex-row border-2 border-primary justify-center">
              <div class="text-primary">Total 37,90 €</div>
              <div>
                <button type="submit" class="btn">Suivant</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div></div>
    </div>
    <div
      class="
        flex flex-col
        gap-6
        py-3
        justify-between
        items-center
        px-2
        border-2 border-t-0
        rounded-b-md
      "
      style="border-color: #ff3e79"
      *ngIf="recommendation"
    >
      <div class="grid grid-cols-6 w-full">
        <div class="col-span-2 text-primary text-center">Produit</div>
        <div class="col-span-1 text-primary text-center">Prix</div>
        <div class="col-span-1 text-primary text-center">Quantité</div>
        <div class="col-span-2 text-primary text-center">&nbsp;</div>
      </div>
      <div
        class="grid grid-cols-6 w-full items-center justify-center"
        *ngFor="let item of items"
      >
        <div class="col-span-2 text-primary flex justify-center items-center">
          <input type="checkbox" name="" id="" />
          <label for="">
            <img
              [src]="server + item.produit.imageURL"
              alt=""
              class="w-12 h-12"
            />
          </label>
        </div>
        <div class="col-span-1 text-primary text-center">
          {{ item.produit.prix }}
        </div>
        <div class="col-span-1 text-primary text-center pr-1">
          <input
            list="number"
            id="ice-cream-choice"
            name="ice-cream-choice"
            class="w-12 rounded-md pl-2 pb-1 pr-1"
            style="color: #ff3e79"
          />
          <datalist id="number" [ngModel]="qte" (ngModelChange)="qte = $event">
          </datalist>
        </div>
        <div class="col-span-2 text-primary text-center">
          <button
            type="submit"
            class="text-xs rounded-md py-1 px-2"
            style="background-color: #ff3e79; color: #fff"
            (click)="addPanier(item.produit._id)"
          >
            AJOUTER AU PANIER
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
