<app-header></app-header>
<div class="relative">
  <div
    class="
      h-screen
      w-screen
      z-40
      absolute
      flex
      justify-center
      items-center
      pb-5
    "
    style="background-color: rgba(0, 0, 0, 0.5)"
    id="modal1"
    *ngIf="sucess"
  >
    <div
      class="
        bg-white
        flex flex-col
        gap-8
        items-center
        justify-center
        h-auto
        w-auto
        absolute
        rounded-lg
        space-y-5
        md:space
        py-10
        px-20
      "
    >
      <div class="text-center text-2xl mt-5">
        <img src="assets/sucess.svg" alt="" srcset="" />
      </div>

      <div class="font-bold text-gray-600 text-lg">Inscription réussie</div>
      <button
        class="btn px-5 py-2 text-white whitespace-nowrap font-bold rounded-md"
        (click)="goTo()"
      >
        OK
      </button>
    </div>
  </div>

  <div
    class="px-10 md:grid md:grid-cols-4 md:place-items-cente my-10 items-center"
  >
    <div class="hidden md:block col-span-1">
      <img src="assets/connectionImg1.svg" alt="" class="" />
    </div>
    <div
      class="col-span-2 border rounded py-10 px-10 space-y-10"
      style="border-color: #ff3e79"
    >
      <div class="text-center text-2xl" style="color: #ff3e79">Inscription</div>
      <form
        class="grid grid-cols-1 md:grid-cols-2 gap-5 px-2"
        [formGroup]="registerForm"
        (ngSubmit)="onRegister()"
      >
        <div class="col-span-2 md:col-span-1 relative h-12 rounded-lg">
          <input
            name=""
            id=""
            placeholder="Nom *"
            formControlName="nom"
            type="text"
            class="w-full h-full pl-9 rounded-md"
          />
          <img
            src="assets/input-user.svg"
            alt=""
            class="absolute top-3 left-4"
          />
        </div>
        <div class="col-span-2 md:col-span-1 relative h-12 rounded-lg">
          <input
            name=""
            id=""
            placeholder="Prénom *"
            formControlName="prenom"
            type="text"
            class="w-full h-full pl-9 rounded-md"
          />
          <img
            src="assets/input-user.svg"
            alt=""
            class="absolute top-3 left-4"
          />
        </div>
        <div class="relative h-12 rounded-lg col-span-2">
          <input
            name=""
            id=""
            placeholder="Email *"
            formControlName="email"
            type="email"
            class="w-full h-full pl-9 rounded-md"
          />
          <img src="assets/@.svg" alt="" class="absolute top-4 left-4" />
        </div>
        <div class="relative h-12 rounded-lg col-span-2">
          <input
            name=""
            id=""
            placeholder="Adresse *"
            formControlName="adresse"
            type="text"
            class="w-full h-full pl-3 rounded-md"
          />
        </div>
        <div class="col-span-2 md:col-span-1 relative h-12 rounded-lg">
          <input
            name=""
            id=""
            placeholder="Code Postal *"
            formControlName="code"
            type="text"
            class="w-full h-full pl-3 rounded-md"
          />
        </div>
        <div class="col-span-2 md:col-span-1 relative h-12 rounded-lg">
          <input
            name=""
            id=""
            placeholder="Ville *"
            formControlName="ville"
            type="text"
            class="w-full h-full pl-9 rounded-md"
          />
          <img src="assets/XMLID.svg" alt="" class="absolute top-3 left-3" />
        </div>
        <div class="relative h-12 rounded-lg col-span-2">
          <input
            name=""
            id=""
            placeholder="Téléphone *"
            formControlName="tel"
            type="text"
            class="w-full h-full pl-9 rounded-md"
          />
          <img
            src="assets/mdi_phone.svg"
            alt=""
            class="absolute top-3 left-3"
          />
        </div>
        <div class="relative h-12 rounded-lg col-span-2">
          <input
            name=""
            id=""
            placeholder="Mot de passe*"
            formControlName="pwd"
            [type]="pass ? 'text' : 'password'"
            class="w-full h-full pl-9 rounded-md"
          />
          <img src="assets/keys.svg" alt="" class="absolute top-3 left-4" />
          <a
            class="cursor-pointer absolute right-4 top-4 rounded-full"
            (click)="showPass()"
          >
            <img
              [src]="pass ? 'assets/eye.svg' : 'assets/eye-off.svg'"
              alt=""
              class=""
            />
          </a>
        </div>

        <button class="btn col-span-2 py-2 px-4 rounded-md" type="submit">
          S’inscrire
        </button>
        <div class="col-span-2">
          <fieldset class="border-t-2">
            <legend class="text-center px-3">Ou</legend>
          </fieldset>
        </div>
        <div class="flex flex-col col-span-2 space-y-3">
          <div class="text-sm text-center">Créez votre compte un seul clic</div>
        </div>
        <div
          class="
            col-span-2
            flex flex-row
            justify-center
            h-12
            py-3
            rounded-lg
            space-x-3
            cursor-pointer
          "
          style="background-color: #214f8b"
        >
          <div class="">
            <img src="assets/fb.svg" alt="" class="" />
          </div>
          <div class="" style="color: #fff">Facebook</div>
        </div>
        <div class="flex flex-col col-span-2 space-y-3">
          <div class="text-sm text-center">
            Vous avez déjà un compte?
            <span
              class="text-primary hover:underline cursor-pointer"
              routerLink="/connexion"
              >Se Connecter</span
            >
          </div>
        </div>
      </form>
    </div>
    <div class="hidden md:block col-span-1">
      <img src="assets/connectionImg2.svg" alt="" class="" />
    </div>
  </div>
</div>
<app-footer></app-footer>
