<app-header></app-header>
<!-- <div class="w-screen overflow-hidden px-5 py-5 md:px-20 space-y-10">
  <div class="border-2 py-10 rounded-lg space-y-10 border-primary">
    <div class="flex flex-col items-center space-y-4">
      <div class="flex flex-row items-center space-x-3">
        <div><img src="assets/gift.svg" alt="" srcset="" /></div>
        <div class="text-2xl text-gray-600 font-bold">
          Pourquoi devenir Hôtesse ?
        </div>
      </div>
      <div class="md:w-3/12 text-center font-semibold text-lg text-gray-400">
        Pour profiter des avantages offerts par Bigoodee
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 w-full">
        <div class="flex flex-col items-center">
          <div><img src="assets/cosmetic.svg" alt="" srcset="" /></div>
          <div class="text-gray-400">Enregistrer vos achats</div>
        </div>
        <div class="flex flex-col items-center">
          <div><img src="assets/star1.svg" alt="" srcset="" /></div>
          <div class="text-gray-400">
            Enregistrer vos achats Cumuler des points Choissisez vos cadeaux
          </div>
        </div>
        <div class="flex flex-col items-center">
          <div><img src="assets/shopping-bag.svg" alt="" srcset="" /></div>
          <div class="text-gray-400">Choissisez vos cadeaux</div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <fieldset class="md:w-6/12 w-full border-2 border-primary px-5 pb-5">
      <legend class="text-center text-xl font-bold text-primary px-10">
        Devenir Hôtesse
      </legend>
      <form action="">
        <div class="flex justify-center items-center flex-col space-y-8">
          <div class="text-xl font-semibold">JE M’INFORME !</div>
          <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="relative">
              <input
                class="
                  h-7
                  text-gray-700
                  px-2
                  pl-7
                  rounded
                  border-primary border-2
                "
                type="text"
                placeholder="Nom"
                name=""
                id=""
              />
              <div class="absolute top-1 left-2">
                <img src="assets/input-user.svg" alt="" srcset="" />
              </div>
            </div>
            <div class="relative">
              <input
                class="
                  h-7
                  text-gray-700
                  px-2
                  pl-7
                  rounded
                  border-primary border-2
                "
                type="text"
                placeholder="Prénom"
                name=""
                id=""
              />
              <div class="absolute top-1 left-2">
                <img src="assets/input-user.svg" alt="" srcset="" />
              </div>
            </div>
          </div>
          <div class="flex flex-col w-full">
            <div class="w-full grid grid-cols-2 gap-2">
              <div class="relative">
                <input
                  class="
                    h-7
                    text-gray-700
                    px-2
                    pl-7
                    rounded
                    border-primary border-2
                  "
                  type="text"
                  placeholder="Nom"
                  name=""
                  id=""
                />
                <div class="absolute top-1 left-2">
                  <img src="assets/input-user.svg" alt="" srcset="" />
                </div>
              </div>
              <div class="relative">
                <input
                  class="
                    h-7
                    text-gray-700
                    px-2
                    pl-7
                    rounded
                    border-primary border-2
                  "
                  type="text"
                  placeholder="Prénom"
                  name=""
                  id=""
                />
                <div class="absolute top-1 left-2">
                  <img src="assets/input-user.svg" alt="" srcset="" />
                </div>
              </div>
            </div>
            <div class="relative w-full px5">
              <input
                class="
                  w-full
                  h-7
                  text-gray-700
                  px-2
                  pl-7
                  rounded
                  border-primary border-2
                "
                type="text"
                placeholder="Email"
                name=""
                id=""
              />
              <div class="absolute top-1 left-7">
                <img src="assets/@.svg" alt="" srcset="" />
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <div class="relative">
              <input
                class="
                  h-7
                  text-gray-700
                  px-2
                  pl-7
                  rounded
                  border-primary border-2
                "
                type="text"
                placeholder="Nom"
                name=""
                id=""
              />
              <div class="absolute top-1 left-2">
                <img src="assets/input-user.svg" alt="" srcset="" />
              </div>
            </div>
            <div class="relative">
              <input
                class="
                  h-7
                  text-gray-700
                  px-2
                  pl-7
                  rounded
                  border-primary border-2
                "
                type="text"
                placeholder="Prénom"
                name=""
                id=""
              />
              <div class="absolute top-1 left-2">
                <img src="assets/input-user.svg" alt="" srcset="" />
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 gap-4">
            <div class="relative">
              <input
                class="
                  h-7
                  text-gray-700
                  px-2
                  pl-7
                  rounded
                  border-primary border-2
                "
                type="text"
                placeholder="Nom"
                name=""
                id=""
              />
              <div class="absolute top-1 left-2">
                <img src="assets/input-user.svg" alt="" srcset="" />
              </div>
            </div>
          </div>
          <div>
            <button class="bg-primary text-white text-lg px-1 py-2 rounded">
              Être contacter par une Conseillère
            </button>
            <div class="text-sm text-gray-500 flex flex-col mt-5">
              <div class="cursor-pointer">Mot de passe oublié</div>
              <div class="underline cursor-pointer" routerLink="/acces-hotesse">
                Se connecter
              </div>
            </div>
          </div>
        </div>
      </form>
    </fieldset>
  </div>
</div> -->

<div class="flex flex-col my-20 items-center space-y-7">
  <div
    class="
      flex flex-col
      border-2
      space-y-10
      md:space-y-20
      mt-10
      mb-10
      pb-10
      w-9/12
      px-1
      relative
      md:flex-row md:justify-around md:items-center md:m-0 md:h-60
    "
    style="border-color: #ff3e79"
  >
    <div
      class="
        flex flex-col
        items-center
        space-y-3
        -top-24
        absolute
        md:top-0 md:mt-5
      "
    >
      <h1 class="font-bold text-xl">Pourquoi devenir Hôtesse ?</h1>
      <p style="color: #97a2bb">
        Pour profiter des avantages offerts par Bigoodee
      </p>
    </div>
    <div class="flex flex-col items-center mt-5">
      <img src="assets/cosmetic.svg" alt="" class="h-20" />
      <p style="color: #97a2bb">Enregistrer vos achats</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="assets/star1.svg" alt="" class="h-20" />
      <p style="color: #97a2bb">Cumuler des points</p>
    </div>
    <div class="flex flex-col items-center mb-5">
      <img src="assets/shopping-bag.svg" alt="" class="h-20" />
      <p style="color: #97a2bb">Choissisez vos cadeaux</p>
    </div>
  </div>
  <fieldset
    class="
      flex flex-col
      border-2
      rounded-lg
      items-center
      w-5/6
      space-y-5
      md:w-3/5
    "
    style="border-color: #ff3e79"
  >
    <form
      class="flex flex-col items-center space-y-5 w-full"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <legend style="color: #ff3e79" class="text-center font-bold px-5">
        Devenir Hôtesse
      </legend>
      <h1 class="text-center font-bold m-0">JE M’INFORME !</h1>
      <div *ngIf="message != ''">
        {{ message }}
      </div>
      <div class="grid grid-cols-2 gap-4 px-5 md:px-20 md:w-full space-y-4">
        <div class="relative mt-4">
          <input
            type="text"
            name=""
            id=""
            placeholder="Nom"
            formControlName="nom"
            class="border-2 pl-6 w-full py-1 rounded"
            style="border-color: #ff3e79"
          />
          <img
            src="assets/input-user.svg"
            alt=""
            class="absolute top-1.5 pl-1"
          />
        </div>
        <div class="relative">
          <input
            type="text"
            name=""
            id=""
            placeholder="Prénom"
            formControlName="prenom"
            class="border-2 pl-6 w-full py-1 rounded"
            style="border-color: #ff3e79"
          />
          <img
            src="assets/input-user.svg"
            alt=""
            class="absolute top-1.5 pl-1"
          />
        </div>
        <div class="col-span-2 w-full relative">
          <input
            type="email"
            name=""
            id=""
            placeholder="Email"
            formControlName="email"
            class="border-2 w-full pl-6 py-1 rounded"
            style="border-color: #ff3e79"
          />
          <img src="assets/@.svg" alt="" class="absolute top-2 pl-1" />
        </div>
        <div class="col-span-2 w-full relative">
          <input
            type="text"
            name=""
            id=""
            placeholder="Adresse"
            formControlName="adresse"
            class="border-2 w-full pl-3 py-1 rounded"
            style="border-color: #ff3e79"
          />
        </div>
        <div class="w-24 md:w-9/12">
          <input
            type="number"
            name=""
            id=""
            placeholder="Code postal"
            formControlName="postal"
            class="border-2 w-full md:pl-3 py-1 rounded"
            style="border-color: #ff3e79"
          />
        </div>
        <div class="relative w-36 md:w-11/12 -left-6 md:-left-4">
          <input
            type="text"
            name=""
            id=""
            placeholder="Ville"
            formControlName="ville"
            class="border-2 pl-8 py-1 rounded w-full"
            style="border-color: #ff3e79"
          />
          <img src="assets/XMLID.svg" alt="" class="absolute top-1 pl-1" />
        </div>
        <div class="relative">
          <input
            type="text"
            name=""
            id=""
            placeholder="Téléphone"
            formControlName="telephone"
            class="border-2 pl-6 w-full py-1 rounded"
            style="border-color: #ff3e79"
          />
          <img
            src="assets/mdi_phone.svg"
            alt=""
            class="absolute top-1.5 pl-1"
          />
        </div>
        <div class="relative">
          <input
            [type]="pass ? 'text' : 'password'"
            name=""
            id=""
            placeholder="Mot de passe"
            formControlName="pwd"
            class="border-2 pl-3 pr-6 w-full py-1 rounded"
            style="border-color: #ff3e79"
          />
          <a
            class="cursor-pointer absolute right-2 top-2 pl-1 rounded-full"
            (click)="showPass()"
          >
            <img
              [src]="pass ? 'assets/eye.svg' : 'assets/eye-off.svg'"
              alt=""
              class=""
            />
          </a>
        </div>
      </div>
      <div class="space-y-2">
        <button type="submit" class="text-center px-2 rounded-md h-10 btn1">
          Être contacter par une Conseillère
        </button>
        <div class="flex flex-col space-y-0 mb-5">
          <a href="" class="text-sm underline text-gray-600"
            >Mot de passe oublié</a
          >
          <a
            href=""
            class="text-sm pb-5 underline text-gray-600"
            routerLink="/acces-hotesse"
            >Se connecter</a
          >
        </div>
      </div>
    </form>
  </fieldset>
</div>
<app-footer></app-footer>
