<div class="w-screen overflow-hidden px-5 py-5 md:px-20 space-y-10">
  <div class="border-2 py-10 rounded-lg space-y-10 border-primary">
    <div class="flex flex-col items-center space-y-4">
      <div class="flex flex-row items-center space-x-3">
        <div><img src="assets/gift.svg" alt="" srcset="" /></div>
        <div class="text-2xl text-gray-600 font-bold">
          Pourquoi devenir Hôtesse ?
        </div>
      </div>
      <div class="md:w-3/12 text-center font-semibold text-lg text-gray-400">
        Pour profiter des avantages offerts par Bigoodee
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 w-full">
        <div class="flex flex-col items-center">
          <div><img src="assets/cosmetic.svg" alt="" srcset="" /></div>
          <div class="text-gray-400">Enregistrer vos achats</div>
        </div>
        <div class="flex flex-col items-center">
          <div><img src="assets/star1.svg" alt="" srcset="" /></div>
          <div class="text-gray-400">Cumuler des points</div>
        </div>
        <div class="flex flex-col items-center">
          <div><img src="assets/shopping-bag.svg" alt="" srcset="" /></div>
          <div class="text-gray-400">Choissisez vos cadeaux</div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <fieldset class="w-6/12 border-2 border-primary px-5 pb-5">
      <legend class="text-center text-xl font-bold text-primary px-10">
        Devenir Hôtesse
      </legend>
      <form action="">
        <div class="flex justify-center items-center flex-col space-y-8">
          <div class="text-xl font-semibold">JE M’INFORME !</div>
          <div class="grid grid-cols-2 gap-4">
            <div class="relative">
              <input
                class="
                  h-7
                  text-gray-700
                  px-2
                  pl-7
                  rounded
                  border-primary border-2
                "
                type="text"
                placeholder="Nom"
                name=""
                id=""
              />
              <div class="absolute top-1 left-2">
                <img src="assets/input-user.svg" alt="" srcset="" />
              </div>
            </div>
            <div class="relative">
              <input
                class="
                  h-7
                  text-gray-700
                  px-2
                  pl-7
                  rounded
                  border-primary border-2
                "
                type="text"
                placeholder="Prénom"
                name=""
                id=""
              />
              <div class="absolute top-1 left-2">
                <img src="assets/input-user.svg" alt="" srcset="" />
              </div>
            </div>
          </div>
          <div class="flex flex-row w-full gap-4">
            <div class="relative w-full px-5">
              <input
                class="
                  w-full
                  h-7
                  text-gray-700
                  px-2
                  pl-7
                  rounded
                  border-primary border-2
                "
                type="text"
                placeholder="Email"
                name=""
                id=""
              />
              <div class="absolute top-1 left-7">
                <img src="assets/@.svg" alt="" srcset="" />
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-4">
            <div class="relative">
              <input
                class="
                  h-7
                  text-gray-700
                  px-2
                  pl-7
                  rounded
                  border-primary border-2
                "
                type="text"
                placeholder="Nom"
                name=""
                id=""
              />
              <div class="absolute top-1 left-2">
                <img src="assets/input-user.svg" alt="" srcset="" />
              </div>
            </div>
            <div class="relative">
              <input
                class="
                  h-7
                  text-gray-700
                  px-2
                  pl-7
                  rounded
                  border-primary border-2
                "
                type="text"
                placeholder="Prénom"
                name=""
                id=""
              />
              <div class="absolute top-1 left-2">
                <img src="assets/input-user.svg" alt="" srcset="" />
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 gap-4">
            <div class="relative">
              <input
                class="
                  h-7
                  text-gray-700
                  px-2
                  pl-7
                  rounded
                  border-primary border-2
                "
                type="text"
                placeholder="Nom"
                name=""
                id=""
              />
              <div class="absolute top-1 left-2">
                <img src="assets/input-user.svg" alt="" srcset="" />
              </div>
            </div>
          </div>
          <div>
            <button class="bg-primary text-white text-lg px-1 py-2 rounded">
              Être contacter par une Conseillère
            </button>
            <div class="text-sm text-gray-500 flex flex-col mt-5">
              <div class="cursor-pointer">Mot de passe oublié</div>
              <div class="underline cursor-pointer">Se connecter</div>
            </div>
          </div>
        </div>
      </form>
    </fieldset>
  </div>
</div>
