<div
  class="
    flex flex-col
    w-full
    md:w-64
    text-gray-700
    bg-white
    dark-mode:text-gray-200 dark-mode:bg-gray-800
    flex-shrink-0
    h-full
  "
  x-data="{ open: false }"
>
  <div
    class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between"
  >
    <a
      class="
        text-lg
        font-semibold
        tracking-widest
        text-gray-900
        uppercase
        rounded-lg
        dark-mode:text-white
        focus:outline-none focus:shadow-outline
      "
      >Flowtrail UI</a
    >
    <button
      class="rounded-lg md:hidden focus:outline-none focus:shadow-outline"
    >
      <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
        <path
          x-show="!open"
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
        <path
          x-show="open"
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>
  <nav
    :class="{'block': open, 'hidden': !open}"
    class="flex-grow md:block pl-4 pb-4 md:pb-0 md:overflow-y-auto"
  >
    <a
      class="
        flex flex-row
        gap-4
        px-4
        py-2
        mt-2
        text-sm
        font-semibold
        border-r-2
        text-pink-500
        bg-transparent
        border-pink-500
        dark-mode:bg-gray-700
        dark-mode:hover:bg-gray-600
        dark-mode:focus:bg-gray-600
        dark-mode:focus:text-white
        dark-mode:hover:text-white
        dark-mode:text-gray-200
        hover:text-pink-500 hover:border-pink-500
        focus:text-gray-900
        focus:bg-gray-200
        focus:outline-none
        focus:shadow-outline
      "
    >
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.8626 7.30081L8.00004 0L0.137796 7.30081C0.0270445 7.40389 0.0204652 7.57742 0.123541 7.68844C0.226068 7.79919 0.400145 7.8055 0.510896 7.7027L1.42076 6.85781V16H5.80695H10.1931H14.5793V6.85753L15.4892 7.70242C15.5418 7.75149 15.609 7.77562 15.6759 7.77562C15.7496 7.77562 15.8228 7.74629 15.8765 7.68817C15.9799 7.57742 15.9733 7.40389 15.8626 7.30081ZM6.35522 15.4517V11.0655C6.35522 10.1584 7.09292 9.42072 8.00004 9.42072C8.90716 9.42072 9.64486 10.1584 9.64486 11.0655V15.4517H6.35522ZM14.0311 15.4517H10.1931V11.0655C10.1931 9.85632 9.20926 8.87244 8.00004 8.87244C6.79082 8.87244 5.80695 9.85632 5.80695 11.0655V15.4517H1.96903V6.34846L8.00004 0.74812L14.0311 6.34846V15.4517Z"
          fill="black"
        />
      </svg>
      Tableau de bord
    </a>
    <a
      class="
        block
        pl-4
        py-2
        mt-2
        text-sm
        font-semibold
        text-gray-900
        bg-transparent
        rounded-lgn
        dark-mode:bg-transparent
        dark-mode:hover:bg-gray-600
        dark-mode:focus:bg-gray-600
        dark-mode:focus:text-white
        dark-mode:hover:text-white
        dark-mode:text-gray-200
        hover:text-pink-500
        focus:text-gray-900
        border-r-2 border-white
        hover:border-pink-500
        focus:bg-gray-200 focus:outline-none focus:shadow-outline
      "
      >Portfolio</a
    >
    <a
      class="
        block
        px-4
        py-2
        mt-2
        text-sm
        font-semibold
        text-gray-900
        bg-transparent
        rounded-lg
        dark-mode:bg-transparent
        dark-mode:hover:bg-gray-600
        dark-mode:focus:bg-gray-600
        dark-mode:focus:text-white
        dark-mode:hover:text-white
        dark-mode:text-gray-200
        hover:text-gray-900
        focus:text-gray-900
        hover:bg-gray-200
        focus:bg-gray-200 focus:outline-none focus:shadow-outline
      "
      >About</a
    >
    <a
      class="
        block
        px-4
        py-2
        mt-2
        text-sm
        font-semibold
        text-gray-900
        bg-transparent
        rounded-lg
        dark-mode:bg-transparent
        dark-mode:hover:bg-gray-600
        dark-mode:focus:bg-gray-600
        dark-mode:focus:text-white
        dark-mode:hover:text-white
        dark-mode:text-gray-200
        hover:text-gray-900
        focus:text-gray-900
        hover:bg-gray-200
        focus:bg-gray-200 focus:outline-none focus:shadow-outline
      "
      >Contact</a
    >
    <!-- <div class="relative" x-data="{ open: false }">
        <button
          class="
            flex flex-row
            items-center
            w-full
            px-4
            py-2
            mt-2
            text-sm
            font-semibold
            text-left
            bg-transparent
            rounded-lg
            dark-mode:bg-transparent
            dark-mode:focus:text-white
            dark-mode:hover:text-white
            dark-mode:focus:bg-gray-600
            dark-mode:hover:bg-gray-600
            md:block
            hover:text-gray-900
            focus:text-gray-900
            hover:bg-gray-200
            focus:bg-gray-200 focus:outline-none focus:shadow-outline
          "
        >
          <span>Dropdown</span>
          <svg
            fill="currentColor"
            viewBox="0 0 20 20"
            :class="{'rotate-180': open, 'rotate-0': !open}"
            class="
              inline
              w-4
              h-4
              mt-1
              ml-1
              transition-transform
              duration-200
              transform
              md:-mt-1
            "
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <div
          x-show="open"
          x-transition:enter="transition ease-out duration-100"
          x-transition:enter-start="transform opacity-0 scale-95"
          x-transition:enter-end="transform opacity-100 scale-100"
          x-transition:leave="transition ease-in duration-75"
          x-transition:leave-start="transform opacity-100 scale-100"
          x-transition:leave-end="transform opacity-0 scale-95"
          class="
            absolute
            right-0
            w-full
            mt-2
            origin-top-right
            rounded-md
            shadow-lg
          "
        >
          <div
            class="px-2 py-2 bg-white rounded-md shadow dark-mode:bg-gray-800"
          >
            <a
              class="
                block
                px-4
                py-2
                mt-2
                text-sm
                font-semibold
                bg-transparent
                rounded-lg
                dark-mode:bg-transparent
                dark-mode:hover:bg-gray-600
                dark-mode:focus:bg-gray-600
                dark-mode:focus:text-white
                dark-mode:hover:text-white
                dark-mode:text-gray-200
                md:mt-0
                hover:text-gray-900
                focus:text-gray-900
                hover:bg-gray-200
                focus:bg-gray-200 focus:outline-none focus:shadow-outline
              "
              href="#"
              >Link #1</a
            >
            <a
              class="
                block
                px-4
                py-2
                mt-2
                text-sm
                font-semibold
                bg-transparent
                rounded-lg
                dark-mode:bg-transparent
                dark-mode:hover:bg-gray-600
                dark-mode:focus:bg-gray-600
                dark-mode:focus:text-white
                dark-mode:hover:text-white
                dark-mode:text-gray-200
                md:mt-0
                hover:text-gray-900
                focus:text-gray-900
                hover:bg-gray-200
                focus:bg-gray-200 focus:outline-none focus:shadow-outline
              "
              href="#"
              >Link #2</a
            >
            <a
              class="
                block
                px-4
                py-2
                mt-2
                text-sm
                font-semibold
                bg-transparent
                rounded-lg
                dark-mode:bg-transparent
                dark-mode:hover:bg-gray-600
                dark-mode:focus:bg-gray-600
                dark-mode:focus:text-white
                dark-mode:hover:text-white
                dark-mode:text-gray-200
                md:mt-0
                hover:text-gray-900
                focus:text-gray-900
                hover:bg-gray-200
                focus:bg-gray-200 focus:outline-none focus:shadow-outline
              "
              href="#"
              >Link #3</a
            >
          </div>
        </div>
      </div> -->
  </nav>
</div>
