<div class="px-10 md:px-32 py-14 space-y-10 flex flex-col items-center">
  <div class="text-primary text-2xl font-bold">Le concept</div>
  <div class="space-y-7 text-lg text-gray-600">
    <div>
      Bigoodee vous permet de réserver votre coiffeuse à domicile en quelques
      clics, d’acheter les meilleurs soins adaptés à votre type de cheveux et de
      participer à des ateliers capillaires organiser par des conseillères
    </div>
    <div>
      Grâce a. Outre plateforme Bigoodee, vous allez pouvoir accéder à des
      fiches pratiques et astuces qui vont vous aider à connaître un peu plus
      vos cheveux, de démarrer votre routine capillaire en vous basant sur
      toutes les informations nécessaires pour la démarrer, expérimenter des
      recettes maison grâce aux dizaines de recettes à faire soi-même, mise à
      votre disposition
    </div>
    <div class="">
      <div class="inline">
        Vous allez apprendre à traiter chaque cas grâce a des fiches pratiques
        qui traite de chacune d’un thème ou d’un sujet précis
      </div>
      <img
        class="ml-3 w-6 md:w-10 inline"
        src="assets/cible.svg"
        alt=""
        srcset=""
      />
    </div>
    <div class="">
      <div class="inline">
        Bigooshop Notre boutique, vous permet d’avoir accès à un e-shop
        classique avec ses produits par catégories et selon votre besoin être
        e-shop vous permet aussi de créer votre profil beauté, qui va vous
        permettre d’avoir une proposition de produits et soins adaptés à votre
        type de cheveux. Bigooshop C’est aussi une partie MarketPlace, où vous
        vous allez pouvoir proposer vos produits à la vente ( perruque
        tressés...) et acheter des coiffures ( perruque, mèches à tresser...) et
        des soins à des vendeuses présentes dans vôtre ville.
      </div>
      <img
        class="ml-3 w-6 md:w-10 inline"
        src="assets/panier.svg"
        alt=""
        srcset=""
      />
    </div>
    <div>
      Et enfin Bigoodee App Un autre application mobile et plate-forme Web qui
      va vous permettre de réserver des coiffeuses à domicile, proche de chez
      vous qualifiées et expérimentées
    </div>
  </div>
  <div><img src="assets/phone.svg" alt="" srcset="" /></div>
</div>
