<div class="flex flex-col items-center md:px-20">
    <div class="my-5 md:grid md:grid-cols-3 md:gap-4 md:my-10 md:px-40 md:w-full md:justify-items-center" style="color: #FF3E79;">
        <div class="hidden font-bold cursor-pointer md:flex">Connaitre ses cheveux</div>
        <div class="font-bold cursor-pointer">Routines capillaires </div>
        <div class="hidden font-bold cursor-pointer md:block items-center">Recettes</div>
    </div>
    <div class="flex flex-col items-center space-y-3 px-16 text-sm md:grid md:grid-cols-2 md:gap-60 md:px-0 md:space-y-0">
        <button class="btn border-2 w-full rounded-md h-8" style="color: #fff; background-color: #FF3E79; border-color: #FF3E79;">Routine avec objectif à atteindre</button>
        <button class="btn border-2 w-full rounded-md h-8" style="color: #fff; background-color: #FF3E79; border-color: #FF3E79;">Routine spécifique sur 1 mois</button>
    </div>
    <div class=" flex flex-col items-start space-y-5 relative mt-12 md:grid-cols-2 md:grid md:pl-32">
        <div class="space-y-2">
            <div class="link cursor-pointer">Lutter contre les pellicules</div>
            <div class="link cursor-pointer">Stimuler la croissance des cheveux</div>
            <div class="link cursor-pointer">Cheveux sec</div>
            <div class="link cursor-pointer">Cheveux abîmés ou cassants</div>
            <div class="link cursor-pointer">Cheveux frisés et crépus</div>
            <div class="link cursor-pointer">Cheveux bouclés et ondulés</div>
            <div class="link cursor-pointer">Cheveux gras</div>
            <div class="link cursor-pointer">Naturel</div>
            <div class="link cursor-pointer">Cheveux défrisés ou lissés</div>
            <div class="link cursor-pointer">Cheveux poreux</div>
            <div class="link cursor-pointer">Cheveux peu poreux</div>
        </div>
        <div class="border-2 w-5/12 rounded-full absolute -bottom-5 -right-5 md:w-full md:static" style="background-color: #C4C4C4; border-color: #C4C4C4;">
            <img src="assets/routine.svg" alt="">
        </div>
    </div>
</div>
