<app-header></app-header>
<div
  class="hidden md:flex md:flex-row justify-between my-10 md:px-32"
  style="color: #ff3e79"
>
  <div class="cursor-pointer hover" routerLink="/hotesse">Accueil</div>
  <div class="cursor-pointer hover" routerLink="/hotesse-atelier">
    Mes ateliers
  </div>
  <div class="cursor-pointer hover" routerLink="/hotesse-cadeau">
    Choisir mon cadeau
  </div>
  <div class="cursor-pointer hover" routerLink="/hotesse-releve-point">
    Mon relevé de points
  </div>
</div>
<div class="px-10 flex flex-col items-center space-y-5 mb-10">
  <div class="absolute left-5 top-10 cursor-pointer md:hidden">
    <img src="assets/flechePink.svg" alt="" class="" />
  </div>
  <div class="font-bold text-2xl" style="color: #ff3e79">
    Mon relevé de points
  </div>
</div>
<hr class="" style="border-color: #ff3e79" />
<div class="px-10 flex flex-col items-center space-y-5">
  <div class="mt-5" style="color: #ff3e79">Vous avez 230 POINTS</div>
  <div class="">Vos points expireront le 19/11/19</div>
  <div class="">
    <img src="assets/jaugePoint.svg" alt="" class="" />
  </div>
</div>
<div class="border-2 w-full text-center my-5" style="background-color: #f2f2f2">
  Choisir mon cadeau
</div>
<div class="flex flex-col items-center">
  <div
    class="
      flex flex-row
      space-x-2
      justify-center
      border-2
      w-1/2
      md:w-32
      mb-5
      h-12
    "
    style="border-color: #ff3e79"
  >
    <div class="pt-3">1 Point = 1€</div>
    <img src="assets/cadeauPink.svg" alt="" class="justify-items-center w-5" />
  </div>
</div>
<hr class="" style="border-color: #ff3e79" />
<div class="flex flex-col items-center space-y-5 text-center md:my-10">
  <div class="text-2xl">Commment <strong>recevoir</strong> votre cadeau ?</div>
  <div
    class="
      flex flex-col
      items-center
      space-y-5
      md:space-y-0 md:flex-row md:space-x-5
    "
  >
    <img src="assets/souris.svg" alt="" class="w-5" />
    <div class="">
      Rendez-vous sur www.bigoodee.com et connectez-vous à votre compte
    </div>
  </div>
  <div
    class="
      flex flex-col
      items-center
      space-y-5
      md:space-y-0 md:flex-row md:space-x-5
    "
  >
    <img src="assets/cadeauPink.svg" alt="" class="w-5" />
    <div>Sélectionnez votre cadeau et ajoutez-le dans votre panier</div>
  </div>
</div>
<hr class="hidden md:block" style="border-color: #ff3e79" />
<div class="text-center flex flex-col items-center space-y-5 my-5">
  <div class="text-2xl">Vos statuts et avantages</div>
  <div
    class="
      flex flex-col
      items-center
      space-y-5
      md:space-y-0 md:flex-row md:space-x-32
    "
  >
    <div class="cursor-pointer">
      <img src="assets/cadeau1.svg" alt="" class="md:w-32" />
    </div>
    <div class="cursor-pointer">
      <img src="assets/cadeau2.svg" alt="" class="md:w-32" />
    </div>
    <div class="cursor-pointer">
      <img src="assets/cadeau3.svg" alt="" class="md:w-32" />
    </div>
  </div>
</div>
<hr class="hidden" />
<app-footer></app-footer>
