<div class="header space-y-5 relative">
    <div class="nav">
        <ul class="nav-items flex justify-start space-x-28">
            <li class="nav-link">
                <a href="#">Accueil</a>
            </li>
            <li class="nav-link">
                <a href="#">Mon compte</a>
            </li>
            <li class="nav-link">
                <a href="#">Mes ateliers</a>
            </li>
            <li class="nav-link">
                <a href="#">Choisir mon cadeau</a>
            </li>
        </ul>
    </div>
    <div class="fleche absolute top-0 left-5">
        <a href="http://" target="_blank" rel="noopener noreferrer">
            <img src="assets/fleche.png" alt="" class="img">
        </a>
    </div>
    <div class="titre">
        <h1 class="h1 mt-5">Mes ateliers</h1>
    </div>
    <div class="title">
        <h1 class="h1 my-10">Choisir mon cadeau</h1>
    </div>
</div>
<hr class="hr">
<div class="containeur">
    <div class="entete space-y-3">
        <h1 class="h1">Tous les cadeaux que je peux recevoir</h1>
        <p class="p">Vos points expireront le 19/11/19</p>
    </div>
    <div class="canvas"></div>
    <div class="choix mt-10">
        <h1 class="h1">Choisir mon cadeau</h1>
    </div>
    <div class="list grid grid-cols-2 gap-8 mt-10 md:grid-cols-3 md:space-x-10">
        <div class="cadeau">
            <div class="nom">
                <h4 class="h4">Crème boucles</h4>
            </div>
            <img src="assets/creme.png" alt="" class="img">
            <button class="ajout">
                <h4 class="h4">Ajouter</h4>
            </button>
        </div>
        <div class="cadeau">
            <div class="nom">
                <h4 class="h4">Lotion de finition </h4>
            </div>
            <img src="assets/lotion.png" alt="" class="img">
            <button class="ajout">
                <h4 class="h4">Ajouter</h4>
            </button>
        </div>
        <div class="cadeau">
            <div class="nom">
                <h4 class="h4">Lotion de finition</h4>
            </div>
            <img src="assets/lotion.png" alt="" class="img">
            <button class="ajout">
                <h4 class="h4">Ajouter</h4>
            </button>
        </div>
        <div class="cadeau">
            <div class="nom">
                <h4 class="h4">Edge Tamer</h4>
            </div>
            <img src="assets/edge.png" alt="" class="img">
            <button class="ajout">
                <h4 class="h4">Ajouter</h4>
            </button> 
        </div>
        <div class="cadeau invisible md:visible">
            <div class="nom">
                <h4 class="h4">Crème boucles</h4>
            </div>
            <img src="assets/creme.png" alt="" class="img">
            <button class="ajout">
                <h4 class="h4">Ajouter</h4>
            </button>
        </div>
        <div class="cadeau invisible md:visible">
            <div class="nom">
                <h4 class="h4">perruque</h4>
            </div>
            <img src="assets/perruque.png" alt="" class="img">
            <button class="ajout">
                <h4 class="h4">Ajouter</h4>
            </button>
        </div>
    </div>
</div>
