<app-header></app-header>
<div class="flex flex-col  px-10 space-y-10 mb-10 md:px-32">
  <div
    class="my-5 md:space-x-44 flex flex-row justify-center md:my-10"
    style="color: #ff3e79"
  >
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/connaitre-ses-cheveux"
    >
      Connaitre ses cheveux
    </div>
    <div
      class="font-bold cursor-pointer border-b-2 hove hoverlinkeffet"
      style="border-color: #ff3e79"
      routerLink="/programmes/routine-capillaire"
    >
      Routines capillaires
    </div>
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/recette"
    >
      Recettes
    </div>
  </div>
  <div class="relative flex flex-col items-center" style="color: #ff3e79">
    <div
      class="font-bold pt-2 md:pt-5 md:py-5 z-50 text-lg md:text-2xl px-2 text-center"
    >
      Lutter contre les pellicules
    </div>
    <img
      src="assets/shampoingTitleXl.svg"
      alt=""
      class="block absolute h-full w-full justify-center top-0"
    />
    <img
      src="assets/shampoingTitleXs.svg"
      alt=""
      class="hidden md:hidden absolute h-full w-full justify-center top-0"
    />
  </div>
  <div class="space-y-10">
    <div class="relative">
      <img
        src="assets/shampooing.svg"
        alt=""
        class="absolute h-16 w-10 -top-6 -left-2"
      />
      <div class="pl-10">
        <p class="font-bold">Les produits à avoir :</p>
        <p>- Shampoing aide pelliculaire doux</p>
        <p>- Shampoing clarifiant</p>
        <p>- Gommage du cuir chevelu</p>
        <p>- Masque hydratant</p>
      </div>
    </div>
    <div class="relative">
      <img
        src="assets/idea.svg"
        alt=""
        class="absolute h-20 w-10 -top-6 -left-2"
      />
      <div class="px-10">
        <p class="font-bold">Astuces et conseils :</p>
        <p>- Alterner entre shampoing doux et shampoing clarifiant</p>
        <p>- Se rincer les cheveux à l’eau tiède</p>
        <p>
          - Éviter les appareils chauffants, les traitements et produits
          chimiques, les colorations, les produits coiffants type gel, mousse,
          laque…
        </p>
        <p>- Faire les gommante du cuir chevelu</p>
        <p>
          - Consulter un médecin en cas de datte, d’eczéma, de dessuinte
          séborrhéique, de psoriasis et suivre le traitement prescrit par
          celui-ci
        </p>
      </div>
    </div>
    <div class="relative">
      <img
        src="assets/objectif.svg"
        alt=""
        class="absolute w-10 top-0 -left-2"
      />
      <div class="px-10">
        <p class="font-bold">Objectif de cette routine :</p>
        <p>
          - Purifier et assainir votre cuir chevelu dans l’objectif d’en
          éliminer les pellicules
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
