<div class="body mt-20">
    <div class="nav">
        <ul class="nav-items flex justify-start space-x-20">
            <li class="nav-link">
                <a href="#">Accueil</a>
            </li>
            <li class="nav-link">
                <a href="#">Mon compte</a>
            </li>
            <li class="nav-link">
                <a href="#">Mes ateliers</a>
            </li>
            <li class="nav-link">
                <a href="#">Choisir mon cadeau</a>
            </li>
        </ul>
    </div>
    <div class="titre">
        <h1 class="h1">Accueil</h1>
    </div>
    <div class="containeur space-y-5 mt-15 md:space-y-10">
        <div class="circle space-y-2">
            <img src="assets/cadeauxWhile.png" alt="" class="img pt-3">
            <p>Hôtesse</p>
        </div>
        <div class="titre md:absolute md:top-7">
            <h1>Bonjour Sophie</h1>
        </div>
        <div class="canvas"></div>
        <div class="titre">
            <h1>Vous êtes hôtesse et membre Bigoodee</h1>
        </div>
        <div class="grid grid-cols-2 content-infos gap-4 md:space-x-10">
            <div class="flex-col infos space-y-5">
                <img src="assets/voiture.png" alt="" class="img pt-3">
                <p class="p">Mes commandes</p>
            </div>
            <div class="flex-col infos space-y-5">
                <img src="assets/noeud.png" alt="" class="img pt-3">
                <p class="p">Choisir mon cadeau</p>
            </div>
            <div class="flex-col infos space-y-5">
                <img src="assets/etoile.png" alt="" class="img pt-3">
                <p class="p">Mon relevé de points</p>
            </div>
            <div class="flex-col infos space-y-5">
                <img src="assets/calendrier.png" alt="" class="img pt-3">
                <p class="p">Mes ateliers</p>
            </div>
        </div>
    </div>
    
</div>