<div class=" space-y-8">
    <fieldset class="contain">
        <legend class="px-5 legend">Connexion</legend>
        <div class="form mt-10">
            <form action="">
                <div class="space-y-7 container content">
                    <input type="email" name="" id="" placeholder="@Mail" class="block input">
                    <input type="password" name="" id="" placeholder="Mot de passe" class="block input">
                    <button class="block btn">Se connecter</button>
                </div>
            </form>
        </div>
        <div class="link my-5 mr-10">
            <a href="#">Mot de passe oublie</a>
        </div>
    </fieldset>
</div>

