<app-header></app-header>
<div class="flex flex-col space-y-10 mb-10 px-10 md:px-32">
  <div
    class="my-5 md:space-x-44 flex flex-row justify-center md:my-10"
    style="color: #ff3e79"
  >
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/connaitre-ses-cheveux"
    >
      Connaitre ses cheveux
    </div>
    <div
      class="font-bold cursor-pointer border-b-2 hove hoverlinkeffet"
      style="border-color: #ff3e79"
      routerLink="/programmes/routine-capillaire"
    >
      Routines capillaires
    </div>
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/recette"
    >
      Recettes
    </div>
  </div>
  <div class="text-2xl text-center" style="color: #ff3e79">
    Routines simples
  </div>
  <div class="">
    Si vous êtes quelqu’un qui une vie plutôt bien remplie, que vous n’avez pas
    beaucoup de temps, que vous ne pouvez pas ou simplement ne voulez pas passer
    trop de temps a vous occuper de vos cheveux, que vous ne possédez que le
    strict minimum en terme de produit capillaire, qui va à l’essentiel, voici
    une routine capillaire simple et minimaliste, qui va vous aider à prendre
    soin de vos cheveux.
  </div>
  <div class="relative">
    <img src="assets/main.svg" alt="" class="absolute" />
    <div class="pl-16">
      Pour votre routine capillaire simple, il vous faut :
      <p>
        - Un shampoing ( acheter dans un commerce, mais dont la composition est
        adaptée à votre type de cheveux
      </p>
      <p>- Un après-shampoing</p>
      <p>- Un masque</p>
    </div>
  </div>
  <div class="">
    <div class="">
      * Si vous avez des cheveux très secs, vous pouvez ajoutez une crème ou un
      lait capillaire
    </div>
    <div class="">
      * Si vous avez des cheveux gras , vous pouvez ajouter un shampoing sec
    </div>
    <div class="">
      * Si vous avez des cheveux bouclés, vous pouvez ajouter un lait capillaire
      et un gel capillaire
    </div>
  </div>
  <div class="">
    <div class="">
      Cependant, si vous avez des besoins spécifiques, n’hésitez pas à
    </div>
    <div class="" style="color: #ff3e79">
      découvrir les routines spécifiques sur 1 mois
    </div>
  </div>
  <div class="">
    Une fois par semaine, faites votre shampoing ( opter pour un shampoing
    naturel, qui ne contient pas de silicones, ni de sulfates ), ensuite
    appliquer l’après-shampoing, qui permet de démêler cheveux sans casse.
    Celui-ci va adoucir et réhydraté les cheveux après le shampoing. Appliquer
    le masque, celui-ci va agir en profondeur, soigner et réparer la fibre
    capillaire.
  </div>
</div>
<app-footer></app-footer>
