<!-- <app-header></app-header> -->
<!-- <app-hotesse></app-hotesse> -->
<!-- <app-conseillere></app-conseillere> -->
<!-- <app-cliente></app-cliente> -->
<app-profit-beaute></app-profit-beaute>
<!-- <app-compte-cliente></app-compte-cliente> -->
<!-- <app-bigoodee></app-bigoodee> -->
<!-- <app-devenir-hotesse></app-devenir-hotesse> -->
<!-- <app-devenir-conseillere></app-devenir-conseillere> -->
<!-- <app-acceuil-hotesse></app-acceuil-hotesse> -->
<!-- <app-cadeau-hotesse></app-cadeau-hotesse> -->
<!-- <app-connaitre-cheveux></app-connaitre-cheveux> -->
<!-- <app-recette></app-recette> -->
<!-- <app-routines-capillaires></app-routines-capillaires> -->
<!-- <app-lutte-pellicule></app-lutte-pellicule> -->
<!-- <app-cheveux-sec></app-cheveux-sec> -->
<!-- <app-shampoing-sec></app-shampoing-sec> -->
<!-- <app-shampoing-clarifiant></app-shampoing-clarifiant> -->
<!-- <app-masque-nourissant></app-masque-nourissant> -->
<!-- <app-masque-cafe></app-masque-cafe> -->
<!-- <app-traitement-chimique></app-traitement-chimique> -->
<!-- <app-faq-hotesse></app-faq-hotesse> -->
<!-- <app-faq-conseillere></app-faq-conseillere> -->
<!-- <app-contactez-nous></app-contactez-nous> -->
<!-- <app-mentions-legales></app-mentions-legales> -->
<!-- <app-qui-sommes-nous></app-qui-sommes-nous> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-footer></app-footer> -->
