<!-- <app-header></app-header> -->
<!-- <app-hotesse></app-hotesse> -->
<!-- <app-conseillere></app-conseillere> -->
<!-- <app-cliente></app-cliente> -->
<!-- <app-profit-beaute></app-profit-beaute> -->
<!-- <app-compte-cliente></app-compte-cliente> -->
<!-- <app-bigoodee></app-bigoodee> -->
<!-- <app-devenir-hotesse></app-devenir-hotesse> -->
<!-- <app-devenir-conseillere></app-devenir-conseillere> -->
<!-- <app-acceuil-hotesse></app-acceuil-hotesse> -->
<!-- <app-cadeau-hotesse></app-cadeau-hotesse> -->
<!-- <app-connaitre-cheveux></app-connaitre-cheveux> -->
<!-- <app-recette></app-recette> -->
<app-routines-capillaires></app-routines-capillaires>
<!-- <router-outlet></router-outlet> -->
<!-- <app-footer></app-footer> -->
