<app-header></app-header>
<div class="flex flex-col px-5 justify-center items-center text-gray-600">
  <div
    class="my-5 md:space-x-44 flex flex-row justify-center md:my-10"
    style="color: #ff3e79"
  >
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/connaitre-ses-cheveux"
    >
      Connaitre ses cheveux
    </div>
    <div
      class="font-bold cursor-pointer border-b-2 hove hoverlinkeffet"
      style="border-color: #ff3e79"
      routerLink="/programmes/routine-capillaire"
    >
      Routines capillaires
    </div>
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/recette"
    >
      Recettes
    </div>
  </div>
  <div class="flex flex-col md:w-8/12 md:px-24 text-lg mt-10">
    <div class="">D’après les informations que vous nous avez communique,</div>
    <div class="">
      vous avez besoin d'une
      <span class="text-primary">routine simple et minimaliste.</span>
    </div>
    <div class="underline">
      Découvrez des exemples de routine capillaires simples et minimalistes
    </div>
  </div>
  <div class="text-center font-semibold text-lg text-primary my-10">
    RECOMMANANDATION PRODUITS POUR VOTRE ROUTINE
  </div>
  <div
    class="
      border border-primary
      rounded-lg
      flex flex-col
      px-5
      py-10
      mb-10
      justify-center
      md:w-8/12
    "
  >
    <div class="hidden text-center md:block mb-5 text-lg">
      Pour votre routine capillaire simple et minimaliste
    </div>
    <div class="space-y-10">
      <div class="flex flex-row justify-between items-center">
        <div class="flex flex-col items-center gap-2 md:gap-4 md:flex-row">
          <div class="border border-primary rounded-md">
            <img src="assets/shamp.png" class="w-32 h-32 p-2" alt="" />
          </div>
          <div class="text-lg font-bold">
            <div class="">Shampoing doux</div>
            <div class="text-primary">115 ml</div>
          </div>
        </div>
        <button class="bg-primary text-white px-2 rounded-md h-10">
          Ajouter au panier
        </button>
      </div>
      <div class="flex flex-row justify-between items-center">
        <div class="flex flex-col items-center gap-2 md:gap-4 md:flex-row">
          <div class="border border-primary rounded-md">
            <img src="assets/shamp.png" class="w-32 h-32 p-2" alt="" />
          </div>
          <div class="text-lg font-bold">
            <div class="">Conditionner</div>
            <div class="text-primary">115 ml</div>
          </div>
        </div>
        <button class="bg-primary text-white px-2 rounded-md h-10">
          Ajouter au panier
        </button>
      </div>
      <div class="flex flex-row justify-between items-center">
        <div class="flex flex-col items-center gap-2 md:gap-4 md:flex-row">
          <div class="border border-primary rounded-md">
            <img src="assets/shamp.png" class="w-32 h-32 p-2" alt="" />
          </div>
          <div class="text-lg font-bold">
            <div class="">Masque à l’avocat</div>
            <div class="text-primary">115 ml</div>
          </div>
        </div>
        <button class="bg-primary text-white px-2 rounded-md h-10">
          Ajouter au panier
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
