<app-header></app-header>
<div
  class="
    flex flex-col
    items-center
    px-5
    space-y-10
    my-10
    md:space-y-0
    md:px-32
    md:flex-row
    md:justify-between
    md:gap-10
    md:items-start
  "
>
  <div class="space-y-5 w-36 md:w-48">
    <div class="flex flex-col items-center justify-center">
      <!-- <img  src="assets/profil.svg" alt="" /> -->
      <img
        class="w-40 rounded-full"
        [src]="
          userData.imageURL
            ? 'http://93.90.207.75:3000/' + userData.imageURL
            : 'assets/profil.svg'
        "
        alt=""
        srcset=""
      />
      <div class="flex flex-col items-center">
        <div class="flex flex-row gap-2">
          Modifier mon profil
          <div class="cursor-pointer hover">
            <img src="assets/edit.svg" alt="" srcset="" />
          </div>
        </div>
        <input
          type="file"
          name=""
          (change)="profileImage($event)"
          id=""
          style="border: none !important"
        />
      </div>
    </div>
    <div
      class="cursor-pointer text-center w-full rounded-md h-10 pt-2"
      style="background-color: #ff3e79; color: #fff"
      [ngClass]="page1 ? 'opacity-60' : 'opacity-100'"
      routerLink="/dash/cliente"
    >
      Mon compte
    </div>
    <div
      class="cursor-pointer text-center w-full rounded-md h-10 pt-2"
      style="background-color: #ff3e79; color: #fff"
      routerLink="/profil-beaute"
      [ngClass]="page2 ? 'opacity-60' : 'opacity-100'"
    >
      Mon profil beauté
    </div>
    <div
      class="cursor-pointer text-center w-full rounded-md h-10 pt-2"
      style="background-color: #ff3e79; color: #fff"
      routerLink="/mes-produits"
      [ngClass]="page3 ? 'opacity-60' : 'opacity-100'"
    >
      <button>Mes produits</button>
    </div>
  </div>
  <div class="flex flex-col md:w-9/12" *ngIf="page3">
    <div class="grid grid-cols-2" style="color: #ff3e79">
      <div
        class="cursor-pointer flex flex-row space-x-2 justify-center py-3"
        style="border-color: #ff3e79"
        [ngClass]="
          part1 ? 'border-2 border-b-0 rounded-t-md' : 'border-0 border-b-2'
        "
        (click)="showMawishlist()"
      >
        <img src="assets/panier.svg" alt="" class="h-5" />
        <div class="">Mon panier</div>
      </div>
      <div
        class="cursor-pointer flex justify-center py-3 text-center"
        (click)="showRecommendation()"
        id="recommandations"
        style="border-color: #ff3e79"
        [ngClass]="
          recommendation
            ? 'border-2 border-b-0 rounded-t-md'
            : 'border-0 border-b-2'
        "
      >
        Mes recommandations
      </div>
    </div>
    <div
      class="
        flex flex-col
        gap-6
        justify-around
        py-5
        border-2 border-t-0
        rounded-b-md
      "
      style="border-color: #ff3e79"
    >
      <div *ngIf="part1">
        <div class="space-y-5" *ngIf="monPanier">
          <div class="grid grid-cols-6 w-full">
            <div class="col-span-2 text-primary text-center">Produit</div>
            <div class="col-span-2 text-primary text-center">Quantité</div>
            <div class="col-span-2 text-primary text-center">Prix</div>
          </div>
          <div
            class="grid grid-cols-6 w-full items-center justify-center"
            *ngFor="let item of resultats; index as i"
          >
            <div
              class="col-span-2 text-primary flex justify-center items-center"
            >
              <label for="">
                <img
                  [src]="server + item.produit.imageURL"
                  alt=""
                  class="w-12 h-12"
                />
              </label>
            </div>
            <div
              class="
                col-span-2
                text-primary text-center
                flex flex-row
                items-center
                space-x-3
              "
            >
              <input
                type="text"
                name=""
                id={{i}}
                [placeholder]="item.qte"
                class="w-12 text-center text-primary"
              />
              <div class="cursor-pointer" (click)="remove(item._id)">
                <img src="assets/poubelle.svg" alt="" class="" />
              </div>
            </div>
            <div class="col-span-2 text-primary text-center">
              {{ item.produit.prix }} €
            </div>
          </div>
          <div class="grid grid-cols-6 w-full">
            <div class="col-span-4 pl-5">
              <select name="" id="" class="w-full">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </div>
            <div class="col-span-2 text-primary text-center">66 €</div>
          </div>
          <div class="grid grid-cols-3 w-full">
            <div class="col-span-2 text-lg font-bold pl-5">Total commande</div>
            <div class="col-span-1 text-primary text-center">{{Facture}} €</div>
          </div>
          <div class="flex flex-col items-center">
            <button
              type="submit"
              class="btn rounded-md h-12 w-64"
              (click)="panier = true; monPanier = false"
            >
              Passer la commande
            </button>
          </div>
        </div>
        <div class="space-y-5 px-5" *ngIf="panier">
          <div class="grid grid-cols-6 w-full">
            <div class="col-span-2 text-primary text-center">Panier</div>
            <div class="col-span-2 text-primary text-center">Livraison</div>
            <div class="col-span-2 text-primary text-center">Paiement</div>
          </div>
          <div class="flex flex-col items-center">
            <img src="assets/progress1.svg" alt="" class="w-64 md:w-9/12" />
          </div>
          <div
            class="grid grid-cols-6 w-full items-center justify-center"
            *ngFor="let item of resultats"
          >
            <div
              class="col-span-2 text-primary flex justify-center items-center"
            >
              <label for="">
                <img
                  [src]="server + item.produit.imageURL"
                  alt=""
                  class="w-12 h-12"
                />
              </label>
            </div>
            <div
              class="
                col-span-2
                text-primary text-center
                flex flex-row
                items-center
                space-x-3
              "
            >
              <input
                type="text"
                name=""
                id=""
                [placeholder]="item.qte"
                class="w-12 rounded-md text-center"
              />
              <div class="cursor-pointer" (click)="remove(item._id)">
                <img src="assets/poubelle.svg" alt="" class="" />
              </div>
            </div>
            <div class="col-span-2 text-primary text-center">
              {{ item.produit.prix }} €
            </div>
          </div>
          <div class="flex flex-col items-center">
            <div
              class="
                border-2 border-primary
                rounded-md
                flex flex-row
                justify-center
                space-x-5
                w-10/12
                items-center
              "
            >
              <div class="text-primary text-lg font-bold">5 €</div>
              <div
                class="cursor-pointer justify-center py-2"
                (click)="
                  livraison = true;
                  livraison1 = true;
                  livraison2 = false;
                  panier = false
                "
              >
                <button type="submit" class="btn rounded-md h-6 w-24">
                  Suivant
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="" *ngIf="livraison">
          <div class="space-y-5" *ngIf="livraison1">
            <div class="grid grid-cols-6 w-full">
              <div class="col-span-2 text-primary text-center">Panier</div>
              <div class="col-span-2 text-primary text-center">Livraison</div>
              <div class="col-span-2 text-primary text-center">Paiement</div>
            </div>
            <div class="flex flex-col items-center">
              <img src="assets/progress2.svg" alt="" class="w-64 md:w-9/12" />
            </div>
            <form action="" class="px-5 md:px-32">
              <div class="text-primary text-center my-5">
                Votre adresse de livraison
              </div>
              <div class="space-y-5">
                <div class="flex flex-col w-full">
                  <label for="">Prenom</label>
                  <input type="text" name="" id="" class="w-full" />
                </div>
                <div class="flex flex-col">
                  <label for="">Nom</label>
                  <input type="text" name="" id="" />
                </div>
                <div class="flex flex-col">
                  <label for="">Adresse</label>
                  <input type="text" name="" id="" />
                </div>
                <div class="flex flex-col">
                  <label for="">Code postal</label>
                  <input type="text" name="" id="" />
                </div>
                <div class="flex flex-col">
                  <label for="">Ville</label>
                  <input type="text" name="" id="" />
                </div>
                <div class="flex flex-col items-center">
                  <button
                    type="submit"
                    class="btn rounded-md w-36 h-10"
                    (click)="paiement = true; livraison1 = false"
                  >
                    enregistrer
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="px-5" *ngIf="livraison2">
            <div class="space-y-5">
              <div class="grid grid-cols-6 w-full">
                <div class="col-span-2 text-primary text-center">Panier</div>
                <div class="col-span-2 text-primary text-center">Livraison</div>
                <div class="col-span-2 text-primary text-center">Paiement</div>
              </div>
              <div class="flex flex-col items-center">
                <img src="assets/progress2.svg" alt="" class="w-64 md:w-9/12" />
              </div>
              <div class="text-primary text-center">
                Choix de la methode de livraison
              </div>
              <div class="">
                <div class="flex flex-row space-x-2 items-center">
                  <input type="checkbox" name="" id="" />
                  <div>Livraison domicile France</div>
                  <div class="text-primary">4,95 €</div>
                </div>
                <div class="flex flex-row space-x-2 items-center">
                  <input type="checkbox" name="" id="" />
                  <div>Livraison chronopost</div>
                  <div class="text-primary">9,90 €</div>
                </div>
                <div class="flex flex-row space-x-2 items-center">
                  <input type="checkbox" name="" id="" />
                  <div class="flex flex-col items-center">
                    <div>Livraison Point Relais</div>
                    <div class="border-2 border-primary"></div>
                  </div>
                  <div class="text-primary">4,95 €</div>
                </div>
              </div>
              <div class="flex flex-col items-center">
                <div
                  class="
                    flex flex-row
                    border-2 border-primary
                    justify-center
                    space-x-5
                    rounded-md
                    h-10
                    w-10/12
                    items-center
                  "
                >
                  <div class="text-primary">Total 37,90 €</div>
                  <div
                    class="pointer-cursor"
                    (click)="paiement = true; livraison2 = false"
                  >
                    <button type="submit" class="btn h-7 rounded-md w-20">
                      Suivant
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="" *ngIf="paiement">
            <div class="grid grid-cols-6 w-full">
              <div class="col-span-2 text-primary text-center">Panier</div>
              <div class="col-span-2 text-primary text-center">Livraison</div>
              <div class="col-span-2 text-primary text-center">Paiement</div>
            </div>
            <div class="flex flex-col items-center">
              <img src="assets/progress3.svg" alt="" class="w-64 md:w-9/12" />
            </div>
            <div class="text-2xl text-primary font-bold text-center my-5">
              Modes de paiement
            </div>
            <div class="space-y-5">
              <div class="flex flex-row items-center pl-10 md:pl-16 space-x-2">
                <input type="checkbox" name="" id="" />
                <div class="">Carte Bancaire</div>
              </div>
              <div class="grid grid-cols-2 w-64 md:w-80 pl-20 md:pl-28 gap-4">
                <div class="col-span-2 flex flex-col text-sm">
                  <label for="">Numero de la carte</label>
                  <input type="text" name="" id="" />
                </div>
                <div class="col-span-1 flex flex-col text-sm whitespace-nowrap">
                  <label for="">Date d’expiration</label>
                  <input type="text" name="" id="" />
                </div>
                <div class="col-span-1 flex flex-col text-sm">
                  <label for="">CVC / CVV</label>
                  <input type="text" name="" id="" />
                </div>
                <div class="col-span-2 relative flex flex-col">
                  <input
                    type="password"
                    name=""
                    id=""
                    class="pl-5 text-primary text-center"
                    placeholder="Paiement"
                  />
                  <img
                    src="assets/keys.svg"
                    alt=""
                    class="absolute top-1 right-5 w-3"
                  />
                </div>
              </div>
              <div class="flex flex-row items-center pl-10 md:pl-16 space-x-2">
                <input type="checkbox" name="" id="" />
                <div class="">Virement</div>
              </div>
              <div class="flex flex-row items-center pl-10 md:pl-16 space-x-2">
                <input
                  type="checkbox"
                  name=""
                  id=""
                  class="border-2 border-primary rounded-full"
                />
                <div class="">Paypal</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col gap-6 py-3 justify-between items-center px-2"
        style="border-color: #ff3e79"
        *ngIf="recommendation"
      >
        <div class="grid grid-cols-6 w-full">
          <div class="col-span-2 text-primary text-center">Produit</div>
          <div class="col-span-1 text-primary text-center">Prix</div>
          <div class="col-span-1 text-primary text-center">Quantité</div>
          <div class="col-span-2 text-primary text-center">&nbsp;</div>
        </div>
        <div
          class="grid grid-cols-6 w-full items-center justify-center"
          *ngFor="let item of items; index as j"
        >
          <div class="col-span-2 text-primary flex justify-center items-center">
            <input type="checkbox" name="" id="" />
            <label for="">
              <img
                [src]="server + item.produit.imageURL"
                alt=""
                class="w-12 h-12"
              />
            </label>
          </div>
          <div class="col-span-1 text-primary text-center">
            {{ item.produit.prix }} €
          </div>
          <form class="col-span-1 text-primary text-center pr-1" [formGroup]="addForm">
            <input type="number" name="" id={{j}} class="w-12 text-center" formControlName="qte">
          </form>
          <div class="col-span-2 text-primary text-center">
            <button
              type="submit"
              class="text-xs rounded-md py-1 px-2 btn"
              (click)="addPanier(item.produit._id)"
            >
              AJOUTER AU PANIER
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
