<app-header></app-header>
<div class="">
    <div class="my-5 md:space-x-44 flex flex-row justify-center md:my-10" style="color: #ff3e79">
        <div
          class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
          routerLink="/programmes/connaitre-ses-cheveux"
        >
          Connaitre ses cheveux
        </div>
        <div
          class="font-bold cursor-pointer border-b-2 hove hoverlinkeffet"
          style="border-color: #ff3e79"
          routerLink="/programmes/routine-capillaire"
        >
          Routines capillaires
        </div>
        <div
          class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
          routerLink="/programmes/recette"
        >
          Recettes
        </div>
      </div>
      <div class="space-y-5 px-10 md:px-32 mb-10">
        <div class="text-2xl text-center" style="color: #FF3E79;">Les ingrédients à éviter</div>
        <div class="">
            <div class="">
                Ayez dès le départ, les bons réflexes en ce qui concerne l’achat de vos soins capillaires. 
                Vous devez avoir connaissance des composantes à éviter.
            </div>
            <div class="">Dans la composition de vos produits, éviter le produit composées de :</div>
        </div>
        <div class="relative">
            <img src="assets/false.svg" alt="" class="absolute w-5" />
            <div class="pl-6">
                Silicone, sulfate, huiles minérales, parabens, parfum artificiels, colorants synthétiques
            </div> 
        </div>
        <div class="relative">
            <img src="assets/Arrow.svg" alt="" class="absolute w-5" />
            <div class="pl-6">
                Les silicone enrobent et étouffent votre cheveu, les composantes à base de silicone ont des 
                noms qui se termine en général pas "cone" ou xane exemple dimethicone ou encore 
                cyclopentasisiloxane. 
            </div> 
        </div>
        <div class="">
            Les huiles minérales enrobent et étouffent votre cheveu, voici une liste d’huiles minérales assez 
            fréquentes : liquidien, minéral oil, petrolatum, ozokerite, cera microcristallina...
        </div>
        <div class="relative">
            <img src="assets/false.svg" alt="" class="absolute w-5" />
            <div class="pl-6">
                Les addictif et matière toxiques, ceci assèchent le cheveu et ont des risques cancérigène : 
                tous les composants contenant dans leur nom methyl, paraben, ethyl, propyl, benzo, butyl, 
                ainsi que tous les composants dont les noms contiennent de chiffres et/ou acronymes comme 
                EDTA, BHA, BHT...
            </div> 
        </div>
        <div class="relative">
            <img src="assets/false.svg" alt="" class="absolute w-5" />
            <div class="pl-6">
                Les mauvais alcools ( car il y’a des bons alcools, qui eux conditionnent le cheveu), 
                ceux-ci assèchent les cheveux : propanol, ethyl alcohol ( ethanol, SD alcohol, alcohol Denat ), 
                isopropyl, propyl, isopropyl alcohol ( isopropanol, propyl ou propanol)
            </div> 
        </div>
        <div class="relative">
            <img src="assets/false.svg" alt="" class="absolute w-5" />
            <div class="pl-6">
                Les parfums artificiels ( perturbateurs endocriniens) : parfums pétrochimiques.
            </div> 
        </div>
        <div class="relative">
            <img src="assets/false.svg" alt="" class="absolute w-5" />
            <div class="pl-6">
                Les agents moussants de synthèse, ceux-ci irritent le cuir chevelu et assèchent les cheveux : 
                cocamidopropyl Betaine, sodium coco Sulfate Disodium, Cocoamphodiacetate, Disodium Laureth 
                sulfosuccinate, Sodium Cetearyl Sulfate, Sodium Myreth Sulfate, Sodium Lauryl Sulfoacetate, 
                Ammonium Lauryl Sulfate (ALS), Sodium Lauryl Sulfate (SLS), Sodium Laureth Sulfate ( SLES).
            </div> 
        </div>
        <div class="relative">
            <img src="assets/false.svg" alt="" class="absolute w-5" />
            <div class="pl-6">
                Les plastiques : PEG (poly Éthylène Glycol), PPG ( Polypropylène Glycol).
            </div> 
        </div>
        <div class="">
            Il est très important, voir primordial de décrypter la liste des ingrédients sur les étiquettes 
            de vos produits cosmétiques 
        </div>
        <div class="">
            Il faut savoir qu’autant il y’a des composants dans vos soins capillaires, à éviter, autant il 
            y’a certains composants que vous pouvez tolérer et pas confondre.
        </div>
        <div class="relative">
            <img src="assets/true.svg" alt="" class="absolute w-5" />
            <div class="pl-6">
                Les agents moussants de synthèse = Sodium Lauryl Sulfoacetate ( SLSA), Coco Glucoside, 
                Decyl Glucoside, Lauryl Glucoside, Caprylyl Glucoside, Disodium Cocoyl Glutamate, 
                Laurdimonium, Sodium Cocoyl Glutamate, Sodium Cocoyl Isethonate, Sodium Lauroyl Glutamate, 
                Sodium Cocoyl hydrolyzed wheat protein Glutamate, Sodium Cocoyl Hydrolized wheat protein 
                Glutamate 
            </div> 
        </div>
        <div class="relative">
            <img src="assets/true.svg" alt="" class="absolute w-5" />
            <div class="pl-6">
                Les Quat ( quaternary ammonium cation), ceux-ci remplacent parfois le silicone : 
                polyquaternium-7, polyquaternium-10, polyquaternium-15, ammonium thioglycolates.
            </div> 
        </div>
        <div class="relative">
            <img src="assets/true.svg" alt="" class="absolute w-5" />
            <div class="pl-6">
                Parfums artificiels ( perturbateurs endocriniens) : huiles essentielles, extrait naturels 
                et fragrances naturelles.
            </div> 
        </div>
        <div class="relative">
            <img src="assets/true.svg" alt="" class="absolute w-5" />
            <div class="pl-6">
                Les bons alcools ceux-ci conditionnent le cheveu : Cetyl alcohol ou alcools cétylique, 
                brassica alcohol, cetearyl alcohol, Behenyl alcohol, Lauryl alcohol, Myristyl alcohol, 
                stearyl alcohol ou alcool stéarique
            </div> 
        </div>
      </div>
</div>
<app-footer></app-footer>
