<app-header></app-header>
<div class="flex flex-col items-center text-gray-600 px-10 md:px-32 mb-10">
  <div class="my-5 md:space-x-44 flex flex-row md:my-10" style="color: #ff3e79">
    <div
      class="font-bold cursor-pointer border-b-2 hove hoverlinkeffet"
      style="border-color: #ff3e79"
      routerLink="/programmes/connaitre-ses-cheveux"
    >
      Connaitre ses cheveux
    </div>
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/routine-capillaire"
    >
      Routines capillaires
    </div>
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/recette"
    >
      Recettes
    </div>
  </div>

  <div class="flex flex-col px-8 md:px-32">
    <div class="relative flex flex-col items-center" style="color: #ff3e79">
      <div
        class="font-bold pt-5 md:py-5 z-50 text-lg md:text-2xl px-2 text-center"
      >
        Perruques, tresses, tissages
      </div>
      <img
        src="assets/shampoingTitleXl.svg"
        alt=""
        class="hidden md:block absolute h-full w-full justify-center top-0"
      />
      <img
        src="assets/shampoingTitleXs.svg"
        alt=""
        class="md:hidden absolute h-full w-full justify-center top-0"
      />
    </div>
    <div class="my-5">
      Il est bien connu que les cheveux texturés (crépus, frisés), sont adapté à
      un climat tropical, chaud et humide. Mal protégés dans les climats
      tempérés, l’air étant plus sec que dans les climats tropicaux, cela
      entraîne un resserrement des pores du cuir chevelu, le sébum s’écoule plus
      difficilement alors. À l’approche de l’hiver, ce phénomène est plus
      visible, avec le froid, la pluie, le vent, la neige, les cheveux
      s’abîment, se cassent, s’assèchent... C’est pourquoi il faut opter à ces
      périodes, pour des coiffures protectrices.
    </div>
    <div class="space-y-5 my-5">
      <h1 class="font-bold">Qu’est-ce qu’une coiffure protectrice ?</h1>
      <div class="">
        <p>
          Il s’agit de coiffures que l’on adopte sur des durées allant de
          plusieurs semaines à plusieurs mois, pour protéger les cheveux des
          conditions climatiques (chaleur, vent, froid, pluie, pollution), des
          conditions physiques (coiffage au quotidien), thermique ou chimiques
          (lissage, défrisage, coloration). Le but ultime ultime étant de
          contribuer à la pousse des cheveux, de les fortifier et de les
          régénérer.
        </p>
        <p>
          Il est vivement conseillé de la conserver entre 3 et 4 semaines
          maximum, et laisser reposer 1 à 2 semaines avant de refaire une
          nouvelle coiffure.
        </p>
        <p>
          Des exemples de coiffures protectrices : vanilles, bantu knot, nattes,
          tresses. Mais aussi perruques amovibles (qu’on peut retirer le soir),
          postiches, lace wig, crochets braids.
        </p>
        <p>Pour qui ?</p>
        <p>
          Vous pouvez réaliser des coiffures protectrices que vous ayez les
          cheveux afro naturels, défrisés, secs, abîmés, courts, longs.
        </p>
      </div>
    </div>
    <div class="space-y-5">
      <h1 class="font-bold">Lace wigs, la perruque indétectable.</h1>
      <p>
        La lace wig est un nouveau modèle de perruque, réaliser en fibre
        synthétique et qui ne se colle pas. Il s’agit de perruque réaliser à la
        main, sur des bonnet en tulle Suisse. La perruque est fixé facilement
        grâce à des clips.
      </p>
    </div>
    <div class="space-y-5 my-5">
      <h1 class="font-bold">Longueur des mèches</h1>
      <div class="">
        <div class="">
          <p>
            La longueur des mèches est exprimée en pouces et non en centimètres
            (1 pouce correspond à 2,54cm).
          </p>
          <p>
            La longueur de la mèche doit être mesuré de la racine à la pointe la
            plus longue (étiré la mèche si celle-ci est bouclée ou ondulée).
          </p>
        </div>
        <div class="font-semibold">
          <p>
            Une coiffure avec des mèches 12 pouces, vous arrivera à l’épaule
          </p>
          <p>
            Une coiffure avec des mèches 14-16 pouces, vous arrivera à
            l’omoplate
          </p>
          <p>
            Une coiffure avec des mèches de 18-20 pouces, vous arrivera au
            milieu du dos
          </p>
          <p>
            Une coiffure avec des mèches 24-28 pouces, vous arrivera au bas du
            dos.
          </p>
        </div>
      </div>
    </div>
    <div class="space-y-5 my-5">
      <h1 class="font-bold">Tresses et tissages</h1>
      <div class="">
        <p>
          Avant de se coiffer : faire un soin avant shampoing, faire un
          shampoing clarifiant pour nettoyer le cuir chevelu, démêler les cheveu
          avec un après shampoing, faire un soin hydratant, sécher et étirer les
          cheveux.
        </p>
        <p>
          Se coiffer : ne pas serrer aux racines, utiliser le moins possible de
          paquets (court : 3 à 4 paquets maxi, mi-long 4 à 5 paquets maxi, long
          5 à 7 paquets maxi).
        </p>
        <p>
          Entretien de la coiffure : hydrater ses cheveux, laver ses cheveux,
          rafraîchir la coiffure avec des sprays, gels ou mousse coiffante. Si
          le cuir chevelu gratte, vaporiser de l’hydrolat ou une infusion de
          laurier.
        </p>
        <p>
          Après : Défaire la coiffure, bien démêler ses cheveux, faire un soin
          hydratant, faire un shampoing hydratant pour nettoyer les cheveux des
          saletés accumulés, peigner et démêler en sections avec un
          après-shampoing, attendre 2 ou 3 semaines avant de vous aire coiffer à
          nouveau.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
