<div class="flex flex-col items-center px-10">
    <div class="my-5 md:space-x-44 flex flex-row md:my-10" style="color: #FF3E79;">
        <div class="hidden font-bold cursor-pointer md:flex">Connaitre ses cheveux</div>
        <div class="hidden font-bold cursor-pointer md:flex">Routines capillaires </div>
        <div class="font-bold cursor-pointer">Recettes</div>
    </div>
    <div class=" flex flex-col items-center space-y-8 md:grid md:grid-cols-2">
        <div class=" space-y-10 md:pl-40">
            <div class="space-y-0 font-semibold">
                <p>Vous trouverez ici, des recettes éfficaces,</p>
                <p>Pour vous occuper de vos cheveux en tout</p>
                <p>temps et cela quelque soit votre problématique</p>
                <p>Capillaire.</p>
                <p>À vos cheveux, prêtes… Partez !!</p>
            </div>
            <div class="border-2 rounded-lg h-12 py-2 pl-2 md:w-10/12" style="border-color: #FF3E79;">
                - Les shampoings
            </div>
            <div class="pl-3" style="color: #FF3E79;">
                <p>Shampoing sec</p>
                <p>Shampoing solide</p>
                <p>Shampoing clarifiant</p>
            </div>
            <div class="pl-2">
                <p>- Les lotions et crèmes</p>
                <p>- Les masques et soins</p>
            </div>
        </div>
        <div class="">
            <img src="assets/recette.svg" alt="">
        </div>
    </div>
</div>
