<div class="hidden sm:block">
  <app-atelier-header></app-atelier-header>
</div>
<div class="sm:block hidden py-7 w-full h-0.5 overflow-hidden">
  <img
    class="px-2 overflow-hidde w-screen"
    src="assets/line.svg"
    alt=""
    srcset=""
  />
</div>
<div class="w-screen overflow-hidden px-5 py-5 md:px-20">
  <div
    class="md:border-2 py-10 rounded-2xl space-y-10"
    style="border-color: #ff3e79"
  >
    <!-- section 1 -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="md:px-10">
        <iframe
          [src]="safeURL"
          frameborder="0"
          allowfullscreen
          class="w-full h-full rounded-lg"
        ></iframe>
      </div>
      <div class="space-y-8 md:px-10">
        <div class="text-2xl md:text-4xl font-bold" style="color: #ff3e79">
          Rejoignez-nous !
        </div>
        <div class="text-sm font-semibold">Conseillère capillaire</div>
        <div class="space-y-5">
          <div class="">
            Ambassadrice Bigoodee, elle organise des réunions à domicile
            appelées
            <div class="inline font-bold" style="color: #ff3e79">
              Ateliers Bigoodee
            </div>
            pour conseiller les clientes sur les soins adaptés à leur type de
            cheveux, répond aux questions des clientes et fait découvrir des
            soins sélectionnés par Bigoodee.
          </div>
          <div>
            Vous avez un
            <div class="inline font-bold" style="color: #ff3e79">
              vrai sens du relationnel
            </div>
            et une
            <div class="inline font-bold" style="color: #ff3e79">énergie</div>
            à revendre ? Ce job est fait pour vous ! Devenez
            <div class="inline font-bold" style="color: #ff3e79">
              conseillère capillaire en VDI
            </div>
            , Vendeuse à Domicile Indépendante.
          </div>
        </div>
      </div>
    </div>

    <!-- section 2 -->
    <div>
      <div class="text-center text-lg font-bold" style="color: #ff3e79">
        Votre kit de démarrage
      </div>
      <div class="text-center">
        Nous vous offrons tout ce qu’il faut pour réussir
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-20">
        <div class="md:px-10">
          <img src="assets/bigoodee1.svg" alt="" srcset="" />
        </div>
        <div class="space-y-8 px-10 flex flex-col">
          <div class="flex flex-row space-x-5">
            <img class="w-10" src="assets/check.svg" alt="" srcset="" />
            <div class="md:text-lg">
              Produits de démonstrations pour démarrer
            </div>
          </div>

          <div class="flex flex-row space-x-5">
            <img class="w-10" src="assets/check.svg" alt="" srcset="" />
            <div class="md:text-lg">
              Documentation, lookbook, outils de vente, guide de démarrage...
            </div>
          </div>

          <div class="flex flex-row space-x-5">
            <img class="w-10" src="assets/check.svg" alt="" srcset="" />
            <div class="md:text-lg">
              Votre application pro pour planifier vos ateliers capillaires,
              consulter vos résultats, recevoir les paiements par carte
              bancaire...
            </div>
          </div>

          <div class="flex flex-row space-x-5">
            <img class="w-10" src="assets/check.svg" alt="" srcset="" />
            <div class="md:text-lg">
              Vos outils en ligne : vidéos, tutoriels, fiches mémos, guide de
              pratique et support de communication
            </div>
          </div>
          <div class="flex items-center justify-center">
            <button
              class="rounded px-5 py-3 text-white"
              style="background-color: #907972"
              routerLink="/atelier/inscription/conseillere"
            >
              Devenir conseillère
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-7 w-full">
  <img class="w-full px-2" src="assets/Rectangle.svg" alt="" srcset="" />
</div>

<div class="w-screen overflow-hidden px-5 py-5 md:px-20">
  <div
    class="md:border-2 py-10 rounded-2xl space-y-20"
    style="border-color: #ff3e79"
  >
    <div class="space-y-5">
      <div class="text-center text-2xl font-bold" style="color: #ff3e79">
        Votre rémunération
      </div>
      <div class="text-center font-semibold text-xl md:px-40">
        De temps en temps, à mi-temps ou à temps plein, adaptez votre activité
        en fonction de vos objectifs.
      </div>
    </div>
    <div
      class="
        grid grid-cols-1
        md:grid-cols-3
        gap-4
        mt-20
        fle
        justify-center
        items-center
        space-y-10
      "
    >
      <div class="flex flex-col items-center md:space-y-8 justify-center">
        <div>
          <img src="assets/money.svg" alt="" srcset="" />
        </div>
        <div class="text-center">
          <div>500€ / mois</div>
          <div>Complétez votre revenu</div>
        </div>
      </div>
      <div class="flex flex-col items-center md:space-y-8 justify-center">
        <div>
          <img src="assets/money.svg" alt="" srcset="" />
        </div>
        <div class="text-center">
          <div>1500 / mois</div>
          <div>Remplacez votre revenu</div>
        </div>
      </div>
      <div class="flex flex-col items-center md:space-y-8 justify-center">
        <div>
          <img src="assets/money.svg" alt="" srcset="" />
        </div>
        <div class="text-center">
          <div>3000€ / mois</div>
          <div>Voyez les choses en grand</div>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <button
        class="rounded px-5 py-3 text-white"
        style="background-color: #ff3e79"
        routerLink="/atelier/inscription/conseillere"
      >
        Devenir conseillère
      </button>
    </div>
  </div>
</div>

<div class="py-7 w-full">
  <img class="w-full px-2" src="assets/Rectangle.svg" alt="" srcset="" />
</div>

<app-testimonie></app-testimonie>

<div class="flex justify-center mb-10">
  <button
    class="rounded px-5 py-3 text-white"
    style="background-color: #ff3e79"
    routerLink="/atelier/inscription/conseillere"
  >
    Rejoignez-les
  </button>
</div>
