<app-header> </app-header>

<!-- <app-programme-header></app-programme-header> -->
<div class="flex flex-col  px-10 mb-10">
  <div class="my-5 md:space-x-44 flex flex-row justify-center md:my-10" style="color: #ff3e79">
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/connaitre-ses-cheveux"
    >
      Connaitre ses cheveux
    </div>
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/routine-capillaire"
    >
      Routines capillaires
    </div>
    <div
      class="font-bold cursor-pointer border-b-2 hove hoverlinkeffet"
      style="border-color: #ff3e79"
      routerLink="/programmes/recette"
    >
      Recettes
    </div>
  </div>
  <div
    class="
      flex flex-col
      px-5
      space-y-10
      md:justify-center md:px-44
      text-gray-600
    "
  >
    <div class="relative flex flex-col items-center" style="color: #FF3E79;">
      <div class="font-bold py-5 z-50 text-2xl">Masque au cafe</div>
      <img src="assets/shampoingTitle.svg" alt="" class="absolute w-72 justify-center top-0">
    </div>
    <div class="grid grid-cols-2 space-x-3 md:space-x-40">
      <div class="flex flex-col items-center">
        <img src="assets/horloge.svg" alt="" class="w-20 md:w-32" />
        <p>10 min</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="assets/objectif.svg" alt="" class="w-20 md:w-32" />
        <p>Faire pour vos cheveux</p>
      </div>
    </div>
    <div class="space-y-5 w-full">
      <h1 class="" style="color: #ff680c">Ingrédients :</h1>
      <div class="">
        <P>- 2 C.À.S de masque capillaire ou yaourt nature</P>
        <P>- 2 C.À.S de café en poudre diluée dans 2 C.À.S d’eau chaude</P>
        <P>- 2 C.À.S d’huile végétale ( olive, coco, ricin, avocat…)</P>
      </div>
    </div>
    <div class="space-y-5 w-full">
      <h1 class="" style="color: #ff680c">Recette :</h1>
      <p>- Mélanger l’ensemble des ingrédients, dans un bol.</p>
    </div>
    <div class="relative flex flex-col items-center" style="color: #FF3E79;">
      <div class="font-bold py-5 z-50 text-2xl">Masque Mayonnaise</div>
      <img src="assets/shampoingTitle.svg" alt="" class="absolute w-72 justify-center top-0">
    </div>
    <div class="grid grid-cols-2 space-x-3 md:space-x-40">
      <div class="flex flex-col items-center">
        <img src="assets/horloge.svg" alt="" class="w-20 md:w-32" />
        <p>10 min</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="assets/objectif.svg" alt="" class="w-20 md:w-32" />
        <p>cheveux secs</p>
      </div>
    </div>
    <div class="space-y-5 w-full">
      <h1 class="" style="color: #ff680c">Ingrédients :</h1>
      <div class="">
        <P>- 1 C.À.S de moutarde</P>
        <P>- 3 C.À.S de spiruline</P>
        <P>- 2 C.À.S d’huile végétale ( olive, coco, ricin, avocat…)</P>
      </div>
    </div>
    <div class="space-y-5 w-full">
      <h1 class="" style="color: #ff680c">Recette :</h1>
      <div class="">
        <p>- Mélanger la moutarde et le jaune d’oeuf</p>
        <p>
          - Ajouter l’huile végétale, tout en continuant de mélanger le tout à
          l’aide d’un fouet.
        </p>
      </div>
    </div>
    <div class="relative flex flex-col items-center" style="color: #FF3E79;">
      <div class="font-bold py-5 z-50 text-2xl">Masque nourrissant a l’avocat</div>
      <img src="assets/shampoingTitl.svg" alt="" class="absolute w-full justify-center top-0">
    </div>
    <div class="grid grid-cols-2 space-x-3 md:space-x-40">
      <div class="flex flex-col items-center">
        <img src="assets/horloge.svg" alt="" class="w-20 md:w-32" />
        <p>10 min</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="assets/objectif.svg" alt="" class="w-20 md:w-32" />
        <p>pour la pousse des cheveux</p>
      </div>
    </div>
    <div class="space-y-5 w-full">
      <h1 class="" style="color: #ff680c">Ingrédients :</h1>
      <div class="">
        <P>- 1 avocat</P>
        <P>- 1 C.À.S de miel</P>
        <P>- 1 C.À.S d’huile végétale ( olive, coco, ricin, avocat…)</P>
        <p>
          - 1 C.À.S de masque capillaire, de gel d’ale vera ou de yaourt nature
        </p>
      </div>
    </div>
    <div class="space-y-5 w-full pb-10">
      <h1 class="" style="color: #ff680c">Recette :</h1>
      <p>- Mélanger tous les ingrédients ensemble, à l’aide d’un fouet.</p>
    </div>
  </div>
  <div class="flex justify-between space-x-10">
    <div class="hidden flex-row">
      <div class="">
        <img src="assets/precedent.svg" alt="" class="h-10">
      </div>
      <div class="py-2" style="color: #FF3E79;">Précédent</div>
    </div>
    <div class="flex flex-row cursor-pointer" routerLink="/programmes/masque-nourissant">
      <div class="py-2" style="color: #FF3E79;">Suivant</div>
      <div class="">
        <img src="assets/arrow_sm.svg" alt="" class="h-10">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
