<app-header></app-header>
<div class="h-screen w-screen" style="background-color: rgba(0, 0, 0, 0.5)">
    <div class="bg-white left-4 right-3 bottom-0 h-1/2 w-11/12 absolute rounded-lg">
        <div class="text-center py-5" style="color: #FF3E79;">Je détermine ma routine capillaire idéale</div>
        <div class="px-2">
            <img src="assets/1.svg" alt="" class="">
        </div>
        <div class="px-8">
            <div class="">à ce jour, combien de produits capillaires possedez-vous ?</div><br>
            <div class="">
                <input type="radio" id="html" name="fav_language" value="HTML" />
                <label for="html">Moins de 3 produits </label><br />
            </div>
            <div class="">
                <input type="radio" id="css" name="fav_language" value="CSS" />
                <label for="css">Entre 3 et 5 produits </label><br />
            </div>
            <div class="">
                <input type="radio" id="javascript" name="fav_language" value="JavaScript"/>
                <label for="javascript">Plus de 5 produits</label>
            </div>
        </div>
        <div class="">
            <div class="hidden  flex-row justify-end items-center gap-4 cursor-pointer">
                <img src="assets/precedent.svg" class="h-3/6" alt="" srcset="" />
                <div class="text-primary font-bold">Précédent</div>
            </div>
            <div class="flex flex-row justify-end items-center pr-5 gap-4 cursor-pointer">
                <div class="text-primary font-bold">Suivant</div>
                <img src="assets/arrow_sm.svg" class="h-10" alt="" srcset="" />
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
