<app-header></app-header>
<style>
  .tab {
    overflow: hidden;
  }
  .tab-content {
    max-height: 0;
    transition: all 0.5s;
  }
  input:checked + .tab-label .test {
    background-color: #ff3e79;
  }
  input:checked + .tab-label .test svg {
    transform: rotate(180deg);
    stroke: #fff;
  }
  input:checked + .tab-label::after {
    transform: rotate(90deg);
  }
  input:checked + .tab-label {
    border: 2px solid;
    border-radius: 10px;
    border-color: #ff3e79 !important;
  }
  input:checked ~ .tab-content {
    max-height: 100vh;
  }
</style>

<div class="flex flex-col items-center px-10 mb-10">
  <div class="my-5 md:space-x-44 flex flex-row md:my-10" style="color: #ff3e79">
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlink"
      routerLink="/programmes/connaitre-ses-cheveux"
    >
      Connaitre ses cheveux
    </div>
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlink"
      routerLink="/programmes/routine-capillaire"
    >
      Routines capillaires
    </div>
    <div
      class="font-bold cursor-pointer border-b-2 hove hoverlink"
      style="border-color: #ff3e79"
      routerLink="/programmes/recette"
    >
      Recettes
    </div>
  </div>
  <div class="flex flex-col items-center space-y-8 md:grid md:grid-cols-2">
    <div class="space-y-10 md:pl-40">
      <div class="space-y-0 font-semibold">
        <p>Vous trouverez ici, des recettes éfficaces,</p>
        <p>Pour vous occuper de vos cheveux en tout</p>
        <p>temps et cela quelque soit votre problématique</p>
        <p>Capillaire.</p>
        <p>À vos cheveux, prêtes… Partez !!</p>
      </div>
      <main class="w-3/ -8 x-auto">
        <section class="shado row">
          <div class="tabs">
            <div class="borde tab">
              <div class="borde-l-2 border-transparent relative">
                <input
                  class="
                    w-full
                    absolute
                    z-10
                    cursor-pointer
                    opacity-0
                    h-5
                    top-3
                  "
                  type="checkbox"
                  id="chck1"
                />
                <header
                  class="
                    flex
                    justify-between
                    items-center
                    py-2
                    pr-2
                    cursor-pointer
                    select-none
                    tab-label
                  "
                  for="chck1"
                >
                  <span class="text-grey-darkest font-normal text-xl one">
                    - Les shampoings
                  </span>
                  <div
                    class="
                      rounded-full
                      border border-grey
                      w-7
                      h-7
                      flex
                      items-center
                      justify-center
                      test
                    "
                  >
                    <!-- icon by feathericons.com -->
                    <svg
                      aria-hidden="true"
                      class=""
                      data-reactid="266"
                      fill="none"
                      height="24"
                      stroke="#606F7B"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      viewbox="0 0 24 24"
                      width="24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </div>
                </header>
                <div class="tab-content">
                  <div class="pl-8 pr-8 pb-5 text-grey-darkest">
                    <ul class="pl-4 py-5">
                      <li class="pb-2 text-primary cursor-pointer">
                        Shampoing sec
                      </li>
                      <li class="pb-2 text-primary cursor-pointer">
                        Shampoing solide
                      </li>
                      <li class="pb-2 text-primary cursor-pointer">
                        Shampoing clarifiant
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="borde-b tab">
              <div class="borde-l-2 border-transparent relative">
                <input
                  class="
                    w-full
                    absolute
                    z-10
                    cursor-pointer
                    opacity-0
                    h-5
                    top-3
                  "
                  type="checkbox"
                  id="chck2"
                />
                <header
                  class="
                    flex
                    justify-between
                    items-center
                    py-2
                    pr-2
                    cursor-pointer
                    select-none
                    tab-label
                  "
                  for="chck2"
                >
                  <span class="text-grey-darkest font-normal text-xl">
                    - Les lotions et crèmes
                  </span>
                  <div
                    class="
                      rounded-full
                      border border-grey
                      w-7
                      h-7
                      flex
                      items-center
                      justify-center
                      test
                    "
                  >
                    <!-- icon by feathericons.com -->
                    <svg
                      aria-hidden="true"
                      class=""
                      data-reactid="266"
                      fill="none"
                      height="24"
                      stroke="#606F7B"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      viewbox="0 0 24 24"
                      width="24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </div>
                </header>
                <div class="tab-content">
                  <div class="pl-8 pr-8 pb-5 text-grey-darkest">
                    <ul class="pl-4 py-5">
                      <li class="pb-2 text-primary cursor-pointer">
                        consectetur adipiscing elit
                      </li>
                      <li class="pb-2 text-primary cursor-pointer">
                        sed do eiusmod tempor
                      </li>
                      <li class="pb-2 text-primary cursor-pointer">
                        Viverra orci sagittis eu vol
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="borde-b tab">
              <div class="borde-l-2 border-transparent relative">
                <input
                  class="
                    w-full
                    absolute
                    z-10
                    cursor-pointer
                    opacity-0
                    h-5
                    top-3
                  "
                  type="checkbox"
                  id="chck3"
                />
                <header
                  class="
                    flex
                    justify-between
                    items-center
                    py-2
                    pr-2
                    cursor-pointer
                    select-none
                    tab-label
                  "
                  for="chck3"
                >
                  <span class="text-grey-darkest font-normal text-xl">
                    - Les masques et soins
                  </span>
                  <div
                    class="
                      rounded-full
                      border border-grey
                      w-7
                      h-7
                      flex
                      items-center
                      justify-center
                      test
                    "
                  >
                    <!-- icon by feathericons.com -->
                    <svg
                      aria-hidden="true"
                      class=""
                      data-reactid="266"
                      fill="none"
                      height="24"
                      stroke="#606F7B"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      viewbox="0 0 24 24"
                      width="24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </div>
                </header>
                <div class="tab-content">
                  <div class="pl-8 pr-8 pb-5 text-grey-darkest">
                    <ul class="pl-4 py-5">
                      <li class="pb-2 text-primary cursor-pointer">
                        consectetur adipiscing elit
                      </li>
                      <li class="pb-2 text-primary cursor-pointer">
                        sed do eiusmod tempor incididunt ut
                      </li>
                      <li class="pb-2 text-primary cursor-pointer">
                        Viverra orci sagittis
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <div class="flex items-center justify-center pb-20 px-10">
      <img src="assets/recettes.svg" alt="" />
    </div>
  </div>
</div>
<app-footer></app-footer>
