<app-header></app-header>
<div class="flex flex-col items-center px-5 text-gray-600 md:px-32">
    <div class="my-5 md:space-x-44 flex flex-row justify-center md:my-10" style="color: #ff3e79">
        <div
        class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
        routerLink="/programmes/connaitre-ses-cheveux"
        >
        Connaitre ses cheveux
        </div>
        <div
        class="font-bold cursor-pointer border-b-2 hove hoverlinkeffet"
        style="border-color: #ff3e79"
        routerLink="/programmes/routine-capillaire"
        >
        Routines capillaires
        </div>
        <div
        class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
        routerLink="/programmes/recette"
        >
        Recettes
        </div>
    </div>
    <div
        class="
        flex flex-col
        items-center
        space-y-3
        mb-10
        mt-5
        md:grid md:grid-cols-2 md:gap-60 md:px-0 md:space-y-0
        "
    >
        <button
        class="whitespace-nowrap"
        [ngClass]="
            page1
            ? 'border-2 w-full rounded-md p-3 text-white bg-primary'
            : 'border-2 w-full rounded-md p-3 border-primary text-primary bg-white'
        "
        (click)="page1 = true; page2 = false; page = false"
        routerLink="/programmes/routine-capillaire-avec-objectif-à-atteindre"
        >
        Routine avec objectif à atteindre
        </button>
        <button
        class="whitespace-nowrap"
        (click)="page2 = true; page1 = false; page = false"
        [ngClass]="
            page2
            ? 'border-2 w-full rounded-md p-3 text-white bg-primary'
            : 'border-2 w-full rounded-md p-3 border-primary text-primary bg-white'
        "
        routerLink="/programmes/quel-type-de-routine-choisir"
        >
        Quelle type de routine choisir ?
        </button>
        </div>
        <div class="space-y-10 mb-10" *ngIf="page1">
            <div
            class="
                flex flex-col
                items-center
                space-y-5
                md:space-y-0 md:flex-row md:justify-center
            "
            >
            <div class="">
                <img src="assets/objectif.svg" alt="" class="" />
            </div>
            <div class="text-2xl text-center" style="color: #ff3e79">
                Routine capillaire avec des objectif à atteindre
            </div>
        </div>
        <div class="grid grid-cols-2 border-separate">
          <div class="border-2 py-2 pl-5" style="color: #ff3e79">
            Objectifs de la routine
          </div>
          <div class="border-2 border-l-0 py-2 pl-5" style="color: #ff3e79">
            La cible
          </div>
          <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
            Hydrater, resserer et renforcer les boucles
          </div>
          <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
            Cheveux bouclés, cheveux ondulés
          </div>
          <div
            class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box"
            routerLink="/programmes/cheveux-avec-pellicule"
          >
            Purifier et assainir le cuir chevelu pour l’élimination des pellicules
          </div>
          <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
            Cheveux avec pellicules
          </div>
          <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
            Reconstruction de la fibre capillaire, assainir ses cheveux
          </div>
          <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
            Cheveux abîmés et cheveux cassant
          </div>
          <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
            Refermer les écailles des cheveux et Faire pénétrer l’hydratation
          </div>
          <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
            Cheveux très poreux
          </div>
          <div
            class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box"
            routerLink="/programmes/cheveux-peu-poreux"
          >
            Ouvrir les êcailles des cheveux et faire pénétrer l’hydratation
          </div>
          <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
            Cheveux peu poreux
          </div>
          <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
            Stimuler la pousse de cheveux
          </div>
          <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
            Chute de cheveux, casse de cheveux
          </div>
          <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
            Garder ses cheveux hydrater et nourris même avec des coiffures
          </div>
          <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
            Cheveux tresser, coiffures longues durée
          </div>
          <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
            Renforcer le cheveu et eviter la casse
          </div>
          <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
            Cheveux défrisés, lissés
          </div>
          <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
            Maintenir l'hydration
          </div>
          <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
            Cheveux crépus, frisés
          </div>
          <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
            Routine 100% naturel
          </div>
          <div class="border-2 border-l-0 py-2 pl-10 border-t-0">Nappy</div>
          <div
            class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box"
            routerLink="/programmes/cheveux-sec"
          >
            Hydrater les cheveux, maintenir l’hydratation et les rendre souples
          </div>
          <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
            cheveux tres secs
          </div>
          <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
            Protéger les cheveux contre les appareils à chaleur limiter au maximum
            la chaleur pour ses cheveux
          </div>
          <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
            L’utilisation régulière de la chaleur
          </div>
          <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
            Réguler la production du sébum
          </div>
          <div class="border-2 border-l-0 py-2 pl-10 border-t-0">Cheveux gras</div>
          <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
            Rendre les cheveux plus malléable, éviter la casse et maintenir
            l’hydratation
          </div>
          <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
            Cheveux en trasition ( retour aux boucles )
          </div>
        </div>
      </div>
</div>
<app-footer></app-footer>
