<div
  class="
    flex flex-col
    px-10
    text-sm
    space-y-5
    py-20
    md:text-base md:px-32
    text-gray-600
  "
>
  <h1 class="flex flex-col items-center text-primary mb-10 text-2xl font-bold">
    FAQ conseillère Bigoodee
  </h1>
  <div class="">
    La conseillère Bigoodee a un statut VDI ( vendeuse à domicile indépendante )
    Celle-ci est chargé de réaliser des tâches conseillère Capillaire, à
    domicile.
  </div>
  <div class="">
    <h4 style="color: #ff3e79">
      Faut-il que j’investisse de l’argent pour devenir conseiller Bigoodee ?
    </h4>
    <p>
      NON. Vous pouvez devenir conseiller bigoudis sans investir de l’argent.
      Vous n’avez pas besoin d’acheter votre kit de démonstration, Ãmïę de
      donner des chèques de caution. Nous vous remettrons un kit de
      démonstration au démarrage et nous vous faisons signé une attestation de
      remise de matériel. En cas d’arrêt de votre activité avec nous, il vous
      suffira de nous restituer simplement le kit de démonstration prêté, en
      parfait état.
    </p>
  </div>
  <div class="">
    <h4 style="color: #ff3e79">Faut-il un diplôme pour devenir VDI ?</h4>
    <p>
      NON. La VDI ( vendeuse à domicile indépendante ) un statut qui permet
      d’exercer son activité quelque soit son niveau de formation, avec ou sans
      diplôme. Une expérience dans la vente n’est pas indispensable,Car c’est
      surtout votre détermination, votre envie et sens du relationnel qui feront
      la différence.
    </p>
  </div>
  <div class="">
    <h4 style="color: #ff3e79">Aurais-je une formation ?</h4>
    <p>
      Oui, effectivement vous serez informé dès le premier jour j’ai Bigoodee et
      à chaque étape de votre parcours. Vous pourrez profiter de l’ensemble des
      tutos de formation mise en place en interne.
    </p>
  </div>
  <div class="">
    <h4 style="color: #ff3e79">Quel sera mon revenu chez Bigoodee ?</h4>
    <p>
      Votre revenu de conseillère Bigoodee Est lié à votre niveau d’activité est
      à votre degré d’implication.
    </p>
    <p>Il est constitué de manière suivante :</p>
    <p>
      une rémunération basée sur des commissions allant de 15 à 30 % sur vos
      ventes HT
    </p>
    <p>
      Plus de commission de 5% à 8% sur les ventes vôtre équipe ( si vous êtes
      chef d’équipe ou de secteur )
    </p>
  </div>
  <div class="">
    <h4 style="color: #ff3e79">Dois-je disposer d’un véhicule ?</h4>
    <p>
      À fin de vous rendre chez des hôtesses, il est préférable de posséder un
      véhicule. Selon votre évolution et votre statut chez Bigoodee, il est
      probable que nous vous fournissons un pot exercer votre activité.
    </p>
  </div>
  <div class="">
    <h4 style="color: #ff3e79">Comment devenir conseillère chez Bigoodee ?</h4>
    <p>
      C’est très simple, il vous suffit de remplir notre formulaire devenir
      conseillère. Vous serez à l’eau contactée par une conseillère Bigoodee
      proche de chez vous, pour échanger avec vous sur le métier de conseillère
      Bigoodee, suite à cela nous validerons votre candidature et vous pourrez
      démarrer votre activité.
    </p>
  </div>
</div>
