<div class="text-center font-bold text-2xl mb-10" style="color: #ff3e79">
  Elles ont testé Bigoodee
</div>

<div class="block sm:hidden mt-10">
  <carousel
    [objectFit]="'cover'"
    [cellsToShow]="1"
    [cellsToScroll]="1"
    [height]="500"
    [dots]="true"
    [arrows]="false"
    class=""
    class=""
  >
    <div class="carousel-cell">
      <div
        class="
          flex flex-col
          items-center
          justify-center
          rounded-lg
          px-5
          mx-auto
          w-11/12
          py-5
          space-y-5
        "
      >
        <div
          class="
            rounded-full
            h-24
            w-24
            flex
            items-center
            justify-center
            overflow-hidden
          "
        >
          <img src="assets/avatar2.png" alt="" srcset="" />
        </div>
        <div>
          <div class="font-bold" style="color: #ff3e79">Alexandra</div>
          <div class="text-center text-gray-500">Nantes</div>
        </div>
        <div
          class="
            flex flex-col
            items-center
            shadow-l
            relative
            px-10
            py-5
            space-y-5
            rounded
          "
          style="
            background-image: linear-gradient(to top, #ff3e79 50%, #ffffff);
            box-shadow: 0px -10px 10px 3px rgba(100, 100, 100, 0.1);
          "
        >
          <div class="font-bold text-gray-500 text-lg">Inovation</div>
          <div class="text-white text-sm">
             J’ai assisté a mon premier atelier capillaire, organisé par une
            conseillère Bigoodee chez une amie qui l’accueille chez elle en tant
            qu’hôtesse. J’ai pu en apprendre d’avantage sur mon type de cheveux,
            comment les entretenir et quelle produit acheter pour les
            entretenir. 
          </div>
          <div class="absolute -top-6 -left-6">
            <img src="assets/open.svg" alt="" srcset="" />
          </div>
          <div class="absolute -bottom-6 -right-6">
            <img src="assets/lock.svg" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-cell">
      <div
        class="
          flex flex-col
          items-center
          justify-center
          rounded-lg
          px-5
          mx-auto
          w-11/12
          py-5
          space-y-5
        "
      >
        <div
          class="
            rounded-full
            h-24
            w-24
            flex
            items-center
            justify-center
            overflow-hidden
          "
        >
          <img src="assets/avatar.png" alt="" srcset="" />
        </div>
        <div>
          <div class="font-bold" style="color: #ff3e79">Isabelle</div>
          <div class="text-center text-gray-500">Paris</div>
        </div>
        <div
          class="
            flex flex-col
            items-center
            shadow-l
            relative
            px-10
            py-5
            space-y-5
            rounded
          "
          style="
            background-image: linear-gradient(to top, #ff3e79 50%, #ffffff);
            box-shadow: 0px -10px 10px 3px rgba(100, 100, 100, 0.1);
          "
        >
          <div class="font-bold text-gray-500 text-lg">Inovation</div>
          <div class="text-white text-sm">
             J’étais à la recherche de soins adapter à mon type de cheveux,
            jusqu’ici en achetant en ligne. Il arrivait que certains produits ne
            me correspondent pas. j’ai découvert Bigooshop, qui grâce a son
            algorithme, me permet de commander des soins capillaires qui sont
            adaptés à mes cheveux. 
          </div>
          <div class="absolute -top-6 -left-6">
            <img src="assets/open.svg" alt="" srcset="" />
          </div>
          <div class="absolute -bottom-6 -right-6">
            <img src="assets/lock.svg" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-cell">
      <div
        class="
          flex flex-col
          items-center
          justify-center
          rounded-lg
          px-5
          mx-auto
          w-11/12
          py-5
          space-y-5
        "
      >
        <div
          class="
            rounded-full
            h-24
            w-24
            flex
            items-center
            justify-center
            overflow-hidden
          "
        >
          <img src="assets/avatar3.png" alt="" srcset="" />
        </div>
        <div>
          <div class="font-bold" style="color: #ff3e79">Sarah</div>
          <div class="text-center text-gray-500">Toulous</div>
        </div>
        <div
          class="
            flex flex-col
            items-center
            shadow-l
            relative
            px-10
            py-5
            space-y-5
            rounded
          "
          style="
            background-image: linear-gradient(to top, #ff3e79 50%, #ffffff);
            box-shadow: 0px -10px 10px 3px rgba(100, 100, 100, 0.1);
          "
        >
          <div class="font-bold text-gray-500 text-lg">Inovation</div>
          <div class="text-white text-sm">
             Jusqu’ici je rencontrais des difficultés pour trouver une coiffeuse
            proche de mon domicile, mais grâce à L’application mobile de
            réservation de coiffeuses à domicile de Bigoodee, je trouve et
            réserve les meilleurs coiffeuses proche de chez moi.
          </div>
          <div class="absolute -top-6 -left-6">
            <img src="assets/open.svg" alt="" srcset="" />
          </div>
          <div class="absolute -bottom-6 -right-6">
            <img src="assets/lock.svg" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </carousel>
</div>

<div class="hidden md:block lg:hidden mt-10">
  <carousel
    [objectFit]="'cover'"
    [cellsToShow]="2"
    [cellsToScroll]="1"
    [height]="500"
    [dots]="true"
    [arrows]="false"
    class=""
    class=""
  >
    <div class="carousel-cell">
      <div
        class="
          flex flex-col
          items-center
          justify-center
          rounded-lg
          px-5
          mx-auto
          w-11/12
          py-5
          space-y-5
        "
      >
        <div
          class="
            rounded-full
            h-24
            w-24
            flex
            items-center
            justify-center
            overflow-hidden
          "
        >
          <img src="assets/avatar2.png" alt="" srcset="" />
        </div>
        <div>
          <div class="font-bold" style="color: #ff3e79">Alexandra</div>
          <div class="text-center text-gray-500">Nantes</div>
        </div>
        <div
          class="
            flex flex-col
            items-center
            shadow-l
            relative
            px-10
            py-5
            space-y-5
            rounded
          "
          style="
            background-image: linear-gradient(to top, #ff3e79 50%, #ffffff);
            box-shadow: 0px -10px 10px 3px rgba(100, 100, 100, 0.1);
          "
        >
          <div class="font-bold text-gray-500 text-lg">Inovation</div>
          <div class="text-white text-sm">
             J’ai assisté a mon premier atelier capillaire, organisé par une
            conseillère Bigoodee chez une amie qui l’accueille chez elle en tant
            qu’hôtesse. J’ai pu en apprendre d’avantage sur mon type de cheveux,
            comment les entretenir et quelle produit acheter pour les
            entretenir. 
          </div>
          <div class="absolute -top-6 -left-6">
            <img src="assets/open.svg" alt="" srcset="" />
          </div>
          <div class="absolute -bottom-6 -right-6">
            <img src="assets/lock.svg" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-cell">
      <div
        class="
          flex flex-col
          items-center
          justify-center
          rounded-lg
          px-5
          mx-auto
          w-11/12
          py-5
          space-y-5
        "
      >
        <div
          class="
            rounded-full
            h-24
            w-24
            flex
            items-center
            justify-center
            overflow-hidden
          "
        >
          <img src="assets/avatar.png" alt="" srcset="" />
        </div>
        <div>
          <div class="font-bold" style="color: #ff3e79">Isabelle</div>
          <div class="text-center text-gray-500">Paris</div>
        </div>
        <div
          class="
            flex flex-col
            items-center
            shadow-l
            relative
            px-10
            py-5
            space-y-5
            rounded
          "
          style="
            background-image: linear-gradient(to top, #ff3e79 50%, #ffffff);
            box-shadow: 0px -10px 10px 3px rgba(100, 100, 100, 0.1);
          "
        >
          <div class="font-bold text-gray-500 text-lg">Inovation</div>
          <div class="text-white text-sm">
             J’étais à la recherche de soins adapter à mon type de cheveux,
            jusqu’ici en achetant en ligne. Il arrivait que certains produits ne
            me correspondent pas. j’ai découvert Bigooshop, qui grâce a son
            algorithme, me permet de commander des soins capillaires qui sont
            adaptés à mes cheveux. 
          </div>
          <div class="absolute -top-6 -left-6">
            <img src="assets/open.svg" alt="" srcset="" />
          </div>
          <div class="absolute -bottom-6 -right-6">
            <img src="assets/lock.svg" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-cell">
      <div
        class="
          flex flex-col
          items-center
          justify-center
          rounded-lg
          px-5
          mx-auto
          w-11/12
          py-5
          space-y-5
        "
      >
        <div
          class="
            rounded-full
            h-24
            w-24
            flex
            items-center
            justify-center
            overflow-hidden
          "
        >
          <img src="assets/avatar3.png" alt="" srcset="" />
        </div>
        <div>
          <div class="font-bold" style="color: #ff3e79">Sarah</div>
          <div class="text-center text-gray-500">Toulous</div>
        </div>
        <div
          class="
            flex flex-col
            items-center
            shadow-l
            relative
            px-10
            py-5
            space-y-5
            rounded
          "
          style="
            background-image: linear-gradient(to top, #ff3e79 50%, #ffffff);
            box-shadow: 0px -10px 10px 3px rgba(100, 100, 100, 0.1);
          "
        >
          <div class="font-bold text-gray-500 text-lg">Inovation</div>
          <div class="text-white text-sm">
             Jusqu’ici je rencontrais des difficultés pour trouver une coiffeuse
            proche de mon domicile, mais grâce à L’application mobile de
            réservation de coiffeuses à domicile de Bigoodee, je trouve et
            réserve les meilleurs coiffeuses proche de chez moi.
          </div>
          <div class="absolute -top-6 -left-6">
            <img src="assets/open.svg" alt="" srcset="" />
          </div>
          <div class="absolute -bottom-6 -right-6">
            <img src="assets/lock.svg" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </carousel>
</div>

<div class="hidden lg:block mt-10">
  <carousel
    [objectFit]="'cover'"
    [cellsToShow]="3"
    [cellsToScroll]="1"
    [height]="600"
    [dots]="false"
    [arrows]="false"
    class=""
    class=""
  >
    <div class="carousel-cell">
      <div
        class="
          flex flex-col
          items-center
          justify-center
          rounded-lg
          px-5
          mx-auto
          w-11/12
          py-5
          space-y-5
        "
      >
        <div
          class="
            rounded-full
            h-24
            w-24
            flex
            items-center
            justify-center
            overflow-hidden
          "
        >
          <img src="assets/avatar2.png" alt="" srcset="" />
        </div>
        <div>
          <div class="font-bold" style="color: #ff3e79">Alexandra</div>
          <div class="text-center text-gray-500">Nantes</div>
        </div>
        <div
          class="
            flex flex-col
            items-center
            shadow-l
            relative
            px-10
            py-5
            space-y-5
            rounded
          "
          style="
            background-image: linear-gradient(to top, #ff3e79 50%, #ffffff);
            box-shadow: 0px -10px 10px 3px rgba(100, 100, 100, 0.1);
          "
        >
          <div class="font-bold text-gray-500 text-lg">Inovation</div>
          <div class="text-white text-sm">
             J’ai assisté a mon premier atelier capillaire, organisé par une
            conseillère Bigoodee chez une amie qui l’accueille chez elle en tant
            qu’hôtesse. J’ai pu en apprendre d’avantage sur mon type de cheveux,
            comment les entretenir et quelle produit acheter pour les
            entretenir. 
          </div>
          <div class="absolute -top-6 -left-6">
            <img src="assets/open.svg" alt="" srcset="" />
          </div>
          <div class="absolute -bottom-6 -right-6">
            <img src="assets/lock.svg" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-cell">
      <div
        class="
          flex flex-col
          items-center
          justify-center
          rounded-lg
          px-5
          mx-auto
          w-11/12
          py-5
          space-y-5
        "
      >
        <div
          class="
            rounded-full
            h-24
            w-24
            flex
            items-center
            justify-center
            overflow-hidden
          "
        >
          <img src="assets/avatar.png" alt="" srcset="" />
        </div>
        <div>
          <div class="font-bold" style="color: #ff3e79">Isabelle</div>
          <div class="text-center text-gray-500">Paris</div>
        </div>
        <div
          class="
            flex flex-col
            items-center
            shadow-l
            relative
            px-10
            py-5
            space-y-5
            rounded
          "
          style="
            background-image: linear-gradient(to top, #ff3e79 50%, #ffffff);
            box-shadow: 0px -10px 10px 3px rgba(100, 100, 100, 0.1);
          "
        >
          <div class="font-bold text-gray-500 text-lg">Inovation</div>
          <div class="text-white text-sm">
             J’étais à la recherche de soins adapter à mon type de cheveux,
            jusqu’ici en achetant en ligne. Il arrivait que certains produits ne
            me correspondent pas. j’ai découvert Bigooshop, qui grâce a son
            algorithme, me permet de commander des soins capillaires qui sont
            adaptés à mes cheveux. 
          </div>
          <div class="absolute -top-6 -left-6">
            <img src="assets/open.svg" alt="" srcset="" />
          </div>
          <div class="absolute -bottom-6 -right-6">
            <img src="assets/lock.svg" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-cell">
      <div
        class="
          flex flex-col
          items-center
          justify-center
          rounded-lg
          px-5
          mx-auto
          w-11/12
          py-5
          space-y-5
        "
      >
        <div
          class="
            rounded-full
            h-24
            w-24
            flex
            items-center
            justify-center
            overflow-hidden
          "
        >
          <img src="assets/avatar3.png" alt="" srcset="" />
        </div>
        <div>
          <div class="font-bold" style="color: #ff3e79">Sarah</div>
          <div class="text-center text-gray-500">Toulous</div>
        </div>
        <div
          class="
            flex flex-col
            items-center
            shadow-l
            relative
            px-10
            py-5
            space-y-5
            rounded
          "
          style="
            background-image: linear-gradient(to top, #ff3e79 50%, #ffffff);
            box-shadow: 0px -10px 10px 3px rgba(100, 100, 100, 0.1);
          "
        >
          <div class="font-bold text-gray-500 text-lg">Inovation</div>
          <div class="text-white text-sm">
             Jusqu’ici je rencontrais des difficultés pour trouver une coiffeuse
            proche de mon domicile, mais grâce à L’application mobile de
            réservation de coiffeuses à domicile de Bigoodee, je trouve et
            réserve les meilleurs coiffeuses proche de chez moi.
          </div>
          <div class="absolute -top-6 -left-6">
            <img src="assets/open.svg" alt="" srcset="" />
          </div>
          <div class="absolute -bottom-6 -right-6">
            <img src="assets/lock.svg" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </carousel>
</div>
