<div class="flex flex-col items-center mt-20 space-y-10">
    <div class="flex flex-col border-2 space-y-10 md:space-y-20 mt-5 w-9/12 px-1 relative md:flex-row md:justify-around md:items-center md:m-0 md:h-60 md:space-x-10 text-center" style="border-color: #FF3E79;">
        <div class="absolute -top-20 md:top-0 md:mt-5 font-bold">
            <h1>Pourquoi creer son compte sur Bigoodee ?</h1>
        </div>
        <div class="flex flex-col items-center">
            <img src="assets/charette.svg" alt="">
            <p style="color: #97A2BB;">
                Commander ses soins capillaires adaptés à son type de cheveux.
            </p>
        </div>
        <div class="flex flex-col items-center">
            <img src="assets/calendrier.svg" alt="">
            <p style="color: #97A2BB;">
                Participer à a des Ateliers capillaires et profiter de conseils personnalisés d’experts.
            </p>
        </div>
        <div class="flex flex-col items-center">
            <img src="assets/doc.svg" alt="">
            <p style="color: #97A2BB;" class="mb-5">
                Profiter de programmes et recette pour l’entretien de vos cheveux
            </p>
        </div>
    </div>
    <div class="flex flex-col items-center rounded-lg border-2 space-y-10 w-5/6 space-y-5 md:w-3/5" style="border-color: #FF3E79;">
        <h1 class="text-center font-bold my-5">JE M’INSCRIS ! </h1>
        <div class=" grid grid-cols-2 gap-4 px-5 md:px-20 md:w-full">
            <div class="relative">
                <input type="text" name="" id="" placeholder="Nom" class="border-2 pl-6 w-full" style="border-color: #FF3E79;">
                <img src="assets/contact.svg" alt="" class="absolute top-1.5 pl-1">
            </div>
            <div class="relative">
                <input type="text" name="" id="" placeholder="Prénom" class="border-2 pl-6 w-full" style="border-color: #FF3E79;">
                <img src="assets/contact.svg" alt="" class="absolute top-1.5 pl-1">
            </div>
            <div class="col-span-2 w-full">
                <input type="text" name="" id="" placeholder="@Email" class="border-2 w-full" style="border-color: #FF3E79;">
            </div>
            <div class="">
                <input type="text" name="" id="" placeholder="Mot de passe" class="border-2 pl-6 w-full" style="border-color: #FF3E79;">
            </div>
            <div class="">
                <input type="text" name="" id="" placeholder="Prénom" class="border-2 pl-6 w-full" style="border-color: #FF3E79;">
            </div>
        </div>
        <div class="space-y-2">
            <button type="submit" style="background-color: #FF3E79; color: #FFF;" class="text-center w-56 rounded-md h-10">Valider mon inscription</button>
            <div class="flex flex-col space-y-0 mb-5">
                <a href="" class="text-sm">Mot de passe oublié</a>
                <a href="" class=" text-sm pb-5">Se connecter</a>
            </div>
        </div>
    </div>
</div>