<div class="flex-col containeur space-y-5 mt-20">
    <div class="flex-col space-y-5 contain">
        <div class="text -top-20 mt-3">
            <h1 class="h1">
                Pourquoi creer son compte sur Bigoodee ?
            </h1>
        </div>
        <div class="contain-infos space-y-7 space-x-7">
            <div class="flex-col infos">
                <img src="assets/Vector (2).png" alt="">
                <p class="p">
                    Commander ses soins
                    capillaires adaptés à
                    son type de cheveux.
                </p>
            </div>
            <div class="flex-col infos">
                <img src="assets/Group.png" alt="">
                <p class="p">
                    Participer à a des 
                    Ateliers capillaires
                    et profiter de conseils
                    personnalisés d’experts.
                </p>
            </div>
            <div class="flex-col infos">
                <img src="assets/Vector (1).png" alt="">
                <p class="p">
                    Profiter de programmes
                    et recette pour l’entretien
                    de vos cheveux
                </p>
            </div>
        </div>
    </div>
    <div class="formulaire">
        <h1>
            JE M’INSCRIS ! 
        </h1>
        <div class="flex-col my-5">
            <form action="">
                <div class="form space-y-5">
                    <div class="flex space-x-4">
                        <div class="icon">
                            <input type="text" name="" id="" placeholder="Nom" class="input pl-5">
                            <img src="assets/nom.png" alt="" class="top-2">
                        </div>
                        <div class="icon">
                            <input type="text" name="" id="" placeholder="Prenom" class="input pl-5">
                            <img src="assets/nom.png" alt="" class="top-2">
                        </div>
                    </div>
                    <div>
                        <input type="email" name="" id="" placeholder="@Email" class="input" >
                    </div>
                    <div class="flex space-x-4">
                        <input type="password" name="" id="" placeholder="Mot de passe" class="input">
                        <input type="password" name="" id="" placeholder="Confirmer mot de passe" class="input">
                    </div>
                    <div class="boutton mr-5 pt-1">
                        <button type="submit" class="btn">Valider mon inscription</button>
                    </div>
                </div>
            </form>     
        </div>
        <div class="link">
            <a href="#">Mot de passe oublié</a>
            <a href="#">Se connecter</a>
        </div>
    </div>
</div>
