<div class="flex flex-col items-center px-10 md:px-40">
    <div class="my-5 md:space-x-44 flex flex-row md:my-10" style="color: #FF3E79;">
        <div class="font-bold cursor-pointer">Connaitre ses cheveux</div>
        <div class="hidden font-bold cursor-pointer md:flex">Routines capillaires </div>
        <div class="hidden font-bold cursor-pointer md:flex">Recettes</div>
    </div>
    <button class="border-2 rounded-md text-center w-52 h-12 py-2" style="background-color: #FF3E79; border-color: #FF3E79; color: #fff;">Connaître ses cheveux</button>
    <div class="my-5 md:grid md:grid-cols-2">
        <div class="md:w-11/12"> 
            <p class="md:font-bold">
                Avant toute chose, vous vous devez de connaitre votre type de cheveux,
            </p>
            <p class="md:font-bold">Pour pouvoir ensuite en prendre soin. </p>
            <p class="md:font-bold">
                Connaitre vos cheveux va vous permettre d’apprendre à pratiquer les
                bons geste, d’utiliser les bons produit adaptés à vos cheveux.
            </p>
            <p class="md:font-bold">
                Il s’agit là de la toute première étape pour créer une routine capillaire qui vous correspond.
            </p>
            <ul class="md:md:w-9/12 font-light">
                <li>> Comprendre le cheveu</li>
                <li>> La chute la casse</li>
                <li>> L’utilisation des appareils chauffants</li>
                <li>> Les traitements chimiques</li>
                <li>> Bien choisir ses produits 100% naturels</li>
                <li>
                    > L’influence l’environnement, de la population, des saisons… sur les cheveux
                </li>
                <li>> Faire pousser ses cheveux</li>
                <li>> Les cheveux pendant la grossesse</li>
            </ul>
        </div>
        <div class="hidden w-full h-80 md:flex md:justify-items-center md:justify-center">
            <img src="assets/cheveux.svg" alt="">
        </div>
    </div>
</div>
