<style>
  input[type="checkbox"] {
    border-radius: 50px;
  }
</style>
<app-header></app-header>
<div class="flex flex-col items-center md:px-20 px-10 text-gray-600 relative">
  <div class="my-5 md:space-x-44 flex flex-row md:my-10" style="color: #ff3e79">
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/connaitre-ses-cheveux"
    >
      Connaitre ses cheveux
    </div>
    <div
      class="font-bold cursor-pointer border-b-2 hove hoverlinkeffet"
      style="border-color: #ff3e79"
      routerLink="/programmes/routine-capillaire"
    >
      Routines capillaires
    </div>
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/recette"
    >
      Recettes
    </div>
  </div>
  <div
    class="
      flex flex-col
      items-center
      space-y-3
      mb-10
      mt-5
      md:grid md:grid-cols-2 md:gap-60 md:px-0 md:space-y-0
    "
  >
    <button
      class="whitespace-nowrap"
      [ngClass]="
        page1
          ? 'border-2 w-full rounded-md p-3 text-white bg-primary'
          : 'border-2 w-full rounded-md p-3 border-primary text-primary bg-white'
      "
      (click)="page1 = true; page2 = false; page = false"
    >
      Routine avec objectif à atteindre
    </button>
    <button
      class="whitespace-nowrap"
      (click)="page2 = true; page1 = false; page = false"
      [ngClass]="
        page2
          ? 'border-2 w-full rounded-md p-3 text-white bg-primary'
          : 'border-2 w-full rounded-md p-3 border-primary text-primary bg-white'
      "
    >
      Quelle type de routine choisir ?
    </button>
  </div>
  <div class="space-y-5" *ngIf="page">
    <div
      class="text-center text-2xl font-bold mb-10 mt-5"
      style="color: #ff3e79"
    >
      Quels sont les bons gestes à adopter ? Quel routine choisir ?
    </div>
    <div class="">
      Les cheveux dit texturés, c’est a dire les cheveux bouclés, frisés et
      crépus, demandent une attention particulière. Leurs besoins d’hydratation,
      de protection, de nutrition sont indispensable pour lutter contre la et la
      sécheresse. Avec le mode de contraintes… Ils faut construire une routine
      capillaire qui correspond à ses propos contraintes, ses propos exigences.
    </div>
    <div class="">
      Si vous ne pouvez pas y passer trop de temps, si vous souhaiter opter
      plutôt pour une routine rapide mais efficace, avec un minimum de produits
      capillaires, nous conseillons d’opter pour
      <span style="color: #ff3e79">routine capillaire simple</span>.
    </div>
    <div class="relative">
      <img src="assets/main.svg" alt="" class="absolute" />
      <span class="pl-16 font-semibold">Routine simple</span> : optez pour une
      routine capillaire simple, si vous avez une vie plutôt bien remplie ou
      vous n’avez pas beaucoup de temps à accorder à l’entretien de vos cheveux.
      Dans ce cas nous vous conseillons d’opter pour 3 à 5 produits acheter dans
      le commerce. Assurez-vous que ceux-ci ont une composition naturelle.
      <span
        class="cursor-pointer underline"
        style="color: #0000ff"
        routerLink="/programmes/routine-simple"
        >Découvrir un exemple de routine simple</span
      >
    </div>
    <div class="">
      Si par contre vous êtes quelqu’un qui n’a pas peur de mettre la somme
      nécessaire au besoin, qui recherche une routine qui va vraiment répondre
      aux problématiques réelles de vos cheveux, nous vous conseillons d’opter
      pour une routine structuré.
    </div>
    <div class="relative">
      <img src="assets/main.svg" alt="" class="absolute" />
      <span class="pl-16 font-semibold">Routine structuré</span> : Ici, nous
      vous conseillons de prendre le temps d’identifier les combinaisons des
      produits qui fonctionnent le plus sur vous cheveux. Baissez les vieilles
      habitudes. Sélectionnez un nombre précis de produits, selon la période, en
      fonction des besoins de vos cheveux sur cette période donnée.
      <span
        class="cursor-pointer underline"
        style="color: #0000ff"
        (click)="page1 = true; page2 = false; page = false; remoter()"
        >Découvrir des exemples de routines structurées</span
      >
    </div>
    <div class="">
      Enfin, si vous ne souhaitez pas y mettre trop d’argent mais que vous
      souhaiter utiliser les ingrédients de votre cuisine, que vous souhaiter
      une routine uniquement basée sur les produits naturels, que vous souhaiter
      réaliser vous même vous soins nous vous conseillons d’opter pour une
      routine naturelle.
    </div>
    <div class="relative">
      <img src="assets/main.svg" alt="" class="absolute" />
      <span class="pl-16 font-semibold">Routine naturelle</span> : Vous accordez
      une grande importance aux soins et produits que vous sélectionnez vous
      même. Vous prenez plaisir à transformer votre salle de bain et votre
      cuisine en mimi laboratoire, les routines 100% naturelle sont faites pour
      vous. Cependant, il est important de vous recentrer sur l’essentiel et de
      ne pas vous lancer chaque semaine dans la création de nouvelles recettes
      car vos cheveux risquent de ne pas toujours apprécier. Utiliser seulement
      des produits que vos cheveux apprécient.
      <span class="cursor-pointer underline" style="color: #0000ff"
        >Découvrir des exemples de routines naturelles</span
      >
    </div>
    <div class="">
      Ça y est, vous avez décidé de vous lancer, démarrez votre routine
      capillaire, mais vous ne connaissez pas ce dont vous avez besoins pour
      démarrer Au minimum il vous faudra :
    </div>
    <div class="grid grid-cols-2 gap-4 md:w-8/12 mb-3">
      <div class="flex flex-row space-x-2 md:space-x-10">
        <div style="color: #ff3e79">Des produits de base</div>
        <img src="assets/flecheBlack.svg" alt="" class="w-8 h-10 pb-2" />
      </div>
      <div class="">
        <p>shampoing doux</p>
        <p>shampoing clarifiant</p>
        <p>masque hydratant</p>
        <p>lait ou crème</p>
        <p>huile capillaire.</p>
      </div>
      <div class="flex flex-row space-x-2 md:space-x-10">
        <div style="color: #ff3e79">Des accessoires</div>
        <img src="assets/flecheBlack.svg" alt="" class="w-8 h-10 pb-2" />
      </div>
      <div class="">
        <p>vaporisateur d’eau</p>
        <p>peigne à dents larges</p>
        <p>pince à cheveux</p>
        <p>serviette</p>
        <p>bonnet</p>
      </div>
    </div>
    <div class="grid grid-cols-3 justify-items-center mt-5">
      <img
        src="assets/shampooing1.svg"
        alt=""
        class="h-12 w-12 md:h-16 md:w-16"
      />
      <img
        src="assets/shampooing2.svg"
        alt=""
        class="h-12 w-12 md:h-16 md:w-16"
      />
      <img src="assets/creme2.svg" alt="" class="md:h-16 md:w-16" />
    </div>
  </div>
  <div class="space-y-10 mb-10" *ngIf="page1">
    <div
      class="
        flex flex-col
        items-center
        space-y-5
        md:space-y-0 md:flex-row md:justify-center
      "
    >
      <div class="">
        <img src="assets/objectif.svg" alt="" class="" />
      </div>
      <div class="text-2xl text-center" style="color: #ff3e79">
        Routine capillaire avec des objectif à atteindre
      </div>
    </div>
    <div class="grid grid-cols-2 border-separate">
      <div class="border-2 py-2 pl-5" style="color: #ff3e79">
        Objectifs de la routine
      </div>
      <div class="border-2 border-l-0 py-2 pl-5" style="color: #ff3e79">
        La cible
      </div>
      <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
        Hydrater, resserer et renforcer les boucles
      </div>
      <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
        Cheveux bouclés, cheveux ondulés
      </div>
      <div
        class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box"
        routerLink="/programmes/cheveux-avec-pellicule"
      >
        Purifier et assainir le cuir chevelu pour l’élimination des pellicules
      </div>
      <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
        Cheveux avec pellicules
      </div>
      <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
        Reconstruction de la fibre capillaire, assainir ses cheveux
      </div>
      <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
        Cheveux abîmés et cheveux cassant
      </div>
      <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
        Refermer les écailles des cheveux et Faire pénétrer l’hydratation
      </div>
      <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
        Cheveux très poreux
      </div>
      <div
        class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box"
        routerLink="/programmes/cheveux-peu-poreux"
      >
        Ouvrir les êcailles des cheveux et faire pénétrer l’hydratation
      </div>
      <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
        Cheveux peu poreux
      </div>
      <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
        Stimuler la pousse de cheveux
      </div>
      <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
        Chute de cheveux, casse de cheveux
      </div>
      <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
        Garder ses cheveux hydrater et nourris même avec des coiffures
      </div>
      <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
        Cheveux tresser, coiffures longues durée
      </div>
      <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
        Renforcer le cheveu et eviter la casse
      </div>
      <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
        Cheveux défrisés, lissés
      </div>
      <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
        Maintenir l'hydration
      </div>
      <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
        Cheveux crépus, frisés
      </div>
      <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
        Routine 100% naturel
      </div>
      <div class="border-2 border-l-0 py-2 pl-10 border-t-0">Nappy</div>
      <div
        class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box"
        routerLink="/programmes/cheveux-sec"
      >
        Hydrater les cheveux, maintenir l’hydratation et les rendre souples
      </div>
      <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
        cheveux tres secs
      </div>
      <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
        Protéger les cheveux contre les appareils à chaleur limiter au maximum
        la chaleur pour ses cheveux
      </div>
      <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
        L’utilisation régulière de la chaleur
      </div>
      <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
        Réguler la production du sébum
      </div>
      <div class="border-2 border-l-0 py-2 pl-10 border-t-0">Cheveux gras</div>
      <div class="border-2 border-t-0 py-2 pl-5 cursor-pointer titleLink box">
        Rendre les cheveux plus malléable, éviter la casse et maintenir
        l’hydratation
      </div>
      <div class="border-2 border-l-0 py-2 pl-10 border-t-0">
        Cheveux en trasition ( retour aux boucles )
      </div>
    </div>
  </div>
  <div
    class="flex flex-col md:flex-row-reverse md:justify-around"
    *ngIf="page2"
  >
    <div class="flex flex-col items-center my-10">
      <img src="assets/routine-choisie.svg" alt="" class="h-10/12" />
    </div>
    <div
      class="flex flex-col space-y-12 md:w-1/2 md:justify-items-center md:pt-52"
    >
      <div class="">
        Il est primordial de de construire une routine capillaire de vous
        corresponde, car le mode vie, les besoins et les exigences chacun sont
        différents. Cette routine doit pouvoir terminer une période donnée, elle
        doit être complète et surtout être en phase avec vos besoins réels pour
        vous aider à déterminer la routine capillaire qu’il vous faut, nous
        avons besoin des informations suivantes :
      </div>
      <div class="cursor-pointer" (click)="getUser()">
        <button
          class="
            text-center
            py-2
            whitespace-nowrap
            px-2
            rounded-lg
            w-full
            mb-10
          "
          style="background-color: #ff3e79; color: #fff"
        >
          Je souhaite déterminer ma routine capillaire
        </button>
      </div>
    </div>
  </div>
  <div
    class="h-full w-screen z-40 absolute flex justify-center items-center pb-5"
    style="background-color: rgba(0, 0, 0, 0.5)"
    id="modal1"
    *ngIf="connexion"
  >
    <div
      class="
        bg-white
        px-8
        h-2/5
        w-11/12
        absolute
        rounded-lg
        md:h-2/3 md:w-8/12 md:px-32
        space-y-5
        md:space-y-10
        overflow-hidden overflow-y-scroll
      "
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="connexion = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div class="text-center text-2xl mt-5" style="color: #ff3e79">
        Connexion
      </div>
      <form
        class="space-y-3 relative"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="">
          <ul
            class="
              bg-red-700
              opacity-70
              text-white
              px-2
              rounded-md
              text-xs
              mb-5
            "
          >
            <li>{{ message }}</li>
          </ul>
        </div>
        <div class="relative h-12 rounded-lg">
          <input
            required
            type="email"
            name=""
            id=""
            placeholder="email*"
            formControlName="email"
            autocomplete="on"
            class="w-full h-full pl-9 rounded-md"
          />
          <img src="assets/@.svg" alt="" class="absolute top-4 left-4" />
        </div>
        <div
          *ngIf="control('email')?.errors?.pattern"
          class="text-sm ml-2 text-red-700"
        >
          Format d'email invalide.
        </div>
        <div class="relative h-12 rounded-lg">
          <input
            name=""
            id=""
            placeholder="mot de passe*"
            formControlName="pwd"
            [type]="pass ? 'text' : 'password'"
            class="w-full h-full pl-9 rounded-md"
          />
          <img src="assets/keys.svg" alt="" class="absolute top-3 left-4" />
          <a
            class="cursor-pointer absolute right-4 top-4 rounded-full"
            (click)="showPass()"
          >
            <img
              [src]="pass ? 'assets/eye.svg' : 'assets/eye-off.svg'"
              alt=""
              class=""
            />
          </a>
        </div>
        <div
          *ngIf="control('pwd')?.errors?.minlength"
          class="text-xs ml-2 text-red-700"
        >
          Le mot de passe doit avoir au moins 6 caractères.
        </div>
        <div
          class="
            text-sm text-center
            flex
            justify-end
            cursor-pointer
            hover:underline
          "
          style="color: #ff3e79"
        >
          Mot de passe oublié
        </div>

        <button
          class="
            text-center text-lg
            rounded-lg
            py-2
            bg-primary
            px-5
            text-white
            w-full
          "
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Se Connecter
        </button>
      </form>
      <div class="">
        <fieldset class="border-t-2">
          <legend class="text-center px-3">Ou</legend>
        </fieldset>
      </div>
      <div class="flex flex-col space-y-3">
        <div class="text-sm text-center">se connecter avec</div>
        <div
          class="
            flex flex-row
            justify-center
            py-2
            rounded-lg
            space-x-3
            cursor-pointer
          "
          style="background-color: #214f8b"
        >
          <div class="mt-1">
            <img src="assets/fb.svg" alt="" class="" />
          </div>
          <div class="" style="color: #fff">Facebook</div>
        </div>
      </div>
      <div class="" align="center">
        <div class="cursor-pointer inline">
          Vous n’avez pas encore de compte ?
        </div>
        &nbsp;
        <div
          class="cursor-pointer hover:underline inline"
          style="color: #ff3e79"
          (click)="register = true; connexion = false; remoter()"
        >
          S’inscrire
        </div>
      </div>
    </div>
  </div>

  <div
    class="h-full w-screen z-40 absolute flex justify-center items-center pb-5"
    style="background-color: rgba(0, 0, 0, 0.5)"
    id="modal1"
    *ngIf="register"
  >
    <div
      class="
        bg-white
        px-8
        h-2/5
        w-11/12
        absolute
        rounded-lg
        md:h-2/3 md:w-8/12 md:px-32
        space-y-5
        md:space-y-10
        overflow-hidden overflow-y-scroll
      "
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="register = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div class="text-center text-2xl mt-5" style="color: #ff3e79">
        Inscription
      </div>
      <form
        class="grid grid-cols-1 md:grid-cols-2 gap-5 px-2"
        [formGroup]="registerForm"
        (ngSubmit)="onRegister()"
      >
        <div class="col-span-2">
          <ul
            class="
              bg-red-700
              opacity-70
              text-white
              px-2
              rounded-md
              text-xs
              mb-5
            "
          >
            <li>{{ message }}</li>
          </ul>
        </div>
        <div class="col-span-2 md:col-span-1 relative h-12 rounded-lg">
          <input
            name=""
            id=""
            placeholder="Nom *"
            formControlName="nom"
            type="text"
            class="w-full h-full pl-9 rounded-md"
          />
          <img
            src="assets/input-user.svg"
            alt=""
            class="absolute top-3 left-4"
          />
        </div>
        <div class="col-span-2 md:col-span-1 relative h-12 rounded-lg">
          <input
            name=""
            id=""
            placeholder="Prénom *"
            formControlName="prenom"
            type="text"
            class="w-full h-full pl-9 rounded-md"
          />
          <img
            src="assets/input-user.svg"
            alt=""
            class="absolute top-3 left-4"
          />
        </div>
        <div class="relative h-12 rounded-lg col-span-2">
          <input
            name=""
            id=""
            placeholder="Email *"
            formControlName="email"
            type="email"
            class="w-full h-full pl-9 rounded-md"
          />
          <img src="assets/@.svg" alt="" class="absolute top-4 left-4" />
        </div>
        <div class="relative h-12 rounded-lg col-span-2">
          <input
            name=""
            id=""
            placeholder="Adresse *"
            formControlName="adresse"
            type="text"
            class="w-full h-full pl-3 rounded-md"
          />
        </div>
        <div class="col-span-2 md:col-span-1 relative h-12 rounded-lg">
          <input
            name=""
            id=""
            placeholder="Code Postal *"
            formControlName="code"
            type="text"
            class="w-full h-full pl-3 rounded-md"
          />
        </div>
        <div class="col-span-2 md:col-span-1 relative h-12 rounded-lg">
          <input
            name=""
            id=""
            placeholder="Ville *"
            formControlName="ville"
            type="text"
            class="w-full h-full pl-9 rounded-md"
          />
          <img src="assets/XMLID.svg" alt="" class="absolute top-3 left-3" />
        </div>
        <div class="relative h-12 rounded-lg col-span-2">
          <input
            name=""
            id=""
            placeholder="Téléphone *"
            formControlName="tel"
            type="text"
            class="w-full h-full pl-9 rounded-md"
          />
          <img
            src="assets/mdi_phone.svg"
            alt=""
            class="absolute top-3 left-3"
          />
        </div>
        <div class="relative h-12 rounded-lg col-span-2">
          <input
            name=""
            id=""
            placeholder="Mot de passe*"
            formControlName="pwd"
            [type]="pass ? 'text' : 'password'"
            class="w-full h-full pl-9 rounded-md"
          />
          <img src="assets/keys.svg" alt="" class="absolute top-3 left-4" />
          <a
            class="cursor-pointer absolute right-4 top-4 rounded-full"
            (click)="showPass()"
          >
            <img
              [src]="pass ? 'assets/eye.svg' : 'assets/eye-off.svg'"
              alt=""
              class=""
            />
          </a>
        </div>

        <button class="btn col-span-2 py-2 px-4 rounded-md" type="submit">
          S’inscrire
        </button>
        <div class="col-span-2">
          <fieldset class="border-t-2">
            <legend class="text-center px-3">Ou</legend>
          </fieldset>
        </div>
        <div class="flex flex-col col-span-2 space-y-3">
          <div class="text-sm text-center">Créez votre compte un seul clic</div>
        </div>
        <div
          class="
            col-span-2
            flex flex-row
            justify-center
            h-12
            py-3
            rounded-lg
            space-x-3
            cursor-pointer
          "
          style="background-color: #214f8b"
        >
          <div class="">
            <img src="assets/fb.svg" alt="" class="" />
          </div>
          <div class="" style="color: #fff">Facebook</div>
        </div>
        <div class="flex flex-col col-span-2 space-y-3">
          <div class="text-sm text-center">
            Vous avez déjà un compte?
            <span
              class="text-primary hover:underline cursor-pointer"
              (click)="connexion = true; register = false"
              >Se Connecter</span
            >
          </div>
        </div>
      </form>
    </div>
  </div>

  <div
    class="h-full w-screen z-40 absolute flex justify-center items-center pb-5"
    style="background-color: rgba(0, 0, 0, 0.5)"
    id="modal1"
    *ngIf="show1"
  >
    <div
      class="
        bg-white
        h-2/5
        w-11/12
        absolute
        rounded-lg
        md:h-1/2 md:w-8/12 md:px-32
      "
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="show1 = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div
        class="text-center pt-10 pb-5 md:pt-16 md:pb-1 text-2xl"
        style="color: #ff3e79"
      >
        Je détermine ma routine capillaire idéale
      </div>
      <div class="px-2">
        <img src="assets/1.svg" alt="" class="" />
      </div>
      <div class="px-10 md:px-16">
        <div class="font-bold py-5">
          à ce jour, combien de produits capillaires possedez-vous ?
        </div>
        <br />
        <div class="md:flex flex-col justify-center">
          <div class="space-x-3">
            <input type="radio" id="html" name="fav_language" value="HTML" />
            <label for="html">Moins de 3 produits </label><br />
          </div>
          <div class="space-x-3">
            <input type="radio" id="css" name="fav_language" value="CSS" />
            <label for="css">Entre 3 et 5 produits </label><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="radio"
              id="javascript"
              name="fav_language"
              value="JavaScript"
            />
            <label for="javascript">Plus de 5 produits</label>
          </div>
        </div>
      </div>
      <div class="">
        <div
          class="hidden flex-row justify-end items-center gap-4 cursor-pointer"
        >
          <img src="assets/precedent.svg" class="h-3/6" alt="" srcset="" />
          <div class="text-primary font-bold">Précédent</div>
        </div>
        <div
          class="
            flex flex-row
            justify-end
            items-center
            pr-5
            pb-5
            gap-4
            cursor-pointer
            right-0
            bottom-0
            absolute
          "
          (click)="show2 = true; show1 = false; remoter()"
        >
          <div class="text-primary font-bold">Suivant</div>
          <img src="assets/arrow_sm.svg" class="h-10" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>
  <div
    class="h-full w-screen z-40 absolute flex justify-center items-center"
    style="background-color: rgba(0, 0, 0, 0.5)"
    *ngIf="show2"
  >
    <div
      class="
        bg-white
        h-1/2
        w-11/12
        absolute
        rounded-lg
        md:h-2/3 md:w-8/12 md:px-32
      "
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="show2 = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div
        class="text-center pt-10 pb-5 md:pt-16 md:pb-1 text-2xl"
        style="color: #ff3e79"
      >
        Je détermine ma routine capillaire idéale
      </div>
      <div class="px-2">
        <img src="assets/2.svg" alt="" class="" />
      </div>
      <div class="px-10 md:px-20">
        <div class="font-bold py-5">Comment se répartisse vos produits ?</div>
        <br />
        <div class="md:flex flex-col justify-center">
          <div class="space-x-3">
            <input type="checkbox" id="html" name="fav_language" value="HTML" />
            <label for="html">Shampoing</label><br />
          </div>
          <div class="space-x-3">
            <input type="checkbox" id="css" name="fav_language" value="CSS" />
            <label for="css">Masque</label><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="checkbox"
              id="javascript"
              name="fav_language"
              value="JavaScript"
            />
            <label for="javascript">Après-shampoing</label>
          </div>
          <div class="space-x-3">
            <input type="checkbox" id="html" name="fav_language" value="HTML" />
            <label for="html">Huile</label><br />
          </div>
          <div class="space-x-3">
            <input type="checkbox" id="css" name="fav_language" value="CSS" />
            <label for="css">Créme capillaire</label><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="checkbox"
              id="javascript"
              name="fav_language"
              value="JavaScript"
            />
            <label for="javascript">Lait capillaire</label>
          </div>
          <div class="space-x-3">
            <input type="checkbox" id="css" name="fav_language" value="CSS" />
            <label for="css">Gel coiffant</label><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="checkbox"
              id="javascript"
              name="fav_language"
              value="JavaScript"
            />
            <label for="javascript">Sérum pousse cheveux</label>
          </div>
        </div>
      </div>
      <div class="flex justify-between">
        <div
          class="
            flex flex-row
            justify-end
            items-center
            pl-5
            pb-5
            gap-4
            cursor-pointer
            left-0
            bottom-0
            absolute
          "
          (click)="show1 = true; show2 = false; remoter()"
        >
          <img src="assets/precedent.svg" class="h-10" alt="" srcset="" />
          <div class="text-primary font-bold">Précédent</div>
        </div>
        <div
          class="
            flex flex-row
            justify-end
            items-center
            pr-5
            pb-5
            gap-4
            cursor-pointer
            right-0
            bottom-0
            absolute
          "
          (click)="show3 = true; show2 = false; remoter()"
        >
          <div class="text-primary font-bold">Suivant</div>
          <img src="assets/arrow_sm.svg" class="h-10" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>
  <div
    class="h-full w-screen z-40 absolute flex justify-center items-center"
    style="background-color: rgba(0, 0, 0, 0.5)"
    *ngIf="show3"
  >
    <div
      class="
        bg-white
        h-2/5
        w-11/12
        absolute
        rounded-lg
        md:h-1/2 md:w-8/12 md:px-32
      "
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="show3 = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div
        class="text-center pt-10 pb-5 md:pt-16 md:pb-1 text-2xl"
        style="color: #ff3e79"
      >
        Je détermine ma routine capillaire idéale
      </div>
      <div class="px-2">
        <img src="assets/3.svg" alt="" class="" />
      </div>
      <div class="px-10 md:px-20 p-3">
        <div class="font-bold py-5">
          Combien de temps avez-vous à accorder à l’entretien de vos cheveux ?
        </div>
        <br />
        <div class="md:flex flex-col justify-center">
          <div class="space-x-3">
            <input type="radio" id="html" name="fav_language" value="HTML" />
            <label for="html">Moins d’1H par semaine</label><br />
          </div>
          <div class="space-x-3">
            <input type="radio" id="css" name="fav_language" value="CSS" />
            <label for="css">Entre 1H et 2H par semaine </label><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="radio"
              id="javascript"
              name="fav_language"
              value="JavaScript"
            />
            <label for="javascript">Plus de 2H par semaine </label>
          </div>
        </div>
      </div>
      <div class="flex justify-between">
        <div
          class="
            flex flex-row
            justify-end
            items-center
            pl-5
            pb-5
            gap-4
            cursor-pointer
            left-0
            bottom-0
            absolute
          "
          (click)="show2 = true; show3 = false; remoter()"
        >
          <img src="assets/precedent.svg" class="h-10" alt="" srcset="" />
          <div class="text-primary font-bold">Précédent</div>
        </div>
        <div
          class="
            flex flex-row
            justify-end
            items-center
            pr-5
            pb-5
            gap-4
            cursor-pointer
            right-0
            bottom-0
            absolute
          "
          (click)="show4 = true; show3 = false; remoter()"
        >
          <div class="text-primary font-bold">Suivant</div>
          <img src="assets/arrow_sm.svg" class="h-10" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>
  <div
    class="h-full w-screen z-40 absolute flex justify-center items-center"
    style="background-color: rgba(0, 0, 0, 0.5)"
    *ngIf="show4"
  >
    <div
      class="
        bg-white
        h-2/5
        w-11/12
        absolute
        rounded-lg
        md:h-1/2 md:w-8/12 md:px-32
      "
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="show4 = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div
        class="text-center pt-10 pb-5 md:pt-16 md:pb-1 text-2xl"
        style="color: #ff3e79"
      >
        Je détermine ma routine capillaire idéale
      </div>
      <div class="px-2">
        <img src="assets/4.svg" alt="" class="" />
      </div>
      <div class="px-10 md:px-20 py-3">
        <div class="font-bold py-5">
          Quel est votre budget pour l’achat de vos produits capillaires ?
        </div>
        <br />
        <div class="md:flex flex-col justify-center">
          <div class="space-x-3">
            <input type="radio" id="html" name="fav_language" value="HTML" />
            <label for="html">Moins de 50€ par mois</label><br />
          </div>
          <div class="space-x-3">
            <input type="radio" id="css" name="fav_language" value="CSS" />
            <label for="css">Entre 50€ et 100€ par mois</label><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="radio"
              id="javascript"
              name="fav_language"
              value="JavaScript"
            />
            <label for="javascript">Plus de 100€ par mois</label>
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div
          class="
            flex flex-row
            justify-end
            items-center
            pl-5
            pb-5
            gap-4
            cursor-pointer
            left-0
            bottom-0
            absolute
          "
          (click)="show3 = true; show4 = false; remoter()"
        >
          <img src="assets/precedent.svg" class="h-10" alt="" srcset="" />
          <div class="text-primary font-bold">Précédent</div>
        </div>
        <div
          class="
            flex flex-row
            justify-end
            items-center
            pr-5
            pb-5
            gap-4
            cursor-pointer
            right-0
            bottom-0
            absolute
          "
          (click)="show5 = true; show4 = false; remoter()"
        >
          <div class="text-primary font-bold">Suivant</div>
          <img src="assets/arrow_sm.svg" class="h-10" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>

  <div
    class="h-full w-screen z-40 absolute flex justify-center items-center"
    style="background-color: rgba(0, 0, 0, 0.5)"
    *ngIf="show5"
  >
    <div
      class="
        bg-white
        h-auto
        absolute
        rounded-lg
        pb-24
        w-11/12
        md:w-8/12 md:px-32
      "
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="show5 = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div
        class="text-center pt-10 pb-5 md:pt-16 md:pb-1 text-2xl"
        style="color: #ff3e79"
      >
        Je détermine ma routine capillaire idéale
      </div>
      <div class="px-2">
        <img src="assets/5.svg" alt="" class="" />
      </div>
      <div class="px-10 md:px-20 py-3">
        <div class="font-bold py-5">
          Qu’est ce qui caracterise une bonne routine capillaire selon vous ?
        </div>
        <br />

        <div class="md:flex flex-col justify-center">
          <div class="space-x-3">
            <input type="radio" id="html" name="fav_language" value="HTML" />
            <label for="html"
              >Une bonne routine uniquement à base de produits naturels ?</label
            ><br />
          </div>
          <div class="space-x-3">
            <input type="radio" id="css" name="fav_language" value="CSS" />
            <label for="css"
              >Une bonne routine simplifiée, qui va droit au but ?</label
            ><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="radio"
              id="javascript"
              name="fav_language"
              value="JavaScript"
            />
            <label for="javascript"
              >Une bonne routine simplifiée, qui va droit au but ?</label
            >
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div
          class="
            hidden
            md:flex
            flex-row
            justify-end
            items-center
            pl-5
            pb-5
            gap-4
            cursor-pointer
            left-0
            bottom-0
            absolute
          "
          (click)="show4 = true; show5 = false; remoter()"
        >
          <img src="assets/precedent.svg" class="h-10" alt="" srcset="" />
          <div class="text-primary font-bold">Précédent</div>
        </div>
        <div
          class="
            text-center
            py-2
            ml-16
            md:ml-0
            cursor-pointer
            rounded-lg
            content-center
            px-5
            bottom-6
            absolute
          "
          style="background-color: #ff3e79; color: #fff"
          (click)="show5 = false"
        >
          Valider
        </div>
        <div
          class="
            hidden
            flex-row
            justify-end
            items-center
            pr-5
            pb-5
            gap-4
            cursor-pointer
            right-0
            bottom-0
            absolute
          "
        >
          <div class="text-primary font-bold">Suivant</div>
          <img src="assets/arrow_sm.svg" class="h-10" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>

  <div
    class="
      min-h-full min-w-screen
      z-40
      absolute
      flex
      justify-center
      items-center
    "
    style="background-color: rgba(0, 0, 0, 0.5)"
    *ngIf="false"
  >
    <div
      class="
        bg-white
        h-2/5
        w-11/12
        absolute
        rounded-lg
        md:h-1/2 md:w-8/12 md:px-32
      "
    >
      <div
        class="absolute right-0 pr-2 pt-2 cursor-pointer"
        (click)="show5 = false"
      >
        <img src="assets/close.svg" alt="" class="" />
      </div>
      <div
        class="text-center pt-10 pb-5 md:pt-16 md:pb-1 text-2xl"
        style="color: #ff3e79"
      >
        Je détermine ma routine capillaire idéale
      </div>
      <div class="px-2">
        <img src="assets/5.svg" alt="" class="" />
      </div>
      <div class="px-10 md:px-20 py-3">
        <div class="font-bold py-5">
          Qu’est ce qui caracterise une bonne routine capillaire selon vous ?
        </div>
        <br />
        <div class="md:flex flex-col justify-center">
          <div class="space-x-3">
            <input type="radio" id="html" name="fav_language" value="HTML" />
            <label for="html"
              >Une bonne routine uniquement à base de produits naturels ?</label
            ><br />
          </div>
          <div class="space-x-3">
            <input type="radio" id="css" name="fav_language" value="CSS" />
            <label for="css"
              >Une bonne routine simplifiée, qui va droit au but ?</label
            ><br />
          </div>
          <div class="space-x-3 pr-2">
            <input
              type="radio"
              id="javascript"
              name="fav_language"
              value="JavaScript"
            />
            <label for="javascript"
              >Une routine qui répond à l’ensemble des problématiques capillaire
              ?</label
            >
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <div
          class="
            hidden
            md:flex
            flex-row
            justify-end
            items-center
            pl-5
            pb-5
            gap-4
            cursor-pointer
            left-0
            bottom-0
            absolute
          "
          (click)="show4 = true; show5 = false; remoter()"
        >
          <img src="assets/precedent.svg" class="h-10" alt="" srcset="" />
          <div class="text-primary font-bold">Précédent</div>
        </div>
        <div
          class="
            text-center
            md:py-3
            ml-16
            md:ml-0
            cursor-pointer
            rounded-lg
            content-center
            w-32
            md:w-40 md:h-12
            bottom-6
            absolute
          "
          style="background-color: #ff3e79; color: #fff"
          (click)="show5 = false"
        >
          Valider
        </div>
        <div
          class="
            hidden
            flex-row
            justify-end
            items-center
            pr-5
            pb-5
            gap-4
            cursor-pointer
            right-0
            bottom-0
            absolute
          "
        >
          <div class="text-primary font-bold">Suivant</div>
          <img src="assets/arrow_sm.svg" class="h-10" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
