/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.carousel-dot {
  background-color: #ffcedd !important;
  width: 15px !important;
  height: 15px !important;
}

.carousel-dot-active {
  background-color: #ff3e79 !important;
}

.bg-primary {
  background-color: #ff3e79;
}

.text-primary {
  color: #ff3e79;
}

.border-primary {
  border-color: #ff3e79 !important;
}

*:focus {
  // outline: #ff680c;
  outline: none !important;
}

input:focus,
textarea:focus {
  outline: none !important;
  border: 2px solid #ff680c !important;
}
.hoverlink {
  color: #ff3e79;
  transition: transform 0.2s;
}

.hoverlink:hover {
  color: #ff680c !important;
  transform: scale(1.1);
}

.btn {
  color: #ffffff !important;
  background-color: #ff3e79 !important;
}

.btn:hover {
  background-color: #ff680c !important;
  color: #ffffff !important;
}

.btn:disabled,
.btn[disabled] {
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: initial !important;
}

.link:focus {
  background-color: transparent;
  outline: none;
  border-right: 1px solid #ff3e79;
} //focus:bg-gray-200 focus:outline-none focus:shadow-outline

.menu:hover {
  color: #ff680c;
  cursor: pointer;
}

.svgt:hover {
  background-color: #eee;
}

.hover:hover {
  color: #ff680c !important;
}
