<div
  class="flex flex-col items-center px-10 py-20 space-y-10 md:px-44 md:text-2xl"
>
  <div class="font-bold mt-10" style="color: #ff3e79">Qui sommes-nous</div>
  <div class="w-full">
    Bigoodee est née de l’idée de vouloir révolutionner le rapport à la beauté
    des femmes aux cheveux texturés (bouclés, frisés et crépus).
  </div>
  <div class="w-full">
    Face au besoin constant de ces femmes, de bénéficier de conseils pour
    prendre soin de leurs cheveux, d’échanger avec des professionnelles
    spécialistes du capillaire, d’acheter des soins vraiment adaptés à leur type
    de cheveux… Nous avons décidé de créer Bigoodee, qui allait pouvoir en même
    temps leur proposer une application mobile et une plateforme web qui allait
    leur permettre de réserver une coiffeuse à domicile, spécialiste de leurs
    types de cheveux, assister à des ateliers capillaires réalisés par des
    expertes capillaires où elles vont pouvoir bénéficier de conseils pour
    entretenir leurs cheveux et acheter leurs soins capillaires, fabriquer leurs
    propres soins grâce aux nombreuses recettes présentes sur la plateforme.
  </div>
  <div class="w-full">
    Nous avons construit une équipe entièrement dédiée, constitué de
    professionnelles passionnées et à l’écoute.
  </div>
</div>
