<div class="hidden sm:block">
  <app-atelier-header [head]="'atelier'"></app-atelier-header>
</div>
<div class="sm:block hidden py-7 w-full h-0.5 overflow-hidden">
  <img
    class="px-2 overflow-hidde w-screen"
    src="assets/line.svg"
    alt=""
    srcset=""
  />
</div>
<div class="w-screen overflow-hidden p-10 md:px-32 space-y-20">
  <div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
      <div class="space-y-2">
        <div
          class="relative border-2 rounded-2xl flex flex-col pb-2 pt-10"
          style="border-color: #ff3e79"
        >
          <span
            class="
              absolute
              transform
              rotate-45
              top-2
              -right-7
              rounded
              px-2
              text-white
              uppercase
            "
            style="background-color: #ff3e79"
          >
            complet
          </span>
          <div class="w-full">
            <div class="w-full">
              <img class="w-full" src="assets/domicile.svg" alt="" />
            </div>
            <div class="flex flex-row px-5 space-x-5">
              <div class="flex flex-col">
                <div class="flex flex-row items-center space-x-2">
                  <div class=""><img src="assets/mark.svg" alt="" /></div>
                  <div class="">Nantes</div>
                </div>
                <div class="flex flex-row items-center space-x-2">
                  <div><img src="assets/time.svg" alt="" /></div>
                  <div class="font-semibold">14h00</div>
                </div>
              </div>
              <div>
                <div class="flex flex-row items-center space-x-2">
                  <div><img src="assets/calendar.svg" alt="" /></div>
                  <div>26 Février 2021</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center font-bold text-lg">
          <div class="inline" style="color: #ff3e79">ATELIER À DOMICILE</div>
          | 26 Février
        </div>
      </div>
      <div class="space-y-2">
        <div
          class="relative border-2 rounded-2xl flex flex-col px-5"
          style="border-color: #ff3e79"
        >
          <span
            class="
              absolute
              transform
              rotate-45
              top-2
              -right-7
              rounded
              px-2
              text-white
              uppercase
            "
            style="background-color: #ff3e79"
          >
            4 places
          </span>
          <div class="w-full">
            <div class="w-full">
              <img class="w-full" src="assets/ligne.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="text-center font-bold text-lg">
          <div class="inline" style="color: #ff3e79">ATELIER EN LIGNE</div>
          | 28 Février
        </div>
      </div>
      <div class="space-y-2">
        <div
          class="relative border-2 rounded-2xl flex flex-col pb-2 pt-10"
          style="border-color: #ff3e79"
        >
          <span
            class="
              absolute
              transform
              rotate-45
              top-2
              -right-7
              rounded
              px-2
              text-white
              uppercase
            "
            style="background-color: #ff3e79"
          >
            2 places
          </span>
          <div class="w-full">
            <div class="w-full">
              <img class="w-full" src="assets/domicile.svg" alt="" />
            </div>
            <div class="flex flex-row px-5 space-x-5">
              <div class="flex flex-col">
                <div class="flex flex-row items-center space-x-2">
                  <div class=""><img src="assets/mark.svg" alt="" /></div>
                  <div class="">Nantes</div>
                </div>
                <div class="flex flex-row items-center space-x-2">
                  <div><img src="assets/time.svg" alt="" /></div>
                  <div class="font-semibold">14h00</div>
                </div>
              </div>
              <div>
                <div class="flex flex-row items-center space-x-2">
                  <div><img src="assets/calendar.svg" alt="" /></div>
                  <div>13 Mars 2021</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center font-bold text-lg">
          <div class="inline" style="color: #ff3e79">ATELIER À DOMICILE</div>
          | 13 Mars
        </div>
      </div>
      <div class="space-y-2">
        <div
          class="relative border-2 rounded-2xl flex flex-col pb-2 pt-10"
          style="border-color: #ff3e79"
        >
          <span
            class="
              absolute
              transform
              rotate-45
              top-2
              -right-7
              rounded
              px-2
              text-white
              uppercase
            "
            style="background-color: #ff3e79"
          >
            complet
          </span>
          <div class="w-full">
            <div class="w-full">
              <img class="w-full" src="assets/domicile.svg" alt="" />
            </div>
            <div class="flex flex-row px-5 space-x-5">
              <div class="flex flex-col">
                <div class="flex flex-row items-center space-x-2">
                  <div class=""><img src="assets/mark.svg" alt="" /></div>
                  <div class="">Nantes</div>
                </div>
                <div class="flex flex-row items-center space-x-2">
                  <div><img src="assets/time.svg" alt="" /></div>
                  <div class="font-semibold">14h00</div>
                </div>
              </div>
              <div>
                <div class="flex flex-row items-center space-x-2">
                  <div><img src="assets/calendar.svg" alt="" /></div>
                  <div>26 Février 2021</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center font-bold text-lg">
          <div class="inline" style="color: #ff3e79">ATELIER À DOMICILE</div>
          | 26 Février
        </div>
      </div>
      <div class="space-y-2">
        <div
          class="relative border-2 rounded-2xl flex flex-col px-5"
          style="border-color: #ff3e79"
        >
          <span
            class="
              absolute
              transform
              rotate-45
              top-2
              -right-7
              rounded
              px-2
              text-white
              uppercase
            "
            style="background-color: #ff3e79"
          >
            4 places
          </span>
          <div class="w-full">
            <div class="w-full">
              <img class="w-full" src="assets/ligne.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="text-center font-bold text-lg">
          <div class="inline" style="color: #ff3e79">ATELIER EN LIGNE</div>
          | 28 Février
        </div>
      </div>
      <div class="space-y-2">
        <div
          class="relative border-2 rounded-2xl flex flex-col px-5"
          style="border-color: #ff3e79"
        >
          <span
            class="
              absolute
              transform
              rotate-45
              top-2
              -right-7
              rounded
              px-2
              text-white
              uppercase
            "
            style="background-color: #ff3e79"
          >
            1 place
          </span>
          <div class="w-full">
            <div class="w-full">
              <img class="w-full" src="assets/ligne.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="text-center font-bold text-lg">
          <div class="inline" style="color: #ff3e79">ATELIER EN LIGNE</div>
          | 18 Mars
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
      <div class="col-span-1 uppercase text-primary font-bold text-xl">
        Trouver un atelier proche de chez vous
      </div>
      <div
        class="
          col-span-2
          uppercase
          color-primary
          font-bold
          text-xs
          md:text-xl
          relative
        "
      >
        <img
          class="absolute w-5 md:w-8 left-7 md:left-28 top-2"
          src="assets/search.svg"
          alt=""
          srcset=""
        />
        <input
          class="
            w-full
            border-2 border-primary
            text-center
            py-2
            rounded-xl
            md:pl-20
            pl-10
          "
          placeholder="indiquer le nom de votre ville"
          type="search"
          name=""
          id=""
        />
      </div>
    </div>
  </div>

  <div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
      <div
        class="
          text-primary text-center text-lg
          flex
          items-center
          justify-around
          md:px-20
          font-semibold
        "
      >
        Nous avons trouver des ateliers proche de vous
      </div>
      <div class="space-y-2 flex flex-col items-center">
        <div
          class="relative border-2 rounded-2xl flex flex-col pb-2 pt-10"
          style="border-color: #ff3e79"
        >
          <span
            class="
              absolute
              transform
              rotate-45
              top-2
              -right-7
              rounded
              px-2
              text-white
              uppercase
            "
            style="background-color: #ff3e79"
          >
            complet
          </span>
          <div class="w-full">
            <div class="w-full">
              <img class="w-full" src="assets/domicile.svg" alt="" />
            </div>
            <div class="flex flex-row px-5 space-x-5">
              <div class="flex flex-col">
                <div class="flex flex-row items-center space-x-2">
                  <div class=""><img src="assets/mark.svg" alt="" /></div>
                  <div class="">Nantes</div>
                </div>
                <div class="flex flex-row items-center space-x-2">
                  <div><img src="assets/time.svg" alt="" /></div>
                  <div class="font-semibold">14h00</div>
                </div>
              </div>
              <div class="flex flex-col">
                <div class="flex flex-row items-center space-x-2">
                  <div><img src="assets/calendar.svg" alt="" /></div>
                  <div>26 Février 2021</div>
                </div>
                <div class="text-primary text-xs md:text-base">
                  Atelier capillaire | Chez julianne
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center font-bold text-lg">
          <div class="inline" style="color: #ff3e79">ATELIER À DOMICILE</div>
          | 26 Février
        </div>
        <button class="px-10 my-10 py-2 bg-primary text-white rounded-lg">
          Je reserve ma place
        </button>
      </div>
      <div class="space-y-2 flex flex-col items-center">
        <div
          class="relative border-2 rounded-2xl flex flex-col my-"
          style="border-color: #ff3e79"
        >
          <span
            class="
              absolute
              transform
              rotate-45
              top-2
              -right-7
              rounded
              px-2
              text-white
              uppercase
            "
            style="background-color: #ff3e79"
          >
            4 places
          </span>
          <div class="w-full">
            <div class="w-full">
              <img class="w-full" src="assets/ligne.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="text-center font-bold text-lg">
          <div class="inline" style="color: #ff3e79">ATELIER EN LIGNE</div>
          | 28 Février
        </div>
        <button class="px-10 my-10 py-2 bg-primary text-white rounded-lg">
          Je reserve ma place
        </button>
      </div>
    </div>
  </div>
</div>

<div class="w-screen overflow-hidden p-10 md:px-32"></div>
