<app-header></app-header>
<div
  class="
    flex flex-col
    items-center
    px-10
    py-10
    mt-10
    mb-20
    md:px-32
    text-gray-600 text-lg
    min-h-auto
  "
>
  <div class="mb-10 font-bold md:text-2xl" style="color: #ff3e79">
    Mentions Légales
  </div>
  <div class="flex flex-row gap-2 w-full">
    <h1 class="font-semibold">Editeur du site Internet :</h1>
    <p>LGM WEEB</p>
  </div>
  <div class="flex flex-row gap-2 w-full">
    <h1 class="font-semibold">Statut de la société :</h1>
    <p>EURL</p>
  </div>
  <div class="flex flex-row gap-2 w-full">
    <h1 class="font-semibold">RCS :</h1>
    <p>Nantes n° 824.781.694</p>
  </div>
  <div class="flex flex-row gap-2 w-full">
    <h1 class="font-semibold">Capital social :</h1>
    <p>€1000,00</p>
  </div>
  <div class="flex flex-row gap-2 w-full">
    <h1 class="font-semibold">Siège social :</h1>
    <p>9 rue du petit chatelier, 44300 Nantes</p>
  </div>
  <div class="flex flex-row gap-2 w-full">
    <h1 class="font-semibold">Adresse électronique :</h1>
    <p>contact@bigoodee.com</p>
  </div>
  <div class="flex flex-row gap-2 w-full">
    <h1 class="font-semibold">Représentant légal :</h1>
    <p>MICKALA Louis-Gatien</p>
  </div>
  <div class="flex flex-row gap-2 w-full">
    <h1 class="font-semibold">Nom du Directeur de la publication :</h1>
    <p>MICKALA Louis-Gatien</p>
  </div>
  <div class="flex flex-row gap-2 w-full">
    <h1 class="font-semibold">Hébergeur du site Internet :</h1>
    <p>Ionos, 7 place de la Gare 57200 Sarreguemines.</p>
  </div>
</div>
<app-footer></app-footer>
