<app-header> </app-header>

<!-- <app-programme-header></app-programme-header> -->
<div class="flex flex-col items-center px-10 mb-10">
  <div class="my-5 md:space-x-44 flex flex-row md:my-10" style="color: #ff3e79">
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/connaitre-ses-cheveux"
    >
      Connaitre ses cheveux
    </div>
    <div
      class="hidden font-bold cursor-pointer md:flex hove hoverlinkeffet"
      routerLink="/programmes/routine-capillaire"
    >
      Routines capillaires
    </div>
    <div
      class="font-bold cursor-pointer border-b-2 hove hoverlinkeffet"
      style="border-color: #ff3e79"
      routerLink="/programmes/recette"
    >
      Recettes
    </div>
  </div>
  <div
    class="
      flex flex-col
      px-10
      space-y-10
      md:items-center md:px-44
      text-gray-600
    "
  >
    <div
      class="flex flex-col items-center mt-10 md:text-2xl"
      style="background-color: #e4e4e4; color: #ff3e79"
    >
      Shampoing clarifiant a l’argile
    </div>
    <div class="grid grid-cols-2 space-x-3 md:space-x-40">
      <div class="flex flex-col items-center">
        <img src="assets/horloge.svg" alt="" class="w-20 md:w-32" />
        <p>30 min</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="assets/objectif.svg" alt="" class="w-20 md:w-32" />
        <p>Cheveux sales</p>
      </div>
    </div>
    <div class="space-y-5 w-full">
      <h1 class="" style="color: #ff680c">Ingrédients :</h1>
      <div class="">
        <P> - 3 C.À.S d’argile </P>
        <P>- 3 C.À.S de vinaigre de cidre de pommes </P>
        <P>- Eau minerale</P>
        <p>- 20 gouttes d’huiles essentielles de romarin</p>
      </div>
    </div>
    <div class="space-y-5 w-full">
      <h1 class="" style="color: #ff680c">Recette :</h1>
      <p>- Mélanger le tout et laisse reposer durant 30min environ</p>
    </div>
    <div
      class="flex flex-col items-center md:text-2xl"
      style="background-color: #e4e4e4; color: #ff3e79"
    >
      Shampoing clarifiant au vinaigre de cidre
    </div>
    <div class="grid grid-cols-2 space-x-3 md:space-x-40">
      <div class="flex flex-col items-center">
        <img src="assets/horloge.svg" alt="" class="w-20 md:w-32" />
        <p>10 min</p>
      </div>
      <div class="flex flex-col items-center">
        <img src="assets/objectif.svg" alt="" class="w-20 md:w-32" />
        <p>Cheveux sales</p>
      </div>
    </div>
    <div class="space-y-5 w-full">
      <h1 class="" style="color: #ff680c">Ingrédients :</h1>
      <div class="">
        <P>- 1 C.À.S de vinaigre de cidre de pommes</P>
        <P>- 1 C.À.S de sirop d’agve</P>
        <P>- 1 C.À.S de poudre de rose</P>
        <p>- 1 C.À.S de poudrede multani mitti</p>
        <p>- 1 C.À.S de poudre hydratadante ( baobab, guimauve...)</p>
        <p>- Eau chaude</p>
      </div>
    </div>
    <div class="space-y-5 w-full pb-10">
      <h1 class="" style="color: #ff680c">Recette :</h1>
      <p>- Mélanger le tout et laisse reposer durant 30min environ</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
